﻿body {
    max-width: 980px;
}

.banner-right
{
    width:15%;
}

.voltar-origem-detalhes {
    text-decoration: none;
    margin-left: 25px;
}

.voltar-origem-filtro {
    text-decoration: none;
    margin-left: 30px;
}

span.phone {
    display: none;
}

span.endereco-cidade {
    display: none;
}

span.endereco-estado {
    display: none;
}

li.especialidade {
    display: none;
}

span.especialidade {
    display: none;
}

@media print {

    .no-print, .no-print * {
        display: none !important;
    }

    /*.chkImprimir:not(:checked) {
        display: none !important;
    }*/

    .chkImprimir 
    {
        position: absolute;
        margin-top: 17px;
    } 
    
    

    .endereco-completo {
        display: inline-block;
    } 
    
    tr.selecionado {
        display: block;
    }
    
    span.phone {
        display:block;
    }

    span.endereco-cidade {
        display: inline-block;
    }

    span.especialidade {
        display: block;
    }
}