html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 10px;
    background-color: #F3F3F3;
    font-size: 12px;
    padding-left: 50px;
}

.page_busca_legenda_qualificacoes {
    margin: 0 auto 20px 40px;
    padding-top: 22px;
    position: relative;
    width: 900px;
    float: left;
}

.instrucoes_normativas_dides {
    width: 100%;
    float: left;
}

.page_busca_legenda_qualificacoes table {
    margin-top: 0px;
    width: 100%;
    color: #303030;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 30px;
}

.page_busca_legenda_qualificacoes p {
    width: 100%;
    padding-bottom: 12px;
    padding-top: 12px;
    color: #a19062;
}

.page_busca_legenda_qualificacoes h4 {
    background: #a19062;
    color: #ffffff;
    font-size: 10px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    border-bottom: solid thin #A19062;
}


a {
    text-decoration: underline;
}

.ddl-padrao {
    border: 1px solid #A19062;
    height: 23px;
}

.ddl-estado {
    width: 100px;
}

.ddl-cidade-bairro {
    width: 190px;
}

.titulo-busca-rede {
    font-size: 18px;
    color: #003777;
}

.input-search-prestadores {
    width: 623px;
    height: 30px;
}

.box-input-search {
    border: 1px solid #A19062;
    width: 665px;
    height: 32px !important;
}

    .box-input-search input {
        display: inline-block;
        outline: 0;
        border: 0;
        padding: 5px;
    }

    .box-input-search .button {
        background: url(../img/logo-search.png);
        background-repeat: no-repeat;
        color: #fff;
        font-weight: bold;
        border: none;
        float: right;
        padding: 8px 10px;
        width: 40px;
        height: 33px;
    }


.localizados {
    font-weight: bold;
    font-size: 12px;
    color: #6e6e6e;
}

.sidebar-result {
    background-color: #FFFFFF;
}

.row-space {
    margin-top: 10px;
}

.row-space-table {
    margin-top: 25px;
    margin-left: 0px;
}

.row-space-menu {
    margin-top: 20px;
    margin-left: -2px;
}

.titulo-busca-avancada-omint {
    font-size: 15px;
    color: #A19062;
    padding: 0 0 5px 5px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: solid thin #A19062;
    font-weight: bold;
}

.prestador-preferencial-title {
    width: 123px;
    height: 55px;
    float: left;
}

.rotas-title {
    width: 85px;
    height: 55px;
    float: left;
}

.imprimir-selecionados-title {
    width: 120px;
    height: 69px;
    float: left;
}

.redes-sociais-title {
    width: 120px;
    height: 69px;
    float: left;
}

.ordenar-combo-title {
    width: 136px;
    height: 55px;
    float: left;
}

.espaco-banner-container {
    float: right;
    width: 165px;
    height: 541px;
}

.espaco-banner-img {
    background-size: cover;
    margin-top: 6px;
    width: 100px;
    height: 130px;
}

td > span > a:link {
    text-decoration: none;
}



.espaco-banner-1 > img {
    background-size: cover;
    /*width: 152px !important;
        height: 170px !important;*/
}

.resultado-pesquisa-cabecalho {
    float: left;
    width: 584px;
    height: auto;
}

.logo-align {
    margin-left: 10px;
    margin-top: 10px;
}

.logo-align-redes {
    margin-left: 3px;
    margin-top: 10px;
}

.combobox-ordenar-por {
    width: 124px;
    height: 37px;
    margin-top: 10px;
}

.table-result > tbody > tr > td {
    width: 576px;
}

.table-result > tbody > tr:nth-of-type(odd) {
    background-color: #fdfdfd;
}

.result-omint-container {
    height: auto;
    width: 565px;
    float: left;
}

.detalhes-registro {
    margin-top: 20px;
}

.detalhes-align {
    margin-left: 30px;
}

.titulo-detalhe {
    color: #6e6e6e;
    font-size: 14px;
    font-weight: bold;
}

.detalhe-info {
    color: #929292;
    font-size: 12px;
}

.pim-mapa-detalhes {
    margin-top: -30px !important;
}

.detalhes {
    background-color: #fdfdfd;
}

.detalhes-cabecalho {
    height: 63px;
}

.detalhes-padrao-qualidade {
    background-color: red;
    height: 35px;
}

.detalhes-icone {
    width: 48px;
    height: 28px;
    background-color: green;
    margin-left: 28px;
    margin-top: 3px;
}

.avaliacao-filtro {
    cursor: pointer;
}

.logo-prestador-align {
    margin-left: -5px;
}

.div-table-container {
    width: 565px;
}

.div-imagem-pim-mapa {
    width: 119px;
    margin-top: -11px; /* margin-top: -40px;  */
    cursor: pointer;
}

.div-prestador {
    word-wrap: break-word;
}

.span-texto-conteudo-prestador {
    font-size: 14px;
    margin-left: -50px;
    color: #6a6a6a;
    font-weight: bold;
    display: block;
}

.span-texto-conteudo {
    font-size: 12px;
    margin-left: -50px;
    color: #8b8b8b;
}

.menu-lateral-localizados {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: bold;
}

.localizacao-sidebar {
    margin-top: 22px;
}

.rede-plano {
    color: #d2ae62;
    font-weight: bold;
    font-size: 14px;
}

.cabecalho-item-menu-lateral {
    color: #6f6f6f;
    font-weight: bold;
    font-size: 14px;
}

.row > .col-lg-12 > span {
    font-size: 11px;
    color: #6e6e6e;
    width: auto !important;
}

    .row > .col-lg-12 > span > a:link {
        color: #6e6e6e;
        text-decoration: none;
    }

.table-result > tbody > tr > td > a:link {
    text-decoration: none;
}

.box-busca-avancada {
    width: 212px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #003777;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 5px;
}

    .box-busca-avancada:hover {
        cursor: pointer;
    }

.box-busca-avancada-espaco {
    margin-left: 42px;
}

.texto-busca-avancada {
    margin-top: 15px;
    margin-left: 15px;
}

.detalhes-align-estrelas {
    margin-left: 43px;
}

.texto-busca-avancada-odonto {
    margin-left: 50px !important;
}

.texto-busca-avancada-hospmat {
    margin-top: 15px;
    margin-left: -9px;
}

.texto-busca-avancada > a > span {
    color: #446c9b;
    font-size: 12px;
    font-weight: bold;
}

.texto-busca-avancada > a:link {
    text-decoration: none;
}

.planos-atendidos-detalhes {
    margin-left: 40px;
}

.btn-omintexpress {
    border-color: #A19062;
    background-color: #A19062;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
}

    .btn-omintexpress:hover {
        background-color: #2F2F2F;
        color: #fff;
    }

span.nota-estrela,
span.nota-estrela span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

    span.nota-estrela span {
        background-position: 0 0;
    }

.rede_conteudo {
    width: 900px;
    min-height: 140px;
    margin-left: 41px;
}

.clearboth {
    clear: both;
}

.rede_conteudo_1 {
    display: block;
    height: 170px;
}

.rede_conteudo_titulo {
    font-size: 16px;
    color: #a19062;
    text-align: center;
    padding-top: 32px;
    margin-top: 0 !important;
    font-weight: bold;
}

.rede_conteudo_cartao {
    margin-top: 17px;
    margin-left: 12px;
}

    .rede_conteudo_cartao img {
        cursor: pointer;
    }

.rede_conteudo_2_mini {
    height: 103px;
    display: none;
    position: relative;
}


    .rede_conteudo_2_mini .premium_estilo {
        position: absolute;
        left: 300px;
        display: none;
    }

    .rede_conteudo_2_mini .premium_tipo {
        float: left;
        font-size: 15px;
        color: #182743;
        padding: 5px 0 0 120px;
    }

    .rede_conteudo_2_mini .saiba_mais {
        font-size: 10px;
        color: #303030;
        margin-top: 25px;
        padding-left: 43px;
        margin-left: 75px;
        margin-right: 80px;
    }

    .rede_conteudo_2_mini .premium_integral {
        position: absolute;
        left: 300px;
        display: none;
    }

        .rede_conteudo_2_mini .premium_integral .saude_integral {
            margin-left: -25px;
        }

    .rede_conteudo_2_mini .premium_odonto {
        position: absolute;
        left: 50px;
        display: none;
    }

        .rede_conteudo_2_mini .premium_odonto .odontologia {
            margin-left: 225px;
        }

    .rede_conteudo_2_mini .skill_tipo {
        float: right;
        font-size: 16px;
        color: #182743;
        padding: 7px 110px 0 0;
        text-align: right;
    }

    .rede_conteudo_2_mini .saiba_mais {
        font-size: 10px;
        color: #303030;
        margin-top: 25px;
        padding-left: 43px;
        margin-left: 75px;
        margin-right: 80px;
    }

.saiba_mais_skill {
    margin-right: 140px !important;
}

.rede_aba {
    margin-left: 41px;
    min-height: 20px;
    width: 899px;
}

.rede_med_odo {
    position: relative;
}

.red_med {
    position: absolute;
    left: 0;
    z-index: 5;
}

.red_odo {
    position: absolute;
    right: 0;
}

.rede_aba_divisao_medica {
    float: left;
    width: 31px;
    height: 34px;
    border-bottom: 1px solid #A19062;
}

.rede_aba_divisao_odonto {
    float: left;
    width: 28px;
    height: 34px;
    border-bottom: 1px solid #A19062;
}

.rede_aba_inativa_odo {
    float: left;
    width: 758px;
    height: 34px;
    border-bottom: 1px solid #a19062;
    cursor: pointer;
}

.rede_aba_ativa_med {
    float: left;
    width: 124px;
    height: 34px;
    border-bottom: 1px solid #a19062;
    background-color: #fff;
}

.rede_aba p {
    margin-left: 35px;
    font-size: 12px;
    font-weight: bold;
    margin-top: -15px;
}

.red_med img {
    margin-top: 9px;
    margin-left: 15px;
}

.red_odo img {
    margin-top: 15px;
    margin-left: 15px;
}

.rede_aba_inativa_med {
    float: left;
    width: 742px;
    height: 34px;
    border-bottom: 1px solid #a19062;
    cursor: pointer;
}

.rede_aba_ativa_odo {
    float: left;
    width: 174px;
    height: 34px;
    border-bottom: 1px solid #a19062;
    background-color: #fff;
}

.rede_conteudo_rede_consulta_select {
    float: left;
    margin: 16px 0 0 274px;
    width: 310px;
    height: 23px;
    overflow: hidden;
}

.rede_conteudo_rede_consulta_bt {
    float: left;
    margin: 16px 10px 0;
}

.rede_conteudo_rede_consulta_select select {
    border: none;
    background: none;
    font-style: italic;
    color: #bcbcbc !important;
    width: 310px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-top: 2px;
    padding-left: 7px;
    font-family: sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #999 !important;
}

.paginacao {
    margin-left: 160px;
}

    .paginacao > span {
        padding-left: 5px !important;
        font-weight: bold;
        font-size: 16px;
    }

    .paginacao > a {
        font-size: 16px;
        color: #6e6e6e;
        padding-left: 5px;
    }

        .paginacao > a:link {
            text-decoration: none;
        }

div.row ~ span.cabecalho-item-menu-lateral {
    padding-top: 10px;
}

div.sidebar ul.filtros {
    padding-left: 25px;
}

    div.sidebar ul.filtros li {
        word-wrap: break-word;
        height: 20px;
    }

        div.sidebar ul.filtros li a {
            text-decoration: none !important;
            color: #333;
            font-size: 11px;
        }

        div.sidebar ul.filtros li label {
            font-weight: normal;
            font-size: 11px;
        }

div.sidebar ul.filtros li label input[type="checkbox"]{
    vertical-align: middle;
    position: relative;
    bottom: 3px;
}

div.sidebar > button#btn-filtrar {
    margin: 10px 0;
}

.expandir-filtros {
    color: #337ab7 !important;
}


.div-mapa-ver-completo {
    cursor: pointer;
    padding-top: 7px;
    padding-left: 40px;
    padding-right: 0;
}

    .div-mapa-ver-completo img {
        margin-right: 8px;
    }