﻿$color1: #9a8b6f; //all text
$color2: #a19062; //input border
$color3: #6F644E; //steps off
$color4: #baa979; //steps current
$color5: #A59A85; //enderecos title
$credencialEletronicaMarrom: #876e3d;
$credencialEletronicaAzul: #041534;
$credencialEletronicaPrata: #A7A9AC;


@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("opentype");
}

* {
    color: $color1;
    font-family: Roboto;
    font-size: 15px;
}

a {
    text-decoration: none;
}

input {
    font-family: Roboto !important;
}

ul {
    padding-left: 18px;
}

hr {
    height: 1px;
    border: none;
    background-color: $color5;
}

.textarea--underbar {
    background: transparent !important;
}

.text-input--underbar::-webkit-input-placeholder,
.textarea--underbar::-webkit-input-placeholder {
    color: $color2;
}

.text-input--underbar:invalid,
.textarea--underbar:invalid {
    border-bottom-color: $color2;
    color: $color2;
}

.switch__input:checked + .switch__toggle {
    background-color: $color4;
}

ons-page {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

ons-back-button * {
    color: $color4;
    font-size: 16px;
    font-weight: bold;
}

.navigation-bar {
    ons-icon {
        color: $color4;
    }

    &__title {
        color: $color4;
    }
}

input[type=number],
input[type=email],
input[type=password],
input[type=text],
textarea {
    border: 0 !important;
    border-bottom: 1px solid $color2 !important;
    color: $color1 !important;
    /*display: block;*/
    height: 100%;
    padding: 25px 8px 10px !important;
    width: 100%;
}

map-button {
    border: 1px solid $color1;
    border-radius: 3px;
    color: $color1;
    font-size: 17px;
    margin: 5px;
    padding: 5px 10px 2px;

    ons-icon {
        margin: 2px 5px 5px 0;
        vertical-align: middle !important;
        font-size: 25px !important;
    }
}

.data-table-1 {
    table-layout: fixed;
    width: 100%;

    td {
        vertical-align: top;
        padding: 4px 0;

        &:first-child {
            text-align: right;
            font-size: 14px;
            padding-top: 5px;
            padding-right: 3px;
            width: 40%;
        }

        &:last-child, &:last-child * {
            font-weight: bold;
            color: $color5;
        }
    }
}

.narrow-pct {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.narrow-px {
    margin-left: 20px;
    margin-right: 20px;
}

.margin-bottom-px {
    margin-bottom: 20px;
}

.hr-narrow-pct {
    width: 80%;
}

.dark-separator {
    background: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
}

.absolute-wide {
    position: absolute;
    left: 0;
    right: 0;
}

.absolute-full {
    @extend .absolute-wide;
    top: 0;
    bottom: 0;
}

.text-block {
    line-height: 23px;
    overflow: scroll;
    text-align: left;
}

.text-block-justify {
    @extend .text-block;
    text-align: justify;
}

.button {
    margin-top: 5px;
    margin-bottom: 5px;


    &--wide {
        text-align: center;
        width: 100%;
    }

    &--light1 {
        background-color: #d2cfc6;
    }

    &--light1:active {
        background-color: #fff;
    }

    @mixin ons-icon {
        ons-icon {
            font-size: 21px;
            margin: 6px 8px 5px 6px;
        }
    }

    &--icon {
        @include ons-icon;
    }

    &--left-icon {
        @include ons-icon;
        text-align: left;
    }


    &--facebook {
        background-color: #4A6EA9;

        ons-icon, span {
            color: #fff;
        }
    }
}

.page {
    &--transparent__background {
        background: transparent;
    }

    &--faded__background {
        background: rgba(42, 37, 29, 0.92);
    }

    &--full__content {
        top: 0 !important;
    }
}

radio {
    display: block;

    .radio-button__checkmark:after {
        border-color: $color5;
    }

    .radio-button__checkmark {
        border: 1px solid $color5;
    }
}


titled-box {
    display: block;

    > div:first-of-type {
        background: rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid $color3;
        border-top: 1px solid $color3;
        font-size: 17px;
        margin: 20px auto;
        padding: 5px 20px;
    }
}

checkbox {
    display: block;

    label {
        margin-bottom: 5px;
        vertical-align: middle !important;
    }
}

.center-text, loading-text, no-items-text {
    display: block;
    text-align: center;
}

steps {
    display: table;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    line-height: 8px;


    span {
        font-size: 30px;
        color: $color3;
        padding: 0 2px;
    }

    .current {
        color: $color4;
    }
}

.select-holder {
    text-align: left;
    margin-top: 12px;
    position: relative;

    > span {
        color: $color5;
    }

    > select {
        -webkit-appearance: none;
        background: none;
        border: none;
        border-bottom: 1px solid $color2 !important;
        display: inline-block;
        font-size: 15px;
        height: 45px;
        line-height: 16px;
        margin-bottom: 12px;
        margin-right: 6px;
        padding: 5px 23px 5px 5px;
        width: 100%;
    }

    &:after {
        box-sizing: border-box;
        color: $color2;
        content: "\f0dc";
        font-family: FontAwesome;
        height: 100%;
        padding: 35px 8px 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 10%;
        z-index: 1;
    }
}

.list {

    .list__item {
        &--chevron:before {
            color: $color5;
            right: 6px;
        }
    }

    &--menu {

        .list__header {
            background-color: #696050 !important;
            color: #fff !important;
            font-size: 13px;
            padding-top: 1px;
            text-transform: uppercase;
        }

        .list__item {
            background-color: #333;
            background-image: none !important;
            border-bottom: 1px solid #696050 !important;
            color: #D6BF90;

            & > ons-icon {
                text-align: center;
                width: 23px;
            }
        }
    }

    &--default {
        background: none !important;
        border-bottom: none !important;

        .list__item {
            color: $color1;
            background-image: none !important;
            border-bottom: 1px solid $color3 !important;
            line-height: normal;
            padding-top: 12px;
            padding-bottom: 12px;

            &:last-child {
                border-bottom: none !important;
            }

            &--chevron {
                padding-right: 22px;

                &:active {
                    background-color: rgba(30, 31, 29, 0.58);
                }
            }
        }
    }
}

.flex-content-row {
    display: flex;
    justify-content: space-between;

    > div {
        overflow: hidden;
        white-space: nowrap;

        &:first-child, &:not(:last-child) {
            flex-shrink: 100;
            text-overflow: ellipsis;
        }
    }
}

.text-small {
    @mixin text-small {
        font-size: 12px;
    }

    @include text-small;

    * {
        @include text-small;
    }
}

.text-highlight1 {
    color: $color5;
    font-weight: bold;
}

titled-text-block {
    > div:first-of-type {
        border-bottom: 1px solid $color5;
        color: $color5;
        padding-bottom: 3px;
        margin: 15px 0;
    }
}

.search-container {
    display: flex;

    input {
        padding-top: 6px !important;
        margin: 4px 10px 0 0 !important;
    }

    ons-button {
        border: 1px solid $color1;
        border-radius: 3px;
        height: 39px;
        padding: 5px 14px 5px 11px;
        margin: 0;

        &:active {
            border: 1px solid $color1;
        }
    }
}

[ng-controller="AssociadoListaFaturasController"] {
    ons-list-item > div {

        &:not(:last-child) {
            margin-bottom: 3px;
        }
    }
}

[ng-controller="ContatosController"] {
    ons-button span {
        font-size: 16px;
        font-weight: bold;
    }

    titled-box div:first-child {
        font-size: 18px;
    }
}

[ng-controller="AutorizacaoListaController"],
[ng-controller="ReembolsoListaController"] {
    .bottom-anchor {
        @extend .narrow-px, .absolute-wide;
        bottom: 10px;
    }

    .container {
        @extend .absolute-wide, .text-block;
        margin-bottom: 10px;
        top: 0;

        ons-list-item > div {
            .nome {
                margin-right: 10px;
            }

            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }
    }
}

[ng-controller="AssociadoPlanoListaController"] {
    hr + table {
        margin: 20px 0;
    }
}

[ng-controller="AutorizacaoDetalheController"],
[ng-controller="ReembolsoDetalheController"] {
    titled-box {

        ng-transclude > div {
            &:last-child table + hr {
                display: none;
            }

            table {
                margin: 10px 0;
            }
        }
    }
}

[ng-controller="AtendimentoDetalheController"] {
    titled-box {

        ng-transclude > div {
            &:last-child table + hr {
                display: none;
            }

            table {
                margin: 10px 0;
            }
        }
    }

    .inserir-observacao {
        margin-bottom: 10px;
    }

    textarea.text-input--underbar {
        height: 100%;
    }

    .upper {
        text-transform: uppercase;
    }
}

[ng-controller="AtendimentoListaController"],
[ng-controller="AtendimentoNovoController"],
[ng-controller="AtendimentoSucessoController"],
[ng-controller="AtendimentoNovaObservacaoController"],
[ng-controller="AutorizacaoListaController"] {
    .bottom-anchor {
        @extend .narrow-px, .absolute-wide;
        bottom: 10px;
        display: flex;

        ons-button:not(:last-child) {
            margin-right: 10px;
        }
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        margin-bottom: 10px;
        top: 0;

        ons-list-item > div {
            &:not(:last-child) {
                margin-bottom: 9px;
            }
        }
    }

    .notificacao {
        background-color: rgba(154, 122, 62, 0.24);
    }
}

[ng-controller="NoticiaListaController"] {
    .notificacao-ultimas-noticias {
        text-align: center;
        font-size: 12px;
    }
}

[ng-controller="AssociadoAtualizarCadastroController"] {
    .dados {
        margin-top: 5px;
        background: rgba(0, 0, 0, 0.3);
    }

    .beneficiario {
        @extend .outer;
        margin: 15px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    .beneficiario div {
        padding: 3px;
    }
}


[ng-controller="LoginController"] .navigation-bar__left  ons-toolbar-button span
{
    background-color: rgba(42, 37, 29, 0.61);
    padding: 4px 5px;
    margin: 4px;
    border-radius: 5px;
}

[ng-controller="HomeController"] {
    img {
        vertical-align: middle;
    }

    .modal-aviso {
        position: fixed;
        margin: 30px;
        z-index: 1000;
        background-color: #6F644E;
        color: white;
    }

    .modal-aviso h4 {
        text-align: center;
        color: white;
    }

    .modal-aviso div {
        margin: 10px;
        color: white;
    }

    .box {
        background: rgba(0, 0, 0, 0.3);
        position: relative;

        .notification {
            position: absolute;
        }
    }

    .outer {
        margin: 10px;
    }

    .large-box {
        @extend .box, .outer;
        display: flex;
        padding: 15px;

        img {
            margin-right: 5px;
            width: 60px;
        }

        .text {
            > div:first-of-type {
                font-size: 22px;
                font-weight: bold;
                margin-bottom: 10px;
            }
        }
    }

    .box-row {
        @extend .outer;
        display: flex;

        .box {
            padding: 15px 0;
            text-align: center;
            width: 50%;

            &:not(:last-child) {
                margin-right: 10px;
            }

            img {
                width: 60px;
                margin-bottom: 10px;
            }
        }
    }

    .footer {
        background: rgba(0,0,0,0);

        @extend .outer;
        text-align: center;
        padding: 10px;

        div:last-of-type {
            font-size: 10px;
            margin-top: 10px;
        }
    }

    $noticiaCorLetra: #d2cfc6;

    .news {
        @extend .outer;
        font-size: 15px;
        background: rgba(154, 139, 111, 0.5);

        .item {
            margin: 5px 0;
            padding: 10px 20px 0px 20px;

            &::after {
                clear: both;
                content: '';
                display: block;
            }

            .title {
                font-size: 16px;
                color: $noticiaCorLetra;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .calendar {
                border: 1px solid $noticiaCorLetra;
                border-radius: 3px;
                float: left;
                font-size: 13px;
                height: 70px;
                line-height: 35px;
                margin: 10px 10px 15px 0;
                text-align: center;
                width: 90px;

                > div:first-child {
                    font-size: 20px;
                    height: 50%;
                    color: $noticiaCorLetra;
                }

                > div:last-child {
                    background-color: $noticiaCorLetra;
                    color: #9a8b6f;
                    height: 50%;
                    padding: 0 10px;
                }
            }

            > ons-button {
                font-size: 15px;
                padding: 0;
                float: right;

                span {
                    color: $noticiaCorLetra;
                }
            }

            .text {

                .body {
                    height: 55px;
                    line-height: 19px;
                    overflow: hidden;

                    * {
                        color: $noticiaCorLetra;
                    }

                    p {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

[ng-controller="CredencialEletronicaPopOverController"] {
    .popover {
        width: auto;
    }

    .popover-wrapper div {
        margin: 5px 0;
        font-size: 12px;
        color: $credencialEletronicaMarrom;
    }
}

[ng-controller="CredencialEletronicaOdontoController"],
[ng-controller="CredencialEletronicaMedicinaController"] {
    .img-ans {
        margin: 0 auto;
        display: block;
        position: relative;
        z-index: 10;
    }

    #terceira {
        font-weight: bold;
        position: absolute;
        right: 20px;
        top:0;
        text-decoration: underline;
    }

    .ouro * {
        color: $credencialEletronicaMarrom;
    }

    .prata * {
        color: $credencialEletronicaPrata;
    }

    .azul * {
        color: $credencialEletronicaAzul;
    }

    #credencial-eletronica {
        height: 315px;
        width: 500px;
        background-size: 100% 100%;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
        top: -10px;
    }

    #conteudo-credencial-eletronica {
        position: relative;
        top: 45%;
        width: 100%;
        margin: 0 0 0 28px;
    }

    #numero-credencia span {
        font-size: 22px;
        font-weight: bold;
    }

    #cpt-wrapper {
        margin-top: 10px;
    }

    #cpt-wrapper span.cpt {
        font-size: 10px;
    }

    #nome-beneficiario {
        font-size: 16px;
        margin: 15px 0;
    }

    #plano,
    #data-fim,
    #data-ingresso {
        font-size: 16px;
        font-weight: bold;
    }

    .mid-column {
        margin: 0 10px;
    }

    #numero-cns {
        font-size: 10px;
        margin-top: 30px;
    }

    .barcode {
        margin: 13px auto 0 auto;
    }
}

[ng-controller="AtendimentoNovoController"] {

    ons-button {
        margin-top: 20px;
    }
}

[ng-controller="AtendimentoSucessoController"] {
    font-size: 1.1em;
    p{
        margin: 60px 0;
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .message{
        text-align: justify;
    }
}

[ng-controller="VincularOmintController"] {
    .text-block {
        margin-bottom: 20px;
    }

    ons-button {
        margin-top: 20px;
    }
}


[ng-controller="EnderecosController"] {
    titled-text-block {
        .title {
            font-weight: bold;
        }

        map-button {
            float: right;
        }
    }
}


[ng-controller="PrimeiroAcessoCadastroController"] {
    .buttons {
        margin-top: 11px;

        > span {
            display: block;
            font-size: 13px;
            margin: 3px 0;
            text-align: center;
        }
    }
}

[ng-controller="RecuperarSenhaInformarCodigoController"] {
    ons-button {
        margin-top: 30px;
    }

    [ng-model="senha"] {
        margin-top: 15px;
    }
}

[ng-controller="AlterarSenhaController"] {
    ons-button {
        margin-top: 30px;
    }

    [ng-model="novaSenha"] {
        margin-top: 15px;
    }
}

[ng-controller="PrimeiroAcessoEnviarConfirmacaoController"] {
    ons-button {
        margin-top: 20px;
    }
}

[ng-controller="PrimeiroAcessoInformarConfirmacaoController"] {
    ons-button {
        margin-top: 20px;
    }
}

[ng-controller="PrimeiroAcessoTermoAceiteController"] {
    .bottom-anchor {
        @extend .narrow-px, .absolute-wide;
        bottom: 10px;

        checkbox {
            margin-bottom: 10px;
        }
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        margin-bottom: 20px;
        top: 0;
    }
}

[ng-controller="PrimeiroAcessoVinculoController"] {
    ons-button {
        margin-top: 20px;
    }

    .select-holder {
        margin-bottom: 25px;
    }
}

[ng-controller="MenuController"] {
    .page__background {
        background-color: #333;
    }

    .page__content > img {
        display: block;
        width: 90px;
        margin: 15px;
    }

    ons-icon {
        font-size: 20px;
    }

    .notification {
        float: right;
        margin: 13px 20px 0 0;
    }
}

[ng-controller="RecuperarSenhaEnviarCodigoController"] {
    ons-button {
        margin-top: 20px;
    }
}

[ng-controller="LoginController"] {
    .login-container {
        @extend .absolute-wide;
        background-color: rgba(42, 37, 29, 0.81);
        bottom: 0;
        padding: 20px 0;

        > img {
            display: block;
            margin: 0 auto;
            width: 120px;
        }

        .footer-buttons {
            white-space: nowrap;
            text-align: center;
        }

        .buttons {
            margin-top: 11px;

            > span {
                display: block;
                font-size: 13px;
                margin: 3px 0;
                text-align: center;
            }
        }
    }

    .form-submit-wrapper {
        input.password {
            width: 80%;
            float: left;
        }

        ons-button {
            float: right;
        }
    }
}

[ng-controller="RedeCredenciadaHomeController"] {
    titled-box[title="Opções"] {
        checkbox {
            margin: 5px 0;
        }
    }

    titled-box[title="Busca estruturada"] > div:first-of-type {
        margin-bottom: 0;
    }

    titled-box[title="Últimos acessos"] {
        ons-list-item {
            line-height: 17px;
        }

        > div:first-of-type {
            margin: 0;
        }
    }
}


[ng-controller="RedeCredenciadaBuscaNomeController"] {
    titled-box > div:first-of-type {
        margin-bottom: 0;
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        padding-top: 15px;
        bottom: 10px;

        > div:first-of-type {
            text-align: center;
        }

        ons-list {
            margin-top: 15px;

            ons-list-item {
                line-height: 17px !important;
            }
        }
    }
}


[ng-controller="RedeCredenciadaDetalhamentoController"] {
    ons-button.telefone {
        padding: 0;
        margin-top: 0;
    }

    map-button {
        display: block;
        text-align: center;
    }

    titled-box[title="Mais informações"] {
        > div:first-of-type {
            margin-bottom: 0;
        }
    }

    .notificacao-descredenciamento {
        border-top: 1px solid $color1;
        font-size: 14px;
        font-weight: bold;
        margin-top: 15px;
        padding: 15px;
    }

    titled-box[title="Qualificações"] {
        .qualificacao {
            border-bottom: 1px solid rgba(154, 139, 111, 0.5);
            margin: 10px 0;
            padding-bottom: 20px;

            > div:first-child {
                font-weight: bold;
            }

            > div:last-child {
                color: $color5;
                font-size: 13px;
            }
        }

        .instrucao {
            color: $color5;
            font-style: italic;
            font-size: 12px;
            margin-top: 10px;
            padding-top: 6px;
        }
    }
}

[ng-controller="RedeCredenciadaPlanosAtendidosController"] {
    titled-box table {
        margin: 20px 0;
    }
}

[ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] {
    titled-box > div:first-of-type {
        margin-bottom: 0;
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        padding-top: 15px;
        bottom: 10px;

        ons-list {
            margin-top: 15px;

            ons-list-item {
                line-height: 17px !important;
            }
        }
    }
}


[ng-controller="RedeCredenciadaSubstitutosController"] {
    titled-box > div:first-of-type {
        margin-bottom: 0;
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        padding-top: 15px;
        bottom: 10px;

        ons-list {
            margin-top: 10px;

            ons-list-item {
                line-height: 17px !important;
            }
        }
    }
}

[ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] {
    titled-box > div:first-of-type {
        margin-bottom: 0;
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        padding-top: 15px;
        bottom: 10px;

        ons-list {
            margin-top: 15px;

            ons-list-item {
                line-height: 17px !important;
            }
        }
    }
}

[ng-controller="RedeCredenciadaBuscaEspecialidadeController"] {
    .header {
        .search-container {
            margin: 12px 0;
        }
    }

    titled-box > div:first-of-type {
        margin: 0;
    }

    .container {
        @extend .narrow-px, .absolute-wide, .text-block;
        padding-top: 15px;
        bottom: 10px;

        > div:first-of-type {
            text-align: center;
        }

        ons-list {
            margin-top: 15px;

            ons-list-item {
                line-height: 17px !important;
            }
        }
    }
}

.ons-button-fab {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
    text-align: center;
    position: fixed;
    right: 50px;
    bottom: 50px;
    margin: 0 !important;  
    padding:0 !important; 
    ons-icon{
        font-size: 25px;
        line-height: 60px;           
    }
}

$color_1: white;
$background_color_1: #d2cfc6;
$background_color_2: red;

.image-list {
	position: relative;
}
.image-item-container {
	position: absolute;
	text-align: center;
	width: 100%;
}
.image-item {
	background-color: $background_color_1;
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	img {
		max-height: 30px;
		margin: 15px;
	}
	.delete-image {
		position: absolute;
		bottom: 0;
		right: 0;
		line-height: 15px;
		background-color: $background_color_2;
		padding: 2px;
		border-radius: 50%;
		height: 15px;
		width: 15px;
	}
	>.delete-image {
		>i {
			color: $color_1;
		}
	}
}

.image-list{
    background-color: transparent !important; 
    margin-bottom: 130px;
    ons-list-item{
        position:relative;
        ons-icon{
            color: orange; 
            position:absolute; 
            right:0; 
            padding: 11px;
        }
        .file-loader{
            height: 2px;
            .file-loader-bar{
                background-color: orange; 
                width:0;
                height: 100%;
            }


            .file-loader-bar.success{
                background-color:green;
            }
        }
        
    }

}

.image-list.text-only{
    p{
        line-height: 15px;
    }
}

.dialog.dialog--wide{
    height: 70%;
    width: 90%;
}

ons-row.row.ons-row-inner.custom-tab-bar {
    text-align: center;
    margin-top: 20px;
}

ons-row.row.ons-row-inner.custom-tab-bar ons-col{
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

ons-row.row.ons-row-inner.custom-tab-bar ons-col.selected{
    background-color:#d2cfc6;    
}

.custom-tab{
    border: solid 1px;
    min-height: 100px;
}

.img-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:0;
    transition: all 0.1s ease-in-out;
    text-align: center;
    margin: 10px;
    background-color: #d2cfc6;
    z-index: 0;
    position: relative;
    float: left;
    ons-icon {
        font-size: 30px;
        line-height: 70px;
    }
    input[type="file"] {
        position: absolute;
        height: 70px;
        width: 70px;
        opacity: 0;
        z-index: 1;
        left: 0;
        top: 0;
    }
    img{
        max-height: 40px;
        max-width: 40px;
        padding: 15px;
    }
    .delete-doc {
        position: absolute;
        width: 22px;
        height:22px;
        background-color:white;
        top: 50px;
        right:0;
        border-radius: 50%;
        color: #9a8b6f;
        padding: 2px;
        i{
            font-size:20px;
            line-height:22px
        }
    }
}

.identificacao-vinculo{
    margin: 0 10px; 
    font-weight: bold;
    p:first-child{
        margin:0;
    } 
    p:last-child{
        margin: 5px 0;
    }
}

