@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("opentype"); }

* {
  color: #9a8b6f;
  font-family: Roboto;
  font-size: 15px; }

a {
  text-decoration: none; }

input {
  font-family: Roboto !important; }

ul {
  padding-left: 18px; }

hr {
  height: 1px;
  border: none;
  background-color: #A59A85; }

.textarea--underbar {
  background: transparent !important; }

.text-input--underbar::-webkit-input-placeholder,
.textarea--underbar::-webkit-input-placeholder {
  color: #a19062; }

.text-input--underbar:invalid,
.textarea--underbar:invalid {
  border-bottom-color: #a19062;
  color: #a19062; }

.switch__input:checked + .switch__toggle {
  background-color: #baa979; }

ons-page {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

ons-back-button * {
  color: #baa979;
  font-size: 16px;
  font-weight: bold; }

.navigation-bar ons-icon {
  color: #baa979; }

.navigation-bar__title {
  color: #baa979; }

input[type=number],
input[type=email],
input[type=password],
input[type=text],
textarea {
  border: 0 !important;
  border-bottom: 1px solid #a19062 !important;
  color: #9a8b6f !important;
  /*display: block;*/
  height: 100%;
  padding: 25px 8px 10px !important;
  width: 100%; }

map-button {
  border: 1px solid #9a8b6f;
  border-radius: 3px;
  color: #9a8b6f;
  font-size: 17px;
  margin: 5px;
  padding: 5px 10px 2px; }
  map-button ons-icon {
    margin: 2px 5px 5px 0;
    vertical-align: middle !important;
    font-size: 25px !important; }

.data-table-1 {
  table-layout: fixed;
  width: 100%; }
  .data-table-1 td {
    vertical-align: top;
    padding: 4px 0; }
    .data-table-1 td:first-child {
      text-align: right;
      font-size: 14px;
      padding-top: 5px;
      padding-right: 3px;
      width: 40%; }
    .data-table-1 td:last-child, .data-table-1 td:last-child * {
      font-weight: bold;
      color: #A59A85; }

.narrow-pct {
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

.narrow-px, [ng-controller="AutorizacaoListaController"] .bottom-anchor,
[ng-controller="ReembolsoListaController"] .bottom-anchor, [ng-controller="AtendimentoListaController"] .bottom-anchor,
[ng-controller="AtendimentoNovoController"] .bottom-anchor,
[ng-controller="AtendimentoSucessoController"] .bottom-anchor,
[ng-controller="AtendimentoNovaObservacaoController"] .bottom-anchor, [ng-controller="AtendimentoListaController"] .container,
[ng-controller="AtendimentoNovoController"] .container,
[ng-controller="AtendimentoSucessoController"] .container,
[ng-controller="AtendimentoNovaObservacaoController"] .container,
[ng-controller="AutorizacaoListaController"] .container, [ng-controller="PrimeiroAcessoTermoAceiteController"] .bottom-anchor, [ng-controller="PrimeiroAcessoTermoAceiteController"] .container, [ng-controller="RedeCredenciadaBuscaNomeController"] .container, [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container, [ng-controller="RedeCredenciadaSubstitutosController"] .container, [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container, [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container {
  margin-left: 20px;
  margin-right: 20px; }

.margin-bottom-px {
  margin-bottom: 20px; }

.hr-narrow-pct {
  width: 80%; }

.dark-separator {
  background: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  padding: 6px 0;
  text-align: center; }

.absolute-wide, .absolute-full, [ng-controller="AutorizacaoListaController"] .bottom-anchor,
[ng-controller="ReembolsoListaController"] .bottom-anchor, [ng-controller="AutorizacaoListaController"] .container,
[ng-controller="ReembolsoListaController"] .container, [ng-controller="AtendimentoListaController"] .bottom-anchor,
[ng-controller="AtendimentoNovoController"] .bottom-anchor,
[ng-controller="AtendimentoSucessoController"] .bottom-anchor,
[ng-controller="AtendimentoNovaObservacaoController"] .bottom-anchor, [ng-controller="AtendimentoListaController"] .container,
[ng-controller="AtendimentoNovoController"] .container,
[ng-controller="AtendimentoSucessoController"] .container,
[ng-controller="AtendimentoNovaObservacaoController"] .container, [ng-controller="PrimeiroAcessoTermoAceiteController"] .bottom-anchor, [ng-controller="PrimeiroAcessoTermoAceiteController"] .container, [ng-controller="LoginController"] .login-container, [ng-controller="RedeCredenciadaBuscaNomeController"] .container, [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container, [ng-controller="RedeCredenciadaSubstitutosController"] .container, [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container, [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container {
  position: absolute;
  left: 0;
  right: 0; }

.absolute-full {
  top: 0;
  bottom: 0; }

.text-block, .text-block-justify, [ng-controller="AutorizacaoListaController"] .container,
[ng-controller="ReembolsoListaController"] .container, [ng-controller="AtendimentoListaController"] .container,
[ng-controller="AtendimentoNovoController"] .container,
[ng-controller="AtendimentoSucessoController"] .container,
[ng-controller="AtendimentoNovaObservacaoController"] .container, [ng-controller="PrimeiroAcessoTermoAceiteController"] .container, [ng-controller="RedeCredenciadaBuscaNomeController"] .container, [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container, [ng-controller="RedeCredenciadaSubstitutosController"] .container, [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container, [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container {
  line-height: 23px;
  overflow: scroll;
  text-align: left; }

.text-block-justify {
  text-align: justify; }

.button {
  margin-top: 5px;
  margin-bottom: 5px; }
  .button--wide {
    text-align: center;
    width: 100%; }
  .button--light1 {
    background-color: #d2cfc6; }
  .button--light1:active {
    background-color: #fff; }
  .button--icon ons-icon {
    font-size: 21px;
    margin: 6px 8px 5px 6px; }
  .button--left-icon {
    text-align: left; }
    .button--left-icon ons-icon {
      font-size: 21px;
      margin: 6px 8px 5px 6px; }
  .button--facebook {
    background-color: #4A6EA9; }
    .button--facebook ons-icon, .button--facebook span {
      color: #fff; }

.page--transparent__background {
  background: transparent; }

.page--faded__background {
  background: rgba(42, 37, 29, 0.92); }

.page--full__content {
  top: 0 !important; }

radio {
  display: block; }
  radio .radio-button__checkmark:after {
    border-color: #A59A85; }
  radio .radio-button__checkmark {
    border: 1px solid #A59A85; }

titled-box {
  display: block; }
  titled-box > div:first-of-type {
    background: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid #6F644E;
    border-top: 1px solid #6F644E;
    font-size: 17px;
    margin: 20px auto;
    padding: 5px 20px; }

checkbox {
  display: block; }
  checkbox label {
    margin-bottom: 5px;
    vertical-align: middle !important; }

.center-text, loading-text, no-items-text {
  display: block;
  text-align: center; }

steps {
  display: table;
  width: 100%;
  text-align: center;
  margin: 20px 0;
  line-height: 8px; }
  steps span {
    font-size: 30px;
    color: #6F644E;
    padding: 0 2px; }
  steps .current {
    color: #baa979; }

.select-holder {
  text-align: left;
  margin-top: 12px;
  position: relative; }
  .select-holder > span {
    color: #A59A85; }
  .select-holder > select {
    -webkit-appearance: none;
    background: none;
    border: none;
    border-bottom: 1px solid #a19062 !important;
    display: inline-block;
    font-size: 15px;
    height: 45px;
    line-height: 16px;
    margin-bottom: 12px;
    margin-right: 6px;
    padding: 5px 23px 5px 5px;
    width: 100%; }
  .select-holder:after {
    box-sizing: border-box;
    color: #a19062;
    content: "\f0dc";
    font-family: FontAwesome;
    height: 100%;
    padding: 35px 8px 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 10%;
    z-index: 1; }

.list .list__item--chevron:before {
  color: #A59A85;
  right: 6px; }

.list--menu .list__header {
  background-color: #696050 !important;
  color: #fff !important;
  font-size: 13px;
  padding-top: 1px;
  text-transform: uppercase; }

.list--menu .list__item {
  background-color: #333;
  background-image: none !important;
  border-bottom: 1px solid #696050 !important;
  color: #D6BF90; }
  .list--menu .list__item > ons-icon {
    text-align: center;
    width: 23px; }

.list--default {
  background: none !important;
  border-bottom: none !important; }
  .list--default .list__item {
    color: #9a8b6f;
    background-image: none !important;
    border-bottom: 1px solid #6F644E !important;
    line-height: normal;
    padding-top: 12px;
    padding-bottom: 12px; }
    .list--default .list__item:last-child {
      border-bottom: none !important; }
    .list--default .list__item--chevron {
      padding-right: 22px; }
      .list--default .list__item--chevron:active {
        background-color: rgba(30, 31, 29, 0.58); }

.flex-content-row {
  display: flex;
  justify-content: space-between; }
  .flex-content-row > div {
    overflow: hidden;
    white-space: nowrap; }
    .flex-content-row > div:first-child, .flex-content-row > div:not(:last-child) {
      flex-shrink: 100;
      text-overflow: ellipsis; }

.text-small {
  font-size: 12px; }
  .text-small * {
    font-size: 12px; }

.text-highlight1 {
  color: #A59A85;
  font-weight: bold; }

titled-text-block > div:first-of-type {
  border-bottom: 1px solid #A59A85;
  color: #A59A85;
  padding-bottom: 3px;
  margin: 15px 0; }

.search-container {
  display: flex; }
  .search-container input {
    padding-top: 6px !important;
    margin: 4px 10px 0 0 !important; }
  .search-container ons-button {
    border: 1px solid #9a8b6f;
    border-radius: 3px;
    height: 39px;
    padding: 5px 14px 5px 11px;
    margin: 0; }
    .search-container ons-button:active {
      border: 1px solid #9a8b6f; }

[ng-controller="AssociadoListaFaturasController"] ons-list-item > div:not(:last-child) {
  margin-bottom: 3px; }

[ng-controller="ContatosController"] ons-button span {
  font-size: 16px;
  font-weight: bold; }

[ng-controller="ContatosController"] titled-box div:first-child {
  font-size: 18px; }

[ng-controller="AutorizacaoListaController"] .bottom-anchor,
[ng-controller="ReembolsoListaController"] .bottom-anchor {
  bottom: 10px; }

[ng-controller="AutorizacaoListaController"] .container,
[ng-controller="ReembolsoListaController"] .container {
  margin-bottom: 10px;
  top: 0; }
  [ng-controller="AutorizacaoListaController"] .container ons-list-item > div .nome,
  [ng-controller="ReembolsoListaController"] .container ons-list-item > div .nome {
    margin-right: 10px; }
  [ng-controller="AutorizacaoListaController"] .container ons-list-item > div:not(:last-child),
  [ng-controller="ReembolsoListaController"] .container ons-list-item > div:not(:last-child) {
    margin-bottom: 9px; }

[ng-controller="AssociadoPlanoListaController"] hr + table {
  margin: 20px 0; }

[ng-controller="AutorizacaoDetalheController"] titled-box ng-transclude > div:last-child table + hr,
[ng-controller="ReembolsoDetalheController"] titled-box ng-transclude > div:last-child table + hr {
  display: none; }

[ng-controller="AutorizacaoDetalheController"] titled-box ng-transclude > div table,
[ng-controller="ReembolsoDetalheController"] titled-box ng-transclude > div table {
  margin: 10px 0; }

[ng-controller="AtendimentoDetalheController"] titled-box ng-transclude > div:last-child table + hr {
  display: none; }

[ng-controller="AtendimentoDetalheController"] titled-box ng-transclude > div table {
  margin: 10px 0; }

[ng-controller="AtendimentoDetalheController"] .inserir-observacao {
  margin-bottom: 10px; }

[ng-controller="AtendimentoDetalheController"] textarea.text-input--underbar {
  height: 100%; }

[ng-controller="AtendimentoDetalheController"] .upper {
  text-transform: uppercase; }

[ng-controller="AtendimentoListaController"] .bottom-anchor,
[ng-controller="AtendimentoNovoController"] .bottom-anchor,
[ng-controller="AtendimentoSucessoController"] .bottom-anchor,
[ng-controller="AtendimentoNovaObservacaoController"] .bottom-anchor,
[ng-controller="AutorizacaoListaController"] .bottom-anchor {
  bottom: 10px;
  display: flex; }
  [ng-controller="AtendimentoListaController"] .bottom-anchor ons-button:not(:last-child),
  [ng-controller="AtendimentoNovoController"] .bottom-anchor ons-button:not(:last-child),
  [ng-controller="AtendimentoSucessoController"] .bottom-anchor ons-button:not(:last-child),
  [ng-controller="AtendimentoNovaObservacaoController"] .bottom-anchor ons-button:not(:last-child),
  [ng-controller="AutorizacaoListaController"] .bottom-anchor ons-button:not(:last-child) {
    margin-right: 10px; }

[ng-controller="AtendimentoListaController"] .container,
[ng-controller="AtendimentoNovoController"] .container,
[ng-controller="AtendimentoSucessoController"] .container,
[ng-controller="AtendimentoNovaObservacaoController"] .container,
[ng-controller="AutorizacaoListaController"] .container {
  margin-bottom: 10px;
  top: 0; }
  [ng-controller="AtendimentoListaController"] .container ons-list-item > div:not(:last-child),
  [ng-controller="AtendimentoNovoController"] .container ons-list-item > div:not(:last-child),
  [ng-controller="AtendimentoSucessoController"] .container ons-list-item > div:not(:last-child),
  [ng-controller="AtendimentoNovaObservacaoController"] .container ons-list-item > div:not(:last-child),
  [ng-controller="AutorizacaoListaController"] .container ons-list-item > div:not(:last-child) {
    margin-bottom: 9px; }

[ng-controller="AtendimentoListaController"] .notificacao,
[ng-controller="AtendimentoNovoController"] .notificacao,
[ng-controller="AtendimentoSucessoController"] .notificacao,
[ng-controller="AtendimentoNovaObservacaoController"] .notificacao,
[ng-controller="AutorizacaoListaController"] .notificacao {
  background-color: rgba(154, 122, 62, 0.24); }

[ng-controller="NoticiaListaController"] .notificacao-ultimas-noticias {
  text-align: center;
  font-size: 12px; }

[ng-controller="AssociadoAtualizarCadastroController"] .dados {
  margin-top: 5px;
  background: rgba(0, 0, 0, 0.3); }

[ng-controller="AssociadoAtualizarCadastroController"] .beneficiario {
  margin: 15px; }
  [ng-controller="AssociadoAtualizarCadastroController"] .beneficiario:not(:last-child) {
    margin-right: 10px; }

[ng-controller="AssociadoAtualizarCadastroController"] .beneficiario div {
  padding: 3px; }

[ng-controller="LoginController"] .navigation-bar__left ons-toolbar-button span {
  background-color: rgba(42, 37, 29, 0.61);
  padding: 4px 5px;
  margin: 4px;
  border-radius: 5px; }

[ng-controller="HomeController"] img {
  vertical-align: middle; }

[ng-controller="HomeController"] .modal-aviso {
  position: fixed;
  margin: 30px;
  z-index: 1000;
  background-color: #6F644E;
  color: white; }

[ng-controller="HomeController"] .modal-aviso h4 {
  text-align: center;
  color: white; }

[ng-controller="HomeController"] .modal-aviso div {
  margin: 10px;
  color: white; }

[ng-controller="HomeController"] .box, [ng-controller="HomeController"] .large-box {
  background: rgba(0, 0, 0, 0.3);
  position: relative; }
  [ng-controller="HomeController"] .box .notification, [ng-controller="HomeController"] .large-box .notification {
    position: absolute; }

[ng-controller="HomeController"] .outer, [ng-controller="HomeController"] [ng-controller="AssociadoAtualizarCadastroController"] .beneficiario, [ng-controller="AssociadoAtualizarCadastroController"] [ng-controller="HomeController"] .beneficiario, [ng-controller="HomeController"] .large-box, [ng-controller="HomeController"] .box-row, [ng-controller="HomeController"] .footer, [ng-controller="HomeController"] .news {
  margin: 10px; }

[ng-controller="HomeController"] .large-box {
  display: flex;
  padding: 15px; }
  [ng-controller="HomeController"] .large-box img {
    margin-right: 5px;
    width: 60px; }
  [ng-controller="HomeController"] .large-box .text > div:first-of-type {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px; }

[ng-controller="HomeController"] .box-row {
  display: flex; }
  [ng-controller="HomeController"] .box-row .box, [ng-controller="HomeController"] .box-row .large-box {
    padding: 15px 0;
    text-align: center;
    width: 50%; }
    [ng-controller="HomeController"] .box-row .box:not(:last-child), [ng-controller="HomeController"] .box-row .large-box:not(:last-child) {
      margin-right: 10px; }
    [ng-controller="HomeController"] .box-row .box img, [ng-controller="HomeController"] .box-row .large-box img {
      width: 60px;
      margin-bottom: 10px; }

[ng-controller="HomeController"] .footer {
  background: transparent;
  text-align: center;
  padding: 10px; }
  [ng-controller="HomeController"] .footer div:last-of-type {
    font-size: 10px;
    margin-top: 10px; }

[ng-controller="HomeController"] .news {
  font-size: 15px;
  background: rgba(154, 139, 111, 0.5); }
  [ng-controller="HomeController"] .news .item {
    margin: 5px 0;
    padding: 10px 20px 0px 20px; }
    [ng-controller="HomeController"] .news .item::after {
      clear: both;
      content: '';
      display: block; }
    [ng-controller="HomeController"] .news .item .title {
      font-size: 16px;
      color: #d2cfc6;
      font-weight: bold;
      margin-bottom: 10px; }
    [ng-controller="HomeController"] .news .item .calendar {
      border: 1px solid #d2cfc6;
      border-radius: 3px;
      float: left;
      font-size: 13px;
      height: 70px;
      line-height: 35px;
      margin: 10px 10px 15px 0;
      text-align: center;
      width: 90px; }
      [ng-controller="HomeController"] .news .item .calendar > div:first-child {
        font-size: 20px;
        height: 50%;
        color: #d2cfc6; }
      [ng-controller="HomeController"] .news .item .calendar > div:last-child {
        background-color: #d2cfc6;
        color: #9a8b6f;
        height: 50%;
        padding: 0 10px; }
    [ng-controller="HomeController"] .news .item > ons-button {
      font-size: 15px;
      padding: 0;
      float: right; }
      [ng-controller="HomeController"] .news .item > ons-button span {
        color: #d2cfc6; }
    [ng-controller="HomeController"] .news .item .text .body {
      height: 55px;
      line-height: 19px;
      overflow: hidden; }
      [ng-controller="HomeController"] .news .item .text .body * {
        color: #d2cfc6; }
      [ng-controller="HomeController"] .news .item .text .body p {
        margin-top: 0; }

[ng-controller="CredencialEletronicaPopOverController"] .popover {
  width: auto; }

[ng-controller="CredencialEletronicaPopOverController"] .popover-wrapper div {
  margin: 5px 0;
  font-size: 12px;
  color: #876e3d; }

[ng-controller="CredencialEletronicaOdontoController"] .img-ans,
[ng-controller="CredencialEletronicaMedicinaController"] .img-ans {
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 10; }

[ng-controller="CredencialEletronicaOdontoController"] #terceira,
[ng-controller="CredencialEletronicaMedicinaController"] #terceira {
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 0;
  text-decoration: underline; }

[ng-controller="CredencialEletronicaOdontoController"] .ouro *,
[ng-controller="CredencialEletronicaMedicinaController"] .ouro * {
  color: #876e3d; }

[ng-controller="CredencialEletronicaOdontoController"] .prata *,
[ng-controller="CredencialEletronicaMedicinaController"] .prata * {
  color: #A7A9AC; }

[ng-controller="CredencialEletronicaOdontoController"] .azul *,
[ng-controller="CredencialEletronicaMedicinaController"] .azul * {
  color: #041534; }

[ng-controller="CredencialEletronicaOdontoController"] #credencial-eletronica,
[ng-controller="CredencialEletronicaMedicinaController"] #credencial-eletronica {
  height: 315px;
  width: 500px;
  background-size: 100% 100%;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  top: -10px; }

[ng-controller="CredencialEletronicaOdontoController"] #conteudo-credencial-eletronica,
[ng-controller="CredencialEletronicaMedicinaController"] #conteudo-credencial-eletronica {
  position: relative;
  top: 45%;
  width: 100%;
  margin: 0 0 0 28px; }

[ng-controller="CredencialEletronicaOdontoController"] #numero-credencia span,
[ng-controller="CredencialEletronicaMedicinaController"] #numero-credencia span {
  font-size: 22px;
  font-weight: bold; }

[ng-controller="CredencialEletronicaOdontoController"] #cpt-wrapper,
[ng-controller="CredencialEletronicaMedicinaController"] #cpt-wrapper {
  margin-top: 10px; }

[ng-controller="CredencialEletronicaOdontoController"] #cpt-wrapper span.cpt,
[ng-controller="CredencialEletronicaMedicinaController"] #cpt-wrapper span.cpt {
  font-size: 10px; }

[ng-controller="CredencialEletronicaOdontoController"] #nome-beneficiario,
[ng-controller="CredencialEletronicaMedicinaController"] #nome-beneficiario {
  font-size: 16px;
  margin: 15px 0; }

[ng-controller="CredencialEletronicaOdontoController"] #plano,
[ng-controller="CredencialEletronicaOdontoController"] #data-fim,
[ng-controller="CredencialEletronicaOdontoController"] #data-ingresso,
[ng-controller="CredencialEletronicaMedicinaController"] #plano,
[ng-controller="CredencialEletronicaMedicinaController"] #data-fim,
[ng-controller="CredencialEletronicaMedicinaController"] #data-ingresso {
  font-size: 16px;
  font-weight: bold; }

[ng-controller="CredencialEletronicaOdontoController"] .mid-column,
[ng-controller="CredencialEletronicaMedicinaController"] .mid-column {
  margin: 0 10px; }

[ng-controller="CredencialEletronicaOdontoController"] #numero-cns,
[ng-controller="CredencialEletronicaMedicinaController"] #numero-cns {
  font-size: 10px;
  margin-top: 30px; }

[ng-controller="CredencialEletronicaOdontoController"] .barcode,
[ng-controller="CredencialEletronicaMedicinaController"] .barcode {
  margin: 13px auto 0 auto; }

[ng-controller="AtendimentoNovoController"] ons-button {
  margin-top: 20px; }

[ng-controller="AtendimentoSucessoController"] {
  font-size: 1.1em; }
  [ng-controller="AtendimentoSucessoController"] p {
    margin: 60px 0;
    text-align: center; }
  [ng-controller="AtendimentoSucessoController"] h3 {
    text-align: center; }
  [ng-controller="AtendimentoSucessoController"] .message {
    text-align: justify; }

[ng-controller="VincularOmintController"] .text-block, [ng-controller="VincularOmintController"] .text-block-justify, [ng-controller="VincularOmintController"] [ng-controller="AutorizacaoListaController"] .container, [ng-controller="AutorizacaoListaController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"]
[ng-controller="ReembolsoListaController"] .container,
[ng-controller="ReembolsoListaController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="AtendimentoListaController"] .container, [ng-controller="AtendimentoListaController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"]
[ng-controller="AtendimentoNovoController"] .container,
[ng-controller="AtendimentoNovoController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"]
[ng-controller="AtendimentoSucessoController"] .container,
[ng-controller="AtendimentoSucessoController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"]
[ng-controller="AtendimentoNovaObservacaoController"] .container,
[ng-controller="AtendimentoNovaObservacaoController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="PrimeiroAcessoTermoAceiteController"] .container, [ng-controller="PrimeiroAcessoTermoAceiteController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="RedeCredenciadaBuscaNomeController"] .container, [ng-controller="RedeCredenciadaBuscaNomeController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container, [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="RedeCredenciadaSubstitutosController"] .container, [ng-controller="RedeCredenciadaSubstitutosController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container, [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] [ng-controller="VincularOmintController"] .container, [ng-controller="VincularOmintController"] [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container, [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] [ng-controller="VincularOmintController"] .container {
  margin-bottom: 20px; }

[ng-controller="VincularOmintController"] ons-button {
  margin-top: 20px; }

[ng-controller="EnderecosController"] titled-text-block .title {
  font-weight: bold; }

[ng-controller="EnderecosController"] titled-text-block map-button {
  float: right; }

[ng-controller="PrimeiroAcessoCadastroController"] .buttons {
  margin-top: 11px; }
  [ng-controller="PrimeiroAcessoCadastroController"] .buttons > span {
    display: block;
    font-size: 13px;
    margin: 3px 0;
    text-align: center; }

[ng-controller="RecuperarSenhaInformarCodigoController"] ons-button {
  margin-top: 30px; }

[ng-controller="RecuperarSenhaInformarCodigoController"] [ng-model="senha"] {
  margin-top: 15px; }

[ng-controller="AlterarSenhaController"] ons-button {
  margin-top: 30px; }

[ng-controller="AlterarSenhaController"] [ng-model="novaSenha"] {
  margin-top: 15px; }

[ng-controller="PrimeiroAcessoEnviarConfirmacaoController"] ons-button {
  margin-top: 20px; }

[ng-controller="PrimeiroAcessoInformarConfirmacaoController"] ons-button {
  margin-top: 20px; }

[ng-controller="PrimeiroAcessoTermoAceiteController"] .bottom-anchor {
  bottom: 10px; }
  [ng-controller="PrimeiroAcessoTermoAceiteController"] .bottom-anchor checkbox {
    margin-bottom: 10px; }

[ng-controller="PrimeiroAcessoTermoAceiteController"] .container {
  margin-bottom: 20px;
  top: 0; }

[ng-controller="PrimeiroAcessoVinculoController"] ons-button {
  margin-top: 20px; }

[ng-controller="PrimeiroAcessoVinculoController"] .select-holder {
  margin-bottom: 25px; }

[ng-controller="MenuController"] .page__background {
  background-color: #333; }

[ng-controller="MenuController"] .page__content > img {
  display: block;
  width: 90px;
  margin: 15px; }

[ng-controller="MenuController"] ons-icon {
  font-size: 20px; }

[ng-controller="MenuController"] .notification {
  float: right;
  margin: 13px 20px 0 0; }

[ng-controller="RecuperarSenhaEnviarCodigoController"] ons-button {
  margin-top: 20px; }

[ng-controller="LoginController"] .login-container {
  background-color: rgba(42, 37, 29, 0.81);
  bottom: 0;
  padding: 20px 0; }
  [ng-controller="LoginController"] .login-container > img {
    display: block;
    margin: 0 auto;
    width: 120px; }
  [ng-controller="LoginController"] .login-container .footer-buttons {
    white-space: nowrap;
    text-align: center; }
  [ng-controller="LoginController"] .login-container .buttons {
    margin-top: 11px; }
    [ng-controller="LoginController"] .login-container .buttons > span {
      display: block;
      font-size: 13px;
      margin: 3px 0;
      text-align: center; }

[ng-controller="LoginController"] .form-submit-wrapper input.password {
  width: 80%;
  float: left; }

[ng-controller="LoginController"] .form-submit-wrapper ons-button {
  float: right; }

[ng-controller="RedeCredenciadaHomeController"] titled-box[title="Opções"] checkbox {
  margin: 5px 0; }

[ng-controller="RedeCredenciadaHomeController"] titled-box[title="Busca estruturada"] > div:first-of-type {
  margin-bottom: 0; }

[ng-controller="RedeCredenciadaHomeController"] titled-box[title="Últimos acessos"] ons-list-item {
  line-height: 17px; }

[ng-controller="RedeCredenciadaHomeController"] titled-box[title="Últimos acessos"] > div:first-of-type {
  margin: 0; }

[ng-controller="RedeCredenciadaBuscaNomeController"] titled-box > div:first-of-type {
  margin-bottom: 0; }

[ng-controller="RedeCredenciadaBuscaNomeController"] .container {
  padding-top: 15px;
  bottom: 10px; }
  [ng-controller="RedeCredenciadaBuscaNomeController"] .container > div:first-of-type {
    text-align: center; }
  [ng-controller="RedeCredenciadaBuscaNomeController"] .container ons-list {
    margin-top: 15px; }
    [ng-controller="RedeCredenciadaBuscaNomeController"] .container ons-list ons-list-item {
      line-height: 17px !important; }

[ng-controller="RedeCredenciadaDetalhamentoController"] ons-button.telefone {
  padding: 0;
  margin-top: 0; }

[ng-controller="RedeCredenciadaDetalhamentoController"] map-button {
  display: block;
  text-align: center; }

[ng-controller="RedeCredenciadaDetalhamentoController"] titled-box[title="Mais informações"] > div:first-of-type {
  margin-bottom: 0; }

[ng-controller="RedeCredenciadaDetalhamentoController"] .notificacao-descredenciamento {
  border-top: 1px solid #9a8b6f;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
  padding: 15px; }

[ng-controller="RedeCredenciadaDetalhamentoController"] titled-box[title="Qualificações"] .qualificacao {
  border-bottom: 1px solid rgba(154, 139, 111, 0.5);
  margin: 10px 0;
  padding-bottom: 20px; }
  [ng-controller="RedeCredenciadaDetalhamentoController"] titled-box[title="Qualificações"] .qualificacao > div:first-child {
    font-weight: bold; }
  [ng-controller="RedeCredenciadaDetalhamentoController"] titled-box[title="Qualificações"] .qualificacao > div:last-child {
    color: #A59A85;
    font-size: 13px; }

[ng-controller="RedeCredenciadaDetalhamentoController"] titled-box[title="Qualificações"] .instrucao {
  color: #A59A85;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  padding-top: 6px; }

[ng-controller="RedeCredenciadaPlanosAtendidosController"] titled-box table {
  margin: 20px 0; }

[ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] titled-box > div:first-of-type {
  margin-bottom: 0; }

[ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container {
  padding-top: 15px;
  bottom: 10px; }
  [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container ons-list {
    margin-top: 15px; }
    [ng-controller="RedeCredenciadaBuscaProximidadeResultadosController"] .container ons-list ons-list-item {
      line-height: 17px !important; }

[ng-controller="RedeCredenciadaSubstitutosController"] titled-box > div:first-of-type {
  margin-bottom: 0; }

[ng-controller="RedeCredenciadaSubstitutosController"] .container {
  padding-top: 15px;
  bottom: 10px; }
  [ng-controller="RedeCredenciadaSubstitutosController"] .container ons-list {
    margin-top: 10px; }
    [ng-controller="RedeCredenciadaSubstitutosController"] .container ons-list ons-list-item {
      line-height: 17px !important; }

[ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] titled-box > div:first-of-type {
  margin-bottom: 0; }

[ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container {
  padding-top: 15px;
  bottom: 10px; }
  [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container ons-list {
    margin-top: 15px; }
    [ng-controller="RedeCredenciadaBuscaRegiaoResultadosController"] .container ons-list ons-list-item {
      line-height: 17px !important; }

[ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .header .search-container {
  margin: 12px 0; }

[ng-controller="RedeCredenciadaBuscaEspecialidadeController"] titled-box > div:first-of-type {
  margin: 0; }

[ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container {
  padding-top: 15px;
  bottom: 10px; }
  [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container > div:first-of-type {
    text-align: center; }
  [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container ons-list {
    margin-top: 15px; }
    [ng-controller="RedeCredenciadaBuscaEspecialidadeController"] .container ons-list ons-list-item {
      line-height: 17px !important; }

.ons-button-fab {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  text-align: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  margin: 0 !important;
  padding: 0 !important; }
  .ons-button-fab ons-icon {
    font-size: 25px;
    line-height: 60px; }

.image-list {
  position: relative; }

.image-item-container {
  position: absolute;
  text-align: center;
  width: 100%; }

.image-item {
  background-color: #d2cfc6;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative; }
  .image-item img {
    max-height: 30px;
    margin: 15px; }
  .image-item .delete-image {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 15px;
    background-color: red;
    padding: 2px;
    border-radius: 50%;
    height: 15px;
    width: 15px; }
  .image-item > .delete-image > i {
    color: white; }

.image-list {
  background-color: transparent !important;
  margin-bottom: 130px; }
  .image-list ons-list-item {
    position: relative; }
    .image-list ons-list-item ons-icon {
      color: orange;
      position: absolute;
      right: 0;
      padding: 11px; }
    .image-list ons-list-item .file-loader {
      height: 2px; }
      .image-list ons-list-item .file-loader .file-loader-bar {
        background-color: orange;
        width: 0;
        height: 100%; }
      .image-list ons-list-item .file-loader .file-loader-bar.success {
        background-color: green; }

.image-list.text-only p {
  line-height: 15px; }

.dialog.dialog--wide {
  height: 70%;
  width: 90%; }

ons-row.row.ons-row-inner.custom-tab-bar {
  text-align: center;
  margin-top: 20px; }

ons-row.row.ons-row-inner.custom-tab-bar ons-col {
  padding: 10px;
  border-radius: 4px 4px 0 0; }

ons-row.row.ons-row-inner.custom-tab-bar ons-col.selected {
  background-color: #d2cfc6; }

.custom-tab {
  border: solid 1px;
  min-height: 100px; }

.img-wrapper {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  transition: all 0.1s ease-in-out;
  text-align: center;
  margin: 10px;
  background-color: #d2cfc6;
  z-index: 0;
  position: relative;
  float: left; }
  .img-wrapper ons-icon {
    font-size: 30px;
    line-height: 70px; }
  .img-wrapper input[type="file"] {
    position: absolute;
    height: 70px;
    width: 70px;
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0; }
  .img-wrapper img {
    max-height: 40px;
    max-width: 40px;
    padding: 15px; }
  .img-wrapper .delete-doc {
    position: absolute;
    width: 22px;
    height: 22px;
    background-color: white;
    top: 50px;
    right: 0;
    border-radius: 50%;
    color: #9a8b6f;
    padding: 2px; }
    .img-wrapper .delete-doc i {
      font-size: 20px;
      line-height: 22px; }

.identificacao-vinculo {
  margin: 0 10px;
  font-weight: bold; }
  .identificacao-vinculo p:first-child {
    margin: 0; }
  .identificacao-vinculo p:last-child {
    margin: 5px 0; }
