﻿<ons-page modifier="faded" ng-controller="ContatosController">
    <custom-toolbar menu-button title="Contatos"></custom-toolbar>

    <div class="narrow-px text-block">
        O Atendimento Omint está sempre disponível, <b>24 horas por dia</b>, <b>7 dias por semana</b>.
        Clique nos números a baixo e entre em contato!
    </div>
    <titled-box narrow-px title="Atendimento 24h">

        <ons-button modifier="left-icon wide quiet" system-open-click="tel:0800-726-4000">
            <ons-icon icon="fa-phone-square fa-3"></ons-icon>0800 726 4000
        </ons-button>

        <ons-button modifier="left-icon wide quiet" system-open-click="tel:011-4004-4011">
            <ons-icon icon="fa-phone-square"></ons-icon>11 4004 4011
        </ons-button>

        <titled-text-block title="Exterior">

            <ons-button modifier="left-icon wide quiet" system-open-click="tel:+55-11-2132-4292">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 2132 4292
            </ons-button>

            <ons-button modifier="left-icon wide quiet" system-open-click="tel:+55-11-3254-2121">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 3254 2121
            </ons-button>

        </titled-text-block>

    </titled-box>

    <titled-box narrow-px title="Pessoas com deficiência auditiva ou de fala">

        <titled-text-block title="Através de aparelhos adaptados">

            <ons-button modifier="left-icon quiet" system-open-click="tel:0800-727-7070">
                <ons-icon icon="fa-phone-square"></ons-icon>0800 727 7070
            </ons-button>

        </titled-text-block>

        <titled-text-block title="Mensagem de texto - SMS 11">

            <ons-button modifier="left-icon quiet" system-open-click="sms:95951-0005">
                <ons-icon icon="fa-phone-square"></ons-icon>95951 0005
            </ons-button>

        </titled-text-block>

    </titled-box>

    <titled-box narrow-px title="Orientação Médica 24h">

        <p>
            <b>Imagine poder falar com um médico a qualquer hora</b>, recebendo instruções e
            tirando dúvidas que o ajudem a proceder de forma mais segura e confiante?
        </p>
        <p>
            O associado Omint conta com este importante benefício e pode falar não apenas com
            um médico, mas com várias equipes exclusivas, de diversas especialidades, à disposição
            <b>24 horas por dia</b>.
        </p>

        <ons-button modifier="left-icon quiet" system-open-click="tel:0800-726-4001">
            <ons-icon icon="fa-phone-square"></ons-icon>0800 726 4001
        </ons-button>

    </titled-box>

    <titled-box narrow-px title="Seguro Viagem – Atendimento 24h">

        <titled-text-block title="No Brasil">

            <ons-button modifier="left-icon quiet" system-open-click="tel:0800-726-4002">
                <ons-icon icon="fa-phone-square"></ons-icon>0800 726 4002
            </ons-button>

        </titled-text-block>

        <titled-text-block title="No exterior">

            <p>
                Exclusivo para planos: Omint Premium, Omint Access, Omint Corporate. <br />
                Ligue a cobrar via telefonista local
            </p>

            <ons-button modifier="left-icon quiet" system-open-click="tel:+55-11-2132-4292">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 2132 4292
            </ons-button>

            <ons-button modifier="left-icon quiet" system-open-click="tel:+55-11-3254-2121">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 3254 2121
            </ons-button>

        </titled-text-block>

    </titled-box>

    <titled-box narrow-px title="Clínica Odonotológica Omint">

        <titled-text-block title="Associado Omint Atendimento 24 Horas">

            <p>
                Pelo Atendimento Omint você <br />
                tem acesso a diversas informações <br />
                para utilização do seu plano.
            </p>

            <ons-button modifier="left-icon quiet" system-open-click="tel:0800-726-4000">
                <ons-icon icon="fa-phone-square"></ons-icon>0800 726 4000
            </ons-button>

            <ons-button modifier="left-icon quiet" system-open-click="tel:+55-11-4004-4011">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 4004 4011
            </ons-button>

        </titled-text-block>

        <titled-text-block title="No exterior">

            <ons-button modifier="left-icon quiet" system-open-click="tel:+55-11-2132-4292">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 2132 4292
            </ons-button>

            <ons-button modifier="left-icon quiet" system-open-click="tel:+55-11-3254-2121">
                <ons-icon icon="fa-phone-square"></ons-icon>+55 11 3254 2121
            </ons-button>

        </titled-text-block>

        <titled-text-block title="Agendamentos">

            <ons-button modifier="left-icon quiet" system-open-click="tel:11-2132-4002 ">
                <ons-icon icon="fa-phone-square"></ons-icon>11-2132-4002 
            </ons-button>

        </titled-text-block>

    </titled-box>

    <titled-box narrow-px title="Mais Informações">

        <titled-text-block title="Pessoas precisam de pessoas">
            Quando o associado liga para a Omint, tem sua ligação atendida por uma pessoa de verdade,
            alguém que realmente entende o que ele precisa, como nenhuma resposta automática pode fazer.
        </titled-text-block>

        <titled-text-block title="O que você pode obter pelo atendimento Omint">
            <ul>
                <li>Orientação sobre a melhor utilização do seu plano Omint;</li>
                <li>Esclarecimentos sobre processos de reembolsos de despesas;</li>
                <li>Informações imediatas sobre coberturas contratadas;</li>
                <li>
                    Encaminhamento de pedidos de autorização para internações, exames de alta complexidade
                    e outros procedimentos;
                </li>
                <li>Informações sobre estabelecimentos e profissionais credenciados.</li>
            </ul>
        </titled-text-block>

    </titled-box>

</ons-page>