<ons-page modifier="faded" ng-controller="CredencialOfflineController">

    <custom-toolbar menu-button title="Credencial Digital"></custom-toolbar>

    <div class="narrow-pct">
        <ons-list class="text-small" modifier="default">
            <div ng-repeat="credencial in credenciais">
                <ons-list-header class="list--menu list__header">{{credencial.NomeBeneficiario}}</ons-list-header>
                <ons-list-item ng-show="credencial.CodigoCredencialMedicina != null" 
                            modifier="chevron" ng-click="credencialMedicina(credencial)">
                    <div class="flex-content-row">
                        <div>
                            <span class="fa fa-credit-card"></span>
                            Credencial Medicina - ({{credencial.NumeroCredenciaMedicina}})
                        </div>
                    </div>
                </ons-list-item>
                <ons-list-item ng-show="credencial.CodigoCredencialOdonto != null" 
                            modifier="chevron" ng-click="credencialOdonto(credencial)">
                    <div class="flex-content-row">
                        <div>
                            <span class="fa fa-credit-card"></span>
                            Credencial Odontológica - ({{credencial.NumeroCredenciaOdonto}})
                        </div>
                    </div>
                </ons-list-item>
            </div>
        </ons-list>
    </div>
</ons-page>