﻿<ons-page modifier="faded" ng-controller="EnderecosController">
    <custom-toolbar menu-button title="Endereços"></custom-toolbar>

    <div class="margin-bottom-px narrow-px">
        <div class="text-block">
            <p>
                O atendimento pessoal está disponível em todas as unidades para entrega de documentos relacionados a reembolsos, autorizações e orçamentos, das <b>8h30</b> às <b>17h00</b>.
            </p>
            <p>
                Para assuntos relacionados a contratos, agendar pelo <b>0800 726 4000</b>, exclusivamente na Vila Omint.
            </p>
        </div>

        <titled-text-block title="VILA OMINT - SEDE">
            <a latitude="-23.5853643" longitude="-46.6895244" map-link="Vila Omint - Sede">
                <map-button></map-button>
            </a>
            Rua Franz Schubert, 33. Jd.Paulistano.<br>CEP 01454-020
        </titled-text-block>

        <titled-text-block title="UNIDADE BERRINI">
            <a latitude="-23.610822" longitude="-46.695857" map-link="Unidade Berrini">
                <map-button></map-button>
            </a>
            Rua James Joule, 92. Berrini.<br>CEP 04576-080
        </titled-text-block>

        <titled-text-block title="UNIDADE ALPHAVILLE">
            <a latitude="-23.496186" longitude="-46.8483052" map-link="Unidade Alphaville">
                <map-button></map-button>
            </a>
            Alameda Rio Negro, 1084. Loja 7. Alphaville.<br>CEP 06454-000
        </titled-text-block>

        <titled-text-block title="UNIDADE RIBEIRÃO PRETO">
            <a latitude="-21.2062807" longitude="-47.8128801" map-link="Unidade Ribeirão Preto">
                <map-button></map-button>
            </a>
            Av. Presidente Vargas, 2121 - Térreo - Edifício Times Square Jardim América<br>CEP 14020-260
        </titled-text-block>

        <titled-text-block title="UNIDADE RIO DE JANEIRO">
            <a latitude="-22.9800754" longitude="-43.2026159" map-link="Unidade Rio de Janeiro">
                <map-button></map-button>
            </a>
            Rua Vinícius de Moraes, 266. Ipanema.<br>CEP 22411-010
        </titled-text-block>

    </div>
</ons-page>