﻿<ons-page modifier="transparent full" ng-controller="LoginController">
    <custom-toolbar back-button hide-home-button></custom-toolbar>

    <div class="login-container" ng-show="!ajaxLoadingModal">

        <img src="images/logo-omint-letters.png" />
        <div class="narrow-pct">

            <div class="buttons">
                <div class="form-submit-wrapper">
                    <input class="text-input--underbar" ng-model="email" placeholder="Email" type="email">
                    <input class="text-input--underbar password" ng-model="password" placeholder="Senha" type="{{passwordType}}">
                    <ons-button modifier="quiet" ng-click="viewPassword($event)"><ons-icon icon="{{eyeType}}"></ons-icon></ons-button>
                </div>
                <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!email || !password || ajaxLoading">Acessar</ons-button>

                <span>ou</span>

                <ons-button modifier="icon wide facebook" ng-click="submitFacebook()" ng-disabled="ajaxLoading">
                    <ons-icon icon="fa-facebook"></ons-icon>Acessar com Facebook
                </ons-button>

            </div>
        </div>
        <div class="footer-buttons">
            <ons-button modifier="quiet" ng-disabled="ajaxLoading" push-view="recuperar-senha-enviar-codigo">Recuperar senha</ons-button>
        </div>

    </div>
</ons-page>