﻿<ons-page modifier="transparent full" ng-controller="LoginController">
    <custom-toolbar menu-button></custom-toolbar>

    <div class="login-container" ng-show="!ajaxLoadingModal">

        <img src="images/logo-omint-letters.png" />
        <div class="narrow-pct" >
   
            <div class="buttons">

      
                <div ng-click="openMenu()">
     
                    <p>Você pode acessar opções mesmo offline utilizando o menu.
                     <strong>Clique Aqui</strong>
                     </p>
                </div>
                <ons-button modifier="wide light1" ng-disabled="ajaxLoading" push-view="primeiroacesso-termoaceite">Primeiro acesso</ons-button>
                
                <ons-button modifier="wide light1" ng-disabled="ajaxLoading" push-view="login-redirected">Login</ons-button>
            </div>
        </div>
        <div class="footer-buttons">
            
            <ons-button modifier="quiet" ng-disabled="ajaxLoading" push-view="recuperar-senha-enviar-codigo">Recuperar senha</ons-button>
        </div>

    </div>
</ons-page>