﻿<ons-page>
    <div ng-show="ajaxLoadingModal" style="z-index: 20000; position: absolute; width: 100%; height: 100%">
        <div class="dialog-mask"></div>

        <div class="dialog" >
            <div class="page">
                <p style="color: gray; margin-top: 39px; text-align: center;">
                    <ons-icon icon="ion-load-c" spin="true"></ons-icon> Aguarde...
                </p>
            </div>
        </div>
    </div>
    <div style="-webkit-transform: translate3d(0px, 0px, 0px); background: url(images/bg1.jpg); background-position: 50% 0%; background-size: cover; height: 100%; overflow: hidden; position: absolute; top: 0; width: 100%; z-index: -2;">
        <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(251, 251, 251, 0.90) 72%, rgba(249, 249, 249, 1) 100%); bottom: -2px; height: 200px; position: absolute; width: 100%;"></div>
    </div>
    <ons-navigator ons-postpop="$event.enterPage.pageScope.setMenuPermissions();" page="views/login.html" style="background: transparent;" var="mainpage.nav">
    </ons-navigator>

</ons-page>