﻿<ons-page modifier="menu-page" ng-controller="MenuController">

    <img src="images/logo-omint-letters.png" />
    <div class="identificacao-vinculo" ng-if="DescricaoIdentificacaoVinculo">
        <p>OLÁ {{DescricaoIdentificacaoVinculo}}</p>
    </div>
    <ons-list id="menu" modifier="menu">

        <div ng-show="!menu.length">
            <ons-list-header>Associados</ons-list-header>
            <ons-list-item modifier="chevron" onclick="app.navigate('views/credenciais-offline.html', true)">
                <ons-icon icon="fa-credit-card" /> Credencial Digital
            </ons-list-item>
        </div>
        <ons-list-item ng-if="!menu.length" onclick="app.navigate('views/restrito/noticia-lista.html', true)">
            <ons-icon icon="info-circle"/>
            Notícias
        </ons-list-item>
        <div ng-repeat="cat in menu">
            <ons-list-header>{{cat.Titulo}}</ons-list-header>

            <ons-list-item data-label="{{menuItem.Label}}" modifier="chevron" ng-click="navigate(menuItem, true)" ng-repeat="menuItem in cat.Itens">
                <ons-icon icon="{{menuItem.Icon}}" /> {{menuItem.Label}}
                <div class="notification" ng-show="notificacoes[menuItem.Label].length">{{notificacoes[menuItem.Label].length}}</div>
                <div class="box-row">
                </div>

            </ons-list-item>
            <ons-list-item ng-if="menu.length && cat.Titulo == 'Minha Omint'" onclick="app.navigate('views/restrito/noticia-lista.html', true)">
                <ons-icon icon="info-circle"/>
                Notícias
            </ons-list-item>

        </div>
        <div>
            <ons-list-header>Institucional</ons-list-header>
            <ons-list-item modifier="chevron" onclick="app.navigate('views/enderecos.html', true)">
                <ons-icon icon="fa-building" /> Endereços
            </ons-list-item>
            <ons-list-item modifier="chevron" onclick="app.navigate('views/contatos.html', true)">
                <ons-icon icon="fa-phone" /> Contatos
            </ons-list-item>
        </div>
        <ons-list-header>Opções</ons-list-header>
        <ons-list-item ng-show="menu.length" modifier="chevron" onclick="app.navigate('views/restrito/configuracoes.html', true)">
            <ons-icon icon="fa-cog" /> Configurações
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="logout()" ng-show="menu.length">
            <ons-icon icon="fa-ban" /> Sair
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-show="!menu.length" onclick="app.navigate('views/login.html', true)">
            <ons-icon icon="fa-key" /> Login
        </ons-list-item>
    </ons-list>
</ons-page>