﻿<ons-page modifier="faded" ng-controller="PrimeiroAcessoEnviarConfirmacaoController">
    <custom-toolbar back-button title="Confirmação de Identidade"></custom-toolbar>

    <div class="narrow-px">
        <div class="text-block">
            <p>
                Para continuar com seu cadastro, enviaremos um email com um código de segurança que deverá
                ser informado na etapa seguinte.
            </p>
            <p>
                Selecione em qual email deseja receber o código (Lembre-se que o email selecionado
                será o seu login para acessar a app).
            </p>
        </div>
        
        <ons-fab ng-click="CadastrarEmail()" class="fab" style="transform: scale(1);"><span class="fab__icon">
            <ons-icon icon="ion-plus-circled" class="ons-icon ons-icon--ion ng-scope ion-plus-circled fa-lg" style="font-size: 30px;float: right;margin: 5px;"></ons-icon>
          </span>
        </ons-fab>

        <radio attr-model="$parent.emailSelecionado" attr-value="email.Email" ng-repeat="email in info.Emails">{{email.Mask}}</radio>

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!emailSelecionado || ajaxLoading">Enviar</ons-button>

        <steps count="5" position="3" />
    </div>

</ons-page>