﻿<ons-page modifier="faded" ng-controller="PrimeiroAcessoCadastroController">
    <custom-toolbar back-button title="Cadastro"></custom-toolbar>

    <div class="narrow-px">
        <div class="text-block">
            Olá {{info.BeneficiarioKit.Nome}}, falta somente uma etapa para concluir seu cadastro.
            <br />Preencha uma senha de no mínimo 8 caracteres ou utilize o Facebook para acessar a app.
        </div>
        <input class="text-input--underbar" ng-model="senha" placeholder="Senha" type="password" />
        <input class="text-input--underbar" ng-model="senhaconfirm" placeholder="Repetir Senha" type="password" />
        <div class="buttons">
            <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!senha || senha != senhaconfirm || senha.length < 8 || ajaxLoading">Finalizar</ons-button>
            <span>ou</span>
            <ons-button modifier="icon wide facebook" ng-click="submitFacebook()" ng-disabled="ajaxLoading">
                <ons-icon icon="fa-facebook"></ons-icon>Vincular com Facebook
            </ons-button>

        </div>
        <steps count="5" position="5" />
    </div>

</ons-page>