﻿<ons-page modifier="faded" ng-controller="PrimeiroAcessoTermoAceiteController">
    <custom-toolbar back-button title="Termo de Aceite"></custom-toolbar>

    <loading-text ng-show="!termo"></loading-text>

    <div bind-selector-bottom=".bottom-anchor" class="container" ng-bind-html="termo"></div>

    <div class="bottom-anchor">

        <checkbox attr-disabled="!termo" attr-model="aceito">Aceito os termos acima apresentados</checkbox>

        <ons-button modifier="light1 wide" ng-click="aceitar()" ng-disabled="!termo || !aceito || ajaxLoading">Próximo</ons-button>

        <steps count="5" position="1" />
    </div>

</ons-page>