﻿<ons-page modifier="faded" ng-controller="PrimeiroAcessoVinculoController">
    <custom-toolbar back-button title="Vínculo"></custom-toolbar>

    <div class="narrow-px">
        <div class="text-block">
            Antes de continuar, é necessário identificar seu vínculo com a Omint. Escolha o seu tipo de vínculo:
        </div>

        <div class="select-holder">
            <span>Vínculo</span>
            <select ng-init="tipo='0'" ng-model="tipo" ng-options="k as v.Tipo for (k,v) in tipos"></select>
        </div>


        <div>{{tipos[tipo].Instrucao}}</div>
        <input class="text-input--underbar" 
               ng-model="vinculo" 
               placeholder="{{tipos[tipo].Label}}" 
               type="number" 
               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
               minlength="11"
               maxlength = "13" />
        
        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!vinculo || ajaxLoading">Próximo</ons-button>

        <steps count="5" position="2" />
    </div>

</ons-page>