﻿<ons-page modifier="faded" ng-controller="PrimeiroAcessoInformarConfirmacaoController">
    <custom-toolbar back-button title="Confirmação de Identidade"></custom-toolbar>

    <div class="narrow-px">
        <div class="text-block">
            <p>
                Foi enviado um código de confirmação para o email selecionado. <br />
                Se em alguns minutos não receber a mensagem, verifique sua caixa de spam ou tente novamente.
            </p>
            <p>
                Informe o código enviado para o email selecionado no campo abaixo.
            </p>
        </div>
        <input class="text-input--underbar" ng-model="codigo" placeholder="Código" type="number" />

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!codigo || ajaxLoading">Próximo</ons-button>

        <steps count="5" position="4" />
    </div>

</ons-page>