﻿<ons-page modifier="faded" ng-controller="PrimeiroAcessoCadastrarEmailController">
    <custom-toolbar back-button title="Cadastro de Email"></custom-toolbar>

    <div class="narrow-px">
        <div class="text-block">
            <p>
                {{mensagemEmail}}
            </p>
        </div>

        <input class="text-input--underbar" 
        ng-model="email" 
        placeholder="Informe aqui seu e-mail" 
        type="email" 
        name="string"
        required="string"
        ng-required="string"
        ng-minlength="number"
        ng-maxlength="number"
        pattern="string"
        ng-pattern="string"
        ng-change="string" />
 
        <ons-button modifier="wide light1" ng-click="CadastrarEmail(email)" ng-disabled="!email || ajaxLoading">Próximo</ons-button>

        <steps count="5" position="2" />
    </div>

</ons-page>