﻿<ons-page modifier="faded" ng-controller="RecuperarSenhaEnviarCodigoController">
    <custom-toolbar back-button title="Recuperar Senha"></custom-toolbar>

    <div class="narrow-px">
        <div class="text-block">
            <p>Para recuperar sua senha, informe o email utilizado para login no campo abaixo. </p>
            <p>Você receberá uma mensagem com um código de segurança, com validade somente para o dia de hoje, que deverá ser informado na etapa seguinte.</p>
            <p>Se em alguns minutos não receber a mensagem, verifique sua caixa de spam ou tente novamente.</p>
        </div>

        <input class="text-input--underbar" ng-model="email" placeholder="Email" type="email" />

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!email || ajaxLoading">Enviar</ons-button>

    </div>

</ons-page>