﻿<ons-page modifier="faded" ng-controller="RecuperarSenhaInformarCodigoController">
    <custom-toolbar back-button title="Recuperar Senha"></custom-toolbar>

    <div class="narrow-px margin-bottom-px">
        <div class="text-block">
            <p>
                Foi enviado um código de confirmação para o email selecionado. <br />
                Se em alguns minutos não receber a mensagem, verifique sua caixa de spam ou tente novamente.
            </p>
            <p>
            Informe o código enviado para o email informado e a nova senha com no mínimo 8 caracteres nos campos abaixo.
            </p>
        </div>
        <input class="text-input--underbar" ng-model="codigo" placeholder="Código" type="number" />
        
        <input class="text-input--underbar" ng-model="senha" placeholder="Nova Senha" type="password" />
        <input class="text-input--underbar" ng-model="senhaconfirm" placeholder="Repetir Nova Senha" type="password" />

        
        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!codigo || !senha || senha != senhaconfirm || senha.length < 8 || ajaxLoading">Finalizar</ons-button>

    </div>

</ons-page>