<ons-page modifier="faded" ng-controller="TokenRenewalController">
    <h4 style="text-align:center; margin-top: 40px;">Por favor, aguarde um instante enquanto renovamos seu acesso.</h4>
    <p style="text-align:center"><i class="fa fa-spinner fa-spin fa-2x"></i></p>    
</ons-page>