﻿<ons-page modifier="faded" ng-controller="AlterarSenhaController">
    <custom-toolbar back-button title="Alterar Senha"></custom-toolbar>
    <div class="narrow-px">
        <div class="text-block">
            Escolha uma senha forte e não a use novamente em outras contas.<br />
            Use pelo menos 8 caracteres. Não use uma senha de outro site ou algo que seja muito óbvio, como, por exemplo, o nome do seu animal de estimação.
        </div>
        <input class="text-input--underbar" ng-model="senhaAtual" placeholder="Senha atual" type="password" />

        <input class="text-input--underbar" ng-model="novaSenha" placeholder="Nova senha" type="password" />
        <input class="text-input--underbar" ng-model="confirmarNovaSenha" placeholder="Repetir nova senha" type="password" />

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!senhaAtual || !novaSenha || novaSenha != confirmarNovaSenha || novaSenha.length < 8 || ajaxLoading">Redefinir Senha</ons-button>
    </div>
</ons-page>