﻿<ons-page modifier="faded" ng-controller="AssociadoListaFaturasController">
    <custom-toolbar menu-button title="Faturas"></custom-toolbar>

    <div class="narrow-px">

        <loading-text ng-show="!faturas.length"></loading-text>

        <no-items-text ng-show="!faturas.length"></no-items-text>

        <ons-list class="text-small" modifier="default">
            <ons-list-item modifier="chevron" ng-click="faturaDocumento(fatura)" ng-repeat="fatura in faturas">
                <div class="flex-content-row">
                    <div>
                        N°: <span class="text-highlight1">{{fatura.NrTitulo}}</span>
                    </div>
                    <div>
                        Situação: <span class="text-highlight1">{{fatura.StatusPagamento}}</span>
                    </div>
                </div>
                <div class="flex-content-row">
                    <div>
                        Valor: <span class="text-highlight1">{{fatura.ValorFatura}}</span>
                    </div>
                    <div>
                        Vencimento:<span class="text-highlight1"> {{fatura.DataVencimento}}</span>
                    </div>
                </div>
                <div class="flex-content-row">
                    <div>
                        Mês: <span class="text-highlight1">{{fatura.MesReferencia}}</span>
                    </div>
                    <div ng-show="fatura.DataLiquidacao">
                        Pagamento: <span class="text-highlight1">{{fatura.DataLiquidacao}}</span>
                    </div>
                </div>

            </ons-list-item>

        </ons-list>

    </div>
</ons-page>