﻿<ons-page modifier="faded" ng-controller="AssociadoPlanoListaController">
    <custom-toolbar menu-button title="Meu Plano"></custom-toolbar>

    <loading-text ng-show="!data.Planos.length"></loading-text>

    <no-items-text ng-show="!data.Planos.length"></no-items-text>

    <div class="narrow-px" ng-show="data.Planos.length">

        <table class="data-table-1">
            <tr>
                <td>Associado:</td>
                <td>{{data.Beneficiario}}</td>
            </tr>
            <tr>
                <td>Nº Associado:</td>
                <td>{{data.Vinculo}}</td>
            </tr>
            <tr>
                <td>CNS – Carteira Nacional de Saúde:</td>
                <td>{{data.NumeroCns}}</td>
            </tr>
            <tr>
                <td>Data de Nascimento:</td>
                <td>{{data.DataNascimento}}</td>
            </tr>
            <tr>
                <td>Data de Ingresso na Omint:</td>
                <td>{{data.DataIngresso}}</td>
            </tr>
            <tr>
                <td>Categoria do Beneficiário:</td>
                <td>{{data.GrauParentesco}}</td>
            </tr>
        </table>

        <div ng-repeat="item in data.Planos" ng-show="item.CodigoPlano">
            <hr class="hr-narrow-pct" />

            <table class="data-table-1">
                <tr>
                    <td>Nome do Plano:</td>
                    <td>{{item.CodigoPlano}}</td>
                </tr>
                <tr>
                    <td>Tipo de Plano:</td>
                    <td>{{item.TipoPlano}}</td>
                </tr>
                <tr>
                    <td>Nº Registro ANS:</td>
                    <td>{{item.RegistroAns}}</td>
                </tr>
                <tr>
                    <td>Classificação do Plano:</td>
                    <td>{{item.ClassificacaoPlano}}</td>
                </tr>
                <tr>
                    <td>Situação junto a ANS:</td>
                    <td>{{item.SituacaoAns}}</td>
                </tr>
                <tr>
                    <td>Credencial:</td>
                    <td ng-click="credencialDetalhe(data.Vinculo, item.TipoPlano)">
                        <u>{{item.Credencial}} 
                            <span class="fa fa-external-link" style="text-decoration: underline"></span>
                        </u>
                    </td>
                </tr>
                <tr>
                    <td>Validade:</td>
                    <td>{{item.DataFimCredencial}}</td>
                </tr>
            </table>
        </div>

    </div>

    <titled-box narrow-px title="Beneficiários" ng-show="data.Beneficiarios.length > 0">
        <div ng-repeat="beneficiario in data.Beneficiarios">

            <table class="data-table-1">
                <tr>
                    <td>Nome:</td>
                    <td>{{beneficiario.Nome}}</td>
                </tr>
                <tr>
                    <td>Nº Associado:</td>
                    <td>{{beneficiario.Vinculo}}</td>
                </tr>
                <tr>
                    <td>Sexo:</td>
                    <td>{{beneficiario.Sexo}}</td>
                </tr>
                <tr>
                    <td>Data de Nascimento:</td>
                    <td>{{beneficiario.DataNascimento}}</td>
                </tr>
                <tr ng-show="beneficiario.NumeroCPF != null">
                    <td>CPF:</td>
                    <td>{{beneficiario.NumeroCPF}}</td>
                </tr>
                <tr>
                    <td>Data de Ingresso:</td>
                    <td>{{beneficiario.DataIngresso}}</td>
                </tr>
                <tr>
                    <td>Grau de Parentesco:</td>
                    <td>{{beneficiario.GrauParentesco}}</td>
                </tr>
                <tr>
                    <td>CNS – Carteira Nacional de Saúde:</td>
                    <td>{{beneficiario.NumeroCns}}</td>
                </tr>
                <tr ng-show="beneficiario.CodigoPlanoMedico != null">
                    <td>Plano Médico:</td>
                    <td>{{beneficiario.CodigoPlanoMedico}}</td>
                </tr>
                <tr ng-show="beneficiario.NumeroCredencialMedica != null">
                    <td>Credencial Medicina:</td>
                    <td ng-click="credencialDetalhe(beneficiario.Vinculo, 'Medicina')">
                        <u>{{beneficiario.NumeroCredencialMedica}} <span class="fa fa-external-link" style="text-decoration: underline"></span></u>
                    </td>
                </tr>
                <tr ng-show="beneficiario.CodigoPlanoOdontologico != null">
                    <td>Plano Odontológico:</td>
                    <td>{{beneficiario.CodigoPlanoOdontologico}}</td>
                </tr>
                <tr ng-show="beneficiario.NumeroCredencialOdonto != null">
                    <td>Credencial Odontologia:</td>
                    <td ng-click="credencialDetalhe(beneficiario.Vinculo, 'Odontologia')">
                        <u>{{beneficiario.NumeroCredencialOdonto}} <span class="fa fa-external-link" style="text-decoration: underline"></span></u>
                    </td>
                </tr>
            </table>

            <hr class="hr-narrow-pct" />
        </div>
    </titled-box>
</ons-page>