<ons-page modifier="faded" ng-controller="AssociadoAtualizarCadastroController">
    <custom-toolbar menu-button title="Atualizar Cadastro"></custom-toolbar>

    <div id="dados" class="dados" ng-repeat="beneficiario in beneficiarios" ng-show="beneficiarios.length > 0">
        <div id="beneficiario" class="beneficiario">
            <div>
                <label hidden="hidden" class="id_pessoa">{{ beneficiario.Pessoa.PessoaId }}</label>
                <label>Nome: </label>
                <label class="nome">{{ beneficiario.Pessoa.Nome }} </label>
            </div>
            <div>
                <label>CPF: </label>
                <input id="focus" class="text-input--underbar cpf" ui-mask="999.999.999-99" type="text" pattern="[0-9]*" inputmode="numeric" min="0"/>
            </div>
        </div>
    </div>

    <footer class="bottom-anchor">
        <ons-button modifier="light1" ng-disabled="ajaxLoading" ng-click="cancelarAtualizacao()" >Cancelar</ons-button>
        <ons-button modifier="light1" ng-disabled="ajaxLoading" ng-click="atualizarCadastro()">Atualizar</ons-button>
    </footer>
</ons-page>