﻿<ons-page modifier="faded" ng-controller="AtendimentoListaController">
    <custom-toolbar menu-button title="Lista de Atendimentos"></custom-toolbar>

    <no-items-text ng-show="!atendimentoLista.length"></no-items-text>

    <div bind-selector-bottom=".bottom-anchor" class="container">
        <ons-list modifier="default">

            <ons-list-item modifier="chevron" ng-class="{'notificacao' : notificacoes['Atendimento'].indexOf(atendimento.IdChamado) >= 0}" ng-click="detalhe(atendimento)" ng-repeat="atendimento in atendimentoLista">
                <div class="flex-content-row text-small">
                    <div>
                        Nº: <span class="text-highlight1">{{atendimento.IdChamado}}</span>
                    </div>
                    <div>
                        Situação: <span class="text-highlight1">{{atendimento.Status}}</span>
                    </div>
                </div>
                <div class="flex-content-row">
                    <div>
                        {{atendimento.DsAssunto}}
                    </div>
                </div>
            </ons-list-item>
        </ons-list>

    </div>

    <div class="bottom-anchor">
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" push-view="restrito/atendimento-novo" push-view-navparams="5856">Novo</ons-button>
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" push-view="restrito/atendimento-filtro">Filtrar</ons-button>
    </div>

</ons-page>