<ons-page modifier="faded" ng-controller="AtendimentoSucessoController">
    <custom-toolbar title="Novo Atendimento"></custom-toolbar>
    <div class="narrow-px">
        <p>Enviado com sucesso!</p>
        <p>Seu protocolo é:</p>
        <h3 class="text-hightlight1">{{idChamado}}</h3>
        <p class="message">Você pode acompanhar o andamento deste processo através deste aplicativo , do chat Omint mais ou em nosso site</p>
    </div>
    <div class="bottom-anchor narrow-px">
        <ons-button modifier="light1 wide" ng-click="app.navigate('views/restrito/atendimento-lista.html', true)" ng-disabled="ajaxLoading">Sair</ons-button>
    </div>
</ons-page>