﻿<ons-page modifier="faded" ng-controller="AtendimentoFiltroController">
    <custom-toolbar back-button title="Filtrar Atendimentos"></custom-toolbar>
    <div class="narrow-px">
        <input class="text-input--underbar" ng-model="filtro.idChamado" placeholder="Nº do Atendimento" type="text" />

        <div class="select-holder">
            <span>Situação</span>
            <select ng-model="filtro.situacao">
                <option value="">- Selecione -</option>
                <option value="A">Aberto</option>
                <option value="M">Em andamento</option>
                <option value="E">Encerrado</option>
            </select>
        </div>
        <div class="select-holder">
            <span>Demanda</span>
            <select ng-model="filtro.idTipoDemanda" ng-change="filtro.idClassifica=undefined">
                <option value="">- Selecione -</option>
                <option value="{{dem.Id}}" ng-repeat="dem in demandas">{{dem.Desc}}</option>
            </select>
        </div>
        <div class="select-holder">
            <span>Assunto</span>
            <select ng-model="filtro.idClassifica">
                <option value="">- {{!filtro.idTipoDemanda ? "Selecione uma demanda" : "Selecione"}} -</option>
                <option value="{{dem.IdClassifica}}" ng-repeat="dem in assuntos[filtro.idTipoDemanda] track by dem.IdClassifica">{{dem.Assunto}}</option>
            </select>
        </div>

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="ajaxLoading">Buscar</ons-button>
    </div>
</ons-page>