﻿<ons-page modifier="faded" ng-controller="AtendimentoNovoController">
    <custom-toolbar back-button title="Novo Atendimento"></custom-toolbar>
    <div >
        <textarea class="text-input--underbar" ng-model="observacao" placeholder="Digite sua observação" style="height:100px;"></textarea>
        <h4 style="text-align: center; margin: 5px;">INSERIR DOCUMENTOS</h4>
        <div id="images-to-upload">
            <button class="img-wrapper">
                <ons-icon icon="fa-camera fa-2x" fixed-width="false"></ons-icon>
                <div>Inserir</div>
                <input type="file" name="files[]" id="images" multiple>
            </button>
            <div class="img-wrapper" ng-repeat="file in fileList">
                <img ng-if="file.data && file.type !== 'application/pdf'" src="{{file.data}}" alt="arquivo">
                <ons-icon ng-if="file.type === 'application/pdf'" class="fa fa-file-pdf-o"></ons-icon>
                <ons-icon ng-if="!file.data" icon="ion-load-c" spin="true"></ons-icon>
                <div class="delete-doc" ng-click="removeFile(file);"><i class="fa fa-times"></i></div>
            </div>
        </div>
    </div>
    <div class="bottom-anchor narrow-px">
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" ng-click="app.return()">Voltar</ons-button>
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" ng-click="sendForm()">Enviar</ons-button>
    </div>
</ons-page>