﻿<ons-page modifier="faded" ng-controller="AtendimentoDetalheController as atendCtrl" ng-init="atendCtrl.tab = 'obs'">
    <custom-toolbar back-button title="Atendimento"></custom-toolbar>
    <div class="narrow-px">

        <table class="data-table-1">
            <tr>
                <td>Protocolo de atendimento:</td>
                <td>{{atendCtrl.atendimentoDetalhe.IdChamado}}</td>
            </tr>
            <tr>
                <td>Data de Início:</td>
                <td>{{atendCtrl.atendimentoDetalhe.DataHoraInicio}}</td>
            </tr>
            <tr>
                <td>Situação:</td>
                <td>{{atendCtrl.atendimentoDetalhe.Status}}</td>
            </tr>
        </table>
        <ons-button class="botao-inserir-observacao" modifier="wide light1" push-view="restrito/atendimento-nova-observacao" push-view-navparams="5856">
            Responder
        </ons-button>
        <titled-box narrow-px title="Observações">
            <div ng-repeat="obs in atendCtrl.atendimentoDetalhe.Observacoes">
                <div ng-show="!atendCtrl.atendimentoDetalhe.Observacoes.length">Nenhuma observação inserida.</div>
                <table class="data-table-1">
                    <tr>
                        <td>Data de Inclusão:</td>
                        <td>{{obs.DataInclusao}}</td>
                    </tr>
                    <tr>
                        <td>Texto:</td>
                        <td class="upper">{{obs.DescricaoObservacao}}</td>
                    </tr>    
                </table>    
                <hr class="hr-narrow-pct" />    
            </div>
        </titled-box>
        <titled-box narrow-px title="Documentos">
            <div ng-show="!atendCtrl.atendimentoDetalhe.Imagens.Table.length">Nenhum documento inserido.</div>
            <div id="images-to-upload" ng-show="atendCtrl.atendimentoDetalhe.Imagens.Table.length">
                <div class="img-wrapper" ng-repeat="doc in atendCtrl.atendimentoDetalhe.Imagens.Table" ng-click="atendCtrl.verDocumento(doc)">
                    <ons-icon ng-class="atendCtrl.getIconByFileExtension(doc)"></ons-icon>   
                </div>
            </div>
        </titled-box>
</ons-page>