﻿<ons-page modifier="faded" ng-controller="AutorizacaoDetalheController">
    <custom-toolbar back-button title="Autorização {{autorizacaoDetalhe.IdAutorizacao}}"></custom-toolbar>
    <div class="narrow-px">

        <table class="data-table-1">
            <tr>
                <td>Titular:</td>
                <td>{{autorizacaoDetalhe.NomeTitular}}</td>
            </tr>
            <tr>
                <td>Data de Entrada:</td>
                <td>{{autorizacaoDetalhe.DataEntrada}}</td>
            </tr>
            <tr ng-show="autorizacaoDetalhe.DataLiberacao">
                <td>Data de Liberação:</td>
                <td>{{autorizacaoDetalhe.DataLiberacao}}</td>
            </tr>
            <tr>
                <td>Tipo de Serviço:</td>
                <td>{{autorizacaoDetalhe.TipoServico}}</td>
            </tr>
            <tr>
                <td>Situação:</td>
                <td>{{autorizacaoDetalhe.TipoSituacao}}</td>
            </tr>
            <tr ng-show="autorizacaoDetalhe.Pendencia">
                <td>Motivo:</td>
                <td>{{autorizacaoDetalhe.Pendencia}}</td>
            </tr>
        </table>

        <ons-button modifier="wide light1" ng-click="downloadAutorizacao(autorizacaoDetalhe)" ng-disabled="ajaxLoading">Download da autorização</ons-button>

    </div>

    <titled-box class="margin-bottom-px" narrow-px title="Detalhes da Autorização">
        <no-items-text ng-show="!autorizacaoDetalhe.Detalhes.length"></no-items-text>

        <div class="narrow-px" ng-repeat="beneficiario in Beneficiarios">

            <table class="data-table-1">
                <tr>
                    <td>Nome:</td>
                    <td>{{beneficiario.NomeBeneficiario}}</td>
                </tr>
                <tr>
                    <td>Sexo:</td>
                    <td>{{beneficiario.Sexo}}</td>
                </tr>
                <tr>
                    <td>Idade:</td>
                    <td>{{beneficiario.Idade}}</td>
                </tr>
            </table>

        </div>

        <div ng-repeat="detalhe in autorizacaoDetalhe.Detalhes">

            <hr class="hr-narrow-pct" />

            <table class="data-table-1" style="">
                <tr>
                    <td>Data de Solicitação:</td>
                    <td>{{detalhe.DataSolicitacao}}</td>
                </tr>
                <tr ng-show="detalhe.DataPrevista != '01/01/0001'">
                    <td>Data Prevista:</td>
                    <td>{{detalhe.DataPrevista}}</td>
                </tr>
                <tr>
                    <td>Plano:</td>
                    <td>{{detalhe.CodigoPlano}}</td>
                </tr>
                <tr>
                    <td>Honorário:</td>
                    <td>{{detalhe.NomeHonorario}}</td>
                </tr>
                <tr>
                    <td>Documento do Prestador Solicitante:</td>
                    <td>{{detalhe.DocumentoPrestadorSolicitante}}</td>
                </tr>
                <tr>
                    <td>Nome do Prestador Solicitante:</td>
                    <td>{{detalhe.NomePrestadorSolicitante}}</td>
                </tr>
                <tr>
                    <td>Documento do Prestador Executante:</td>
                    <td>{{detalhe.DocumentoPrestadorExecutante}}</td>
                </tr>
                <tr>
                    <td>Nome do Prestador Executante:</td>
                    <td>{{detalhe.NomePrestadorExecutante}}</td>
                </tr>
                <tr>
                    <td>Documento do Prestador Local:</td>
                    <td>{{detalhe.DocumentoPrestadorLocal}}</td>
                </tr>
                <tr>
                    <td>Nome do Prestador Local:</td>
                    <td>{{detalhe.NomePrestadorLocal}}</td>
                </tr>
                <tr>
                    <td>Observação:</td>
                    <td>{{detalhe.Observacao}}</td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>{{detalhe.Status}}</td>
                </tr>
            </table>

        </div>

    </titled-box>

</ons-page>