﻿<ons-page modifier="faded" ng-controller="AutorizacaoListaController">
    <custom-toolbar menu-button title="Lista de Autorizações"></custom-toolbar>

    <loading-text ng-show="!autorizacaoLista.length"></loading-text>

    <no-items-text ng-show="!autorizacaoLista.length">
        Nenhum registro encontrado no período selecionado.<br />
        Utilize o filtro para refinar a busca.
    </no-items-text>

    <div bind-selector-bottom=".bottom-anchor" class="container">
        <ons-list modifier="default">

            <ons-list-item modifier="chevron" ng-click="detalhe(autorizacao)" ng-repeat="autorizacao in autorizacaoLista">

                <div class="flex-content-row text-small">
                    <div>
                        Entrada: <span class="text-highlight1">{{autorizacao.DataEntrada}}</span>
                    </div>
                    <div>
                        Código: <span class="text-highlight1">{{autorizacao.IdAutorizacao}}</span>
                    </div>

                </div>
                <div class="flex-content-row">
                    <div class="nome">
                        {{autorizacao.NomeBeneficiario}}
                    </div>
                    <div class="text-small">
                        Situação: <span class="text-highlight1">{{autorizacao.TipoSituacao}}</span>
                    </div>
                </div>

            </ons-list-item>
        </ons-list>

    </div>

    <div class="bottom-anchor">
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" push-view="restrito/atendimento-novo" push-view-navparams="5852">Novo</ons-button>
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" push-view="restrito/autorizacao-filtro">Filtrar</ons-button>
    </div>
</ons-page>