﻿<ons-page modifier="faded" ng-controller="ConfiguracoesController">
    <custom-toolbar menu-button title="Configurações"></custom-toolbar>

    <ons-list class="narrow-px" modifier="default">
        <ons-list-item modifier="chevron" ng-if="possuiAutenticadorOmint" onclick="app.navigate('views/restrito/alterar-senha.html')">
            Alterar Senha
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-if="!possuiAutenticadorOmint" onclick="app.navigate('views/restrito/vincular-omint.html')">
            Registrar conta de acesso
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="vincularFacebook()" ng-if="!possuiAutenticadorFacebook">
            Vincular conta do Facebook
        </ons-list-item>

        <ons-list-item modifier="chevron" onclick="app.navigate('views/restrito/escolher-titulo.html')">
            Selecionar outros contratos vigentes com a Omint
        </ons-list-item>

        <ons-list-item modifier="chevron" onclick="app.navigate('views/restrito/fingerprint-unblock.html')">
            {{tituloHabilitarDigital}}
        </ons-list-item>
    </ons-list>

</ons-page>