﻿<ons-page modifier="faded" ng-controller="CredencialEletronicaOdontoController">

    <custom-toolbar back-button title="Credencial Odontológica"></custom-toolbar>
    <i style="float:right; font-size:3em; margin-right: 0.3em; color:rgba(255, 255, 255, 0.71);z-index:1000;position:relative;" 
        class="fa fa-share-alt" aria-hidden="true" ng-click="compartilharCredencial()"></i>
        
    <div id="credencial-eletronica"
         ng-class="{'prata' : (credencial.CodigoCredencialOdonto == 'P'),
         'azul' : (credencial.CodigoCredencialOdonto == 'S' || credencial.CodigoCredencialOdonto == 'O'),
         'ouro': (credencial.CodigoCredencialOdonto != 'P' && credencial.CodigoCredencialOdonto != 'S' && credencial.CodigoCredencialOdonto != 'O')}"
         style="margin-top: 10px;background-image: url('{{credencial.CaminhoImagemCredenciaOdonto }}');">
        <img class="img-ans" src="images/logo_ans_numero_large.jpg" />
        
        <ons-button id="terceira" modifier="quiet" ng-click="showPopOverTerceira('#terceira')" ng-show="credencial.PlanoTerceira != null">
            Mediservice
        </ons-button>

        <div id="conteudo-credencial-eletronica" class="narrow-pct" style="transform:translate3d(0,0,0);z-index:10;">
            <div id="numero-credencia">
                <span>{{credencial.NumeroCredenciaOdonto}}</span>
            </div>
            <div id="nome-beneficiario">{{credencial.NomeBeneficiario}}</div>

            <!--<div class="barcode" ng-show="credencial.NumeroCodigoBarra != null">
                {{credencial.NumeroCodigoBarra}}
            </div>-->

            <div>
                <!--Data de ingresso-->
                <span>INGRESSO</span>
                <span id="data-ingresso">{{credencial.DataIngresso | date: 'dd/MM/yyyy'}}</span>

                <span class="mid-column">
                    <!--Validade-->
                    <span>VALIDADE</span>
                    <span id="data-fim">{{credencial.DataFimCredencialOdonto | date: 'dd/MM/yyyy'}}</span>
                </span>

                <!--Plano-->
                <span>PLANO</span>
                <span id="plano">{{credencial.CodigoPlanoOdonto}}</span>
            </div>

            <div id="cpt-wrapper" ng-show="credencial.DescricaoCptOdonto != null">
                <span class="cpt">{{credencial.DescricaoCptOdonto}}</span><span>&nbsp;</span>
            </div>

            <div id="numero-cns" ng-show="credencial.NumeroCns != null">
                {{credencial.NumeroCns}}
            </div>
        </div>
    </div>
</ons-page>