<ons-page modifier="faded" ng-controller="EscolherTituloController">
    <div ng-if="mostraHeader">
        <custom-toolbar menu-button title="{{tituloPagina}}"></custom-toolbar>
    </div>
    <div class="narrow-pct">
        <ons-list class="text-small list--menu" modifier="default">
            <div ng-repeat="titulo in listaTitulo">
                <ons-list-item >
                    <input ng-show="listaTitulo.length > 1" type="radio" class="form-control" name="titulo" ng-model="usuario.tituloEscolhido" ng-value="titulo.NumeroIdentificacaoVinculo"> 
                    N° Associado {{titulo.NumeroIdentificacaoVinculo}}
                </ons-list-item>
            </div>
        </ons-list>
    <ons-button modifier="light1" ng-click="gravarTitulo()" ng-show="listaTitulo.length > 1" style="margin-top:10px;">Confirmar</ons-button>
    </div>

</ons-page>