<ons-page modifier="faded" ng-controller="FingerprintUnblockController">
    <custom-toolbar back-button title="{{pageTitle}}"></custom-toolbar>
    <div class="narrow-px">
        <p class="text-block">
            Autenticação por Digital
        </p>
        <checkbox attr-model="isEnabled" attr-change="handleChange" />
    </div>
</ons-page>