﻿<ons-page modifier="faded" ng-controller="HomeController">
    <custom-toolbar menu-button title="Minha Omint"></custom-toolbar>

    <div class="large-box" ng-show="pendencia" ng-click="navigateToPendingIssue()" >
        <div style="float:left">
            <img src="images/icons/Info.png" />
        </div>
        <div class="text" style="word-wrap: break-word;display: block">
            <div>Notificação pendente</div>
            <div>Clique aqui para mais detalhes</div>
        </div>
    </div>

    <div class="large-box">
      <!--  
        <div>
            <img src="images/icons/Mind Map.png" />
        </div>
        <div class="text">
            <div>Rede Credenciada</div>
            <div>Clique aqui para realizar uma busca</div>
        </div>-->
        <table width="100%">
            <tr>
                <td>
                    <div class="search-container">
                        <input class="text-input--underbar" ng-model="buscaNome" placeholder="Buscar rede credenciada" type="text" />
                        <ons-button modifier="quiet" ng-click="!buscaNome || ajaxLoading || buscaNomeSubmit()">
                            <ons-icon icon="fa-search" size="20px"></ons-icon>
                        </ons-button>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div ng-click="navigateByViewTitle('Rede Credenciada')">Busca Estruturada</div>
                </td>
            </tr>
        </table>
    </div>

    <div ng-show="possuiPendencias" class="modal-aviso" >
        <div>
            <h4 style="color: #d2cfc6">AVISO</h4>
            <p >
                <label style="color: #d2cfc6" id="lblDescricaoPendencia">Titulo com informações cadastrais pendentes.</label>
            </p>
        </div>

        <div class="bottom-anchor">
            <ons-button modifier="light1" ng-disabled="ajaxLoading" ng-click="cancelaAtualizacaoDados()">Lembrar depois</ons-button>
            <ons-button modifier="light1" ng-disabled="ajaxLoading" ng-click="redirecionaAtualizacao()">Atualizar</ons-button>
        </div>
    </div>

    <div class="box-row">
        <div class="box" ng-click="navigateByViewTitle('Atendimento')">
            <div class="notification" ng-show="notificacoes['Atendimento'].length > 0">{{notificacoes['Atendimento'].length}}</div>
            <img src="images/icons/Assistant.png" />
            <div>Atendimento</div>
        </div>

        <div class="box" ng-click="navigateByViewTitle('Meu Plano')">
            <img src="images/icons/User Manual.png" />
            <div>Meu Plano</div>
        </div>
    </div>

    <div class="box-row">
        <div class="box" ng-click="navigateByViewTitle('Credencial Digital')">
            <img src="images/icons/Bank Cards.png" />
            <div>Credencial</div>
        </div>

        <div class="box" ng-click="navigateByViewTitle('Faturas')">
            <img src="images/icons/Bill.png" />
            <div>Faturas</div>
        </div>
    </div>

    <div class="box-row">
        <div class="box" ng-click="navigateByViewTitle('Reembolsos')">
            <img src="images/icons/Refund 2.png" />
            <div>Reembolsos</div>
        </div>

        <div class="box" ng-click="navigateByViewTitle('Autorizações')">
            <img src="images/icons/Approval.png" />
            <div>Autorizações</div>
        </div>
    </div>

    <div class="box news" ng-repeat="noticia in noticias" ng-show="noticias.length > 0">
        
        <div class="item" ng-click="noticiaDetalhe(noticia)">
            <div class="calendar">
                <div class="dia">{{noticia.diaModificacao}}</div>
                <div class="mes">{{noticia.mesModificacao}}</div>
            </div>
            <div class="text">
                <div class="title">{{noticia.title.length > 30 ? noticia.title.substring(0,30) + "..." : noticia.title}}</div>
                <div class="body" ng-bind-html="noticia.body"></div>
            </div>
            <ons-button ng-click="noticiaDetalhe(noticia)" modifier="quiet">Clique para ler a notícia completa</ons-button>
        </div>

        <hr class="hr-narrow-pct" />
    </div>

    <!--LINK PARA TODAS AS NOTICIAS-->
    <div class="box-row">
        <ons-button modifier="light1 wide" ng-show="noticias.length > 0" onclick="app.navigate('views/restrito/noticia-lista.html', true)">Todas as noticias</ons-button>
    </div>

    <div class="box footer">
        <a href="http://www.omint.com.br/novodnn/noticia-detalhes/Certificacao-ISO-9001" target="_blank">
            <img src="images/logo_iso_9001.png" />
        </a>
        <a href="http://www.omint.com.br/novodnn/Credenciados/Tiss" target="_blank">
            <img src="images/logo_tiss.png" />
        </a>

        <a href="http://www.ans.gov.br/" target="_blank">
            <img src="images/logo_ans.png" />
        </a>
        <br />
        <img src="images/logo_ans_numero.png" />

        <div>
            © 2017 - OMINT SAÚDE - TODOS OS DIREITOS RESERVADOS
        </div>
    </div>
</ons-page>