<ons-page modifier="faded" ng-controller="MeusArquivosController">

    <custom-toolbar menu-button title="Meus Documentos"></custom-toolbar>

    <div class="narrow-pct">
        <div ng-if="listaDocumentoAgrupado.length == 0">
            <span>Não há documentos</span>
        </div>
        <ons-list class="text-small list--menu" modifier="default">
            <div ng-repeat="grupoDocumento in listaDocumentoAgrupado">
                <ons-list-header class="list--menu list__header">{{grupoDocumento.name}}</ons-list-header>
                <ons-list-item ng-repeat="item in grupoDocumento.itemCollection" ng-click="download(item)">
                    <div class="flex-content-row">
                       <ons-icon icon="fa-download" /> {{item.Name}}
                    </div>
                </ons-list-item>
            </div>
        </ons-list>
    </div>
</ons-page>