﻿<ons-page modifier="faded" ng-controller="NoticiaListaController">
    <custom-toolbar menu-button title="Lista de Noticias"></custom-toolbar>

    <loading-text ng-show="!noticiaLista.length"></loading-text>

    <no-items-text ng-show="!noticiaLista.length">
        Nenhum registro encontrado.<br />
    </no-items-text>

    <ons-list class="narrow-px" modifier="default">
        <div class="notificacao-ultimas-noticias">
            Exibindo as 30 últimas noticias
        </div>
        <ons-list-item modifier="chevron" ng-click="detalhe(noticia)" ng-repeat="noticia in noticiaLista">

            <div class="flex-content-row text-small">
                <div>
                    <span class="text-highlight1">{{noticia.title}}</span>
                </div>
            </div>

        </ons-list-item>
    </ons-list>

</ons-page>