﻿<ons-page modifier="faded" ng-controller="NoticiaDetalheController">
    <custom-toolbar back-button title="Detalhe da Notícia"></custom-toolbar>
    <div class="narrow-px">

        <table class="data-table-1">
            <tr>
                <td>Título:</td>
                <td>{{noticiaDetalhe.title}}</td>
            </tr>
            <tr>
                <td>Data de Entrada:</td>
                <td>{{noticiaDetalhe.diaModificacao}}/{{noticiaDetalhe.mesModificacao}}/{{noticiaDetalhe.anoModificacao}}</td>
            </tr>
        </table>

        <hr class="hr-narrow-pct" />

        <div ng-bind-html="noticiaDetalhe.body">
        </div>
    </div>
</ons-page>