﻿<ons-page modifier="faded" ng-controller="PendenciaCheckinController">
    <custom-toolbar title="Confirmação de Presença" back-button ></custom-toolbar>
    
    <div class="margin-bottom-px narrow-px" style="margin-top: 1.5em">
        <div class="text-block" style="text-align: center;font-size: 1.5em;font-weight: 800">
            <div style="font-size: 0.8em">
                A sua localização atual é:
            </div>
            <div style="font-size: 0.8em">
                {{data.NomePrestador}} 
            </div>
             <div style="font-size: 0.8em">{{data.EnderecoPrestador}} ?</div>

            
        </div>

        <!--<div style="text-align: center;font-size: 1.5em; font-weight: 800" >
            {{data.ChaveAtendimento}}
        </div>
        -->
        <!--<div class="text-block">
            <p>
                Para maiores detalhes, o atendimento Omint está disponível nos telefones <b>0800 726 4000</b> e 
                <b>11 4004 4011</b>. 
            </p>
        </div>-->
    </div>

        
     <div class="bottom-anchor" style="text-align: center">
        
        <ons-button modifier="wide light1" style="width: 90%" ng-click="submitApproval()">Sim, estou neste local</ons-button>

        <ons-button modifier="wide light1" style="width: 90%" ng-click="submitNegation()">Não, não estou neste local</ons-button>
        
    </div>

</ons-page>