﻿<ons-popover class="terceira-popover" direction="up down" cancelable ng-controller="CredencialEletronicaPopOverController">
    <div class="popover-wrapper narrow-pct">
        <div>
            Número: {{credencial.NumeroTerceira}}
        </div>

        <div>
            Plano: {{credencial.PlanoTerceira}}
        </div>

        <div>
            Acomodação: {{credencial.AcomodacaoTerceira}}
        </div>
    </div>
</ons-popover>