﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaSelecaoPlanoController">
    <custom-toolbar back-button title="Seleção de Rede"></custom-toolbar>

    <ons-list class="narrow-px" modifier="default">
        <ons-list-item modifier="chevron" ng-click="itemClick(item)" ng-repeat="item in planos">
            {{item.Plano.DescricaoRede.capitalize()}}
        </ons-list-item>

    </ons-list>
</ons-page>