﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaBuscaEmergenciaController">
    <custom-toolbar back-button title="Rede Credenciada"></custom-toolbar>

    <titled-box narrow-px title="Resultados da busca">

        <div bind-parent-top class="container">

            <no-items-text ng-show="!buscaEmergenciaResultados.length">
                Nenhum registro encontrado.<br /><br />
                Preencha o campo de texto com no mínimo 4 caracteres e clique no botão para realizar a busca.
            </no-items-text>

            <loading-text></loading-text>

            <div ng-show="buscaEmergenciaResultados.length && !ajaxLoading">
                <div class="center-text">{{buscaEmergenciaResultadosPrestadoresLength}} registro(s) encontrado(s).</div>

                <ons-list modifier="default">

                    <div ng-repeat="cidade in buscaEmergenciaResultados">

                        <div class="dark-separator">{{cidade.Cidade}}</div>

                        <ons-list-item modifier="chevron" ng-click="prestadorClick(prestador)" ng-repeat="prestador in cidade.Prestadores">

                            <div class="text-highlight1">
                                {{prestador.DescricaoPrestador.trim()}}
                            </div>
                            <div class="text-small">
                                <div>
                                    {{prestador.DescricaoRegistro.trim()}}
                                </div>
                                <div>
                                    {{prestador.EnderecoBairro.trim().capitalize()}} - CEP {{prestador.CodigoCep.formatCep()}}.
                                </div>
                                <div>
                                    {{prestador.TipoLogradouro.trim()}} {{prestador.EnderecoRua.trim().capitalize()}}, {{prestador.EnderecoNumero.trim()}}. {{prestador.EnderecoComplemento.trim().capitalize()}} {{prestador.EnderecoExtensao.trim().capitalize()}}
                                </div>
                            </div>
                        </ons-list-item>
                    </div>
                </ons-list>
            </div>
        </div>

    </titled-box>

</ons-page>