﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaBuscaLocalizacaoController">
    <custom-toolbar back-button hide-home-button title="Rede Credenciada">
        <ons-toolbar-button ng-show="!ajaxLoading">
            <ons-icon icon="fa-refresh" onclick="app.navigate('views/restrito/redecredenciada-home.html', true)"></ons-icon>
        </ons-toolbar-button>
    </custom-toolbar>

    <table class="data-table-1 narrow-px">
        <tr>
            <td>Atendimento:</td>
            <td>{{buscaTipoAtendimento.DescricaoTipoAtendimento.capitalize()}}</td>
        </tr>
        <tr>
            <td>Especialidade: </td>
            <td>{{buscaEspecialidade.DescricaoEspecialidade}}</td>
        </tr>
    </table>

    <titled-box narrow-px ng-show="getObjectSize(redeCredenciada.tiposBuscaProximidade)" title="Busca por proximidade">
        <ons-list modifier="default">
            <ons-list-item modifier="chevron" ng-click="buscaProximidade(tipo)" ng-repeat="tipo in redeCredenciada.tiposBuscaProximidade">
                {{tipo.DescricaoProximidade}}
                <div ng-show="tipo.Cep" style="font-size: 13px">
                    {{tipo.Cep}} - {{tipo.Cidade.capitalize().trim()}}/{{tipo.CodigoEstado}}
                </div>
            </ons-list-item>
        </ons-list>
    </titled-box>

    <titled-box class="margin-bottom-px" narrow-px title="Busca por cidade/estado">

        <loading-text ng-show="!getObjectSize(regioes)"></loading-text>

        <div ng-show="getObjectSize(regioes)">
            <div class="select-holder">
                <span>Estado</span>
                <select ng-change="buscaRegiao.cidade=undefined;buscaRegiao.bairro=undefined;" ng-model="buscaRegiao.estado">
                    <option value="">- Selecione -</option>
                    <option ng-repeat="(k, v) in regioes" value="{{k}}">{{k}}</option>
                </select>
            </div>
            <div class="select-holder">
                <span>Cidade</span>
                <select ng-change="buscaRegiao.bairro=undefined" ng-model="buscaRegiao.cidade">
                    <option value="">- {{!buscaRegiao.estado ? "Selecione um estado" : "Selecione"}} -</option>
                    <option ng-repeat="(k, v) in regioes[buscaRegiao.estado]" value="{{k}}">{{k}}</option>
                </select>
            </div>
            <div class="select-holder">
                <span>Bairro</span>
                <select ng-model="buscaRegiao.bairro">
                    <option value="">- Todos os bairros -</option>
                    <option ng-repeat="bairro in regioes[buscaRegiao.estado][buscaRegiao.cidade]" value="{{bairro}}">{{bairro}}</option>
                </select>
            </div>

            <ons-button modifier="wide light1" ng-click="buscaRegiaoSubmit()" ng-disabled="!buscaRegiao.estado || !buscaRegiao.cidade || ajaxLoading">Buscar</ons-button>
        </div>

    </titled-box>

</ons-page>