﻿<style> 
     div.stars {
        /*width: 270px;*/
        display: inline-block;
    }
    .stars-main-form {
        float: left;
    }

    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 12px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 12px #952;
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>  

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<ons-page modifier="faded" ng-controller="RedeCredenciadaDetalhamentoController">
<custom-toolbar back-button hide-home-button title="Rede Credenciada">
    <ons-toolbar-button ng-show="!ajaxLoading">
        <ons-icon icon="fa-refresh" onclick="app.navigate('views/restrito/redecredenciada-home.html', true)"></ons-icon>
    </ons-toolbar-button>
</custom-toolbar>

<div class="narrow-px">
    <table class="data-table-1">
        <tr>
            <td>Nome:</td>
            <td>{{unidade.DescricaoPrestador}}</td>
        </tr>
        <tr>
            <td>Registro:</td>
            <td>{{unidade.DescricaoRegistro}}</td>
        </tr>
        <tr>
            <td>Rede:</td>
            <td>{{nomePlano.trim()}}</td>
        </tr>
        <tr ng-show="unidade.DataDescredenciamento">
            <td>Data de Descredenciamento:</td>
            <td>{{getDataDescredenciamento()}}</td>
        </tr>
        <tr ng-show="unidade.EnderecoRua.trim().length > 0">
            <td>Endereço:</td>
            <td>{{unidade.TipoLogradouro.trim()}} {{unidade.EnderecoRua.trim()}}, {{unidade.EnderecoNumero.trim()}}.</td>
        </tr>
        <tr ng-show="unidade.EnderecoComplemento.trim().length > 0">
            <td>Complemento:</td>
            <td>{{unidade.EnderecoComplemento}}</td>
        </tr>
        <tr ng-show="unidade.EnderecoBairro.trim().length > 0">
            <td>Bairro:</td>
            <td>{{unidade.EnderecoBairro}}</td>
        </tr>
        <tr ng-show="unidade.EnderecoCidade.trim().length > 0">
            <td>Cidade:</td>
            <td>{{unidade.EnderecoCidade.trim()}}/{{unidade.CodigoEstado}}</td>
        </tr>
        <tr ng-show="unidade.CodigoCep.trim().length > 0">
            <td>CEP:</td>
            <td>{{unidade.CodigoCep.formatCep()}}</td>
        </tr>
        <tr ng-show="unidade.DescricaoObservacao.trim().length > 0">
            <td>Observações:</td>
            <td>{{unidade.DescricaoObservacao.trim()}}</td>
        </tr>

        <tr ng-show="unidade.Telefones">
            <td>Telefone: </td>
            <td>
                <ons-button class="telefone" modifier="left-icon quiet" ng-repeat="telefone in unidade.Telefones" system-open-click="tel:{{ formatarTelefoneParaClick(telefone) }}">
                    <ons-icon icon="fa-phone-square"></ons-icon>{{ formatarTelefone(telefone) }}
                </ons-button>
            </td>
        </tr> 
    </table>
    <a latitude="{{unidade.GmLatitude}}" longitude="{{unidade.GmLongitude}}" map-link="{{unidade.DescricaoPrestador}}" ng-show="unidade.GmLatitude && unidade.GmLongitude">
        <map-button></map-button>
    </a>
</div>

<titled-box ng-show="ajaxLoading" title="Carregando detalhes..."></titled-box>

<titled-box narrow-px ng-show="unidadeDetalhes.Especialidades.length > 0" title="Especialidades">
    <div ng-repeat="especialidade in unidadeDetalhes.Especialidades">
        <div>- {{especialidade.DescricaoEspecialidade}}</div>
    </div>
</titled-box>

<titled-box narrow-px ng-show="unidadeDetalhes.Acessos.length > 0" title="Acessos">
    <div ng-repeat="acesso in unidadeDetalhes.Acessos">
        <div>- {{acesso}}</div>
    </div>
</titled-box>

<!--<titled-box narrow-px ng-show="unidade.ScoreTotal.length > 0" title="Selo">
    <table>
        <tr>
            <td><div ng-show="unidade.ScoreTotal > 3"><img src="../../images/logo1.png" height="50" width="50" /></div></td>
            <td>
                <div class="stars stars-main-form">
                    <form>
                        <input class="star star-5" id="star-5" type="radio" name="star" ng-checked="unidade.ScoreTotal == 1" disabled />
                        <label class="star star-5" for="star-5"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" ng-checked="unidade.ScoreTotal == 2" disabled />
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" ng-checked="unidade.ScoreTotal == 3" disabled />
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" ng-checked="unidade.ScoreTotal == 4" disabled />
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-1" id="star-1" type="radio" name="star" ng-checked="unidade.ScoreTotal == 5" disabled />
                        <label class="star star-1" for="star-1"></label>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</titled-box>-->

<titled-box narrow-px ng-show="unidadeDetalhes.Curriculo.length > 0" title="Curriculo">

    <table class="data-table-1">
        <tr ng-repeat="tipo in unidadeDetalhes.Curriculo">
            <td>{{tipo.Tipo}}:</td>
            <td>
                <div ng-repeat="registro in tipo.Registros">{{registro}}</div>
            </td>
        </tr>
    </table>

</titled-box>

<titled-box narrow-px ng-show="unidadeDetalhes.Qualificacoes.length > 0" title="Qualificações">
    <div class="qualificacao" ng-repeat="qualificacao in unidadeDetalhes.Qualificacoes" >
        <span ng-show="qualificacao.UrlIconeImagem != null"><img ng-src="{{qualificacao.UrlIconeImagem}}"></span>
        <div>
            {{qualificacao.CodigoIcone}} - {{qualificacao.TipoCertificacao}}
        </div>
        <div>{{qualificacao.DescricaoCertificacao}}</div>
    </div>
    <div class="instrucao">
        Instrução Normativa 52/DIDES de 21/03/2013<br />
        Conforme a instrução normativa, a qualificação é uma informação voluntária do prestador
    </div>

</titled-box>

<titled-box narrow-px ng-show="unidadeDetalhes.Especialidades.length > 0" title="Mais informações">
    <ons-list modifier="default">
        <ons-list-item modifier="chevron" ng-click="ajaxLoading || planosAtendidosClick()">
            Planos atendidos
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="ajaxLoading || credenciadosSubstitutosClick()" ng-if="unidade.DataDescredenciamento">
            Credenciados substitutos
        </ons-list-item>
    </ons-list>

</titled-box>

<div class="margin-bottom-px">
    <div class="notificacao-descredenciamento" ng-show="unidade.DataDescredenciamento && !ajaxLoading">
        Informações divulgadas conforme RN 365/ANS.
    </div>   
</div>
</ons-page>