<ons-page modifier="faded" ng-controller="RedeCredenciadaBuscaEspecialidadeController">
    <custom-toolbar back-button title="Rede Credenciada"></custom-toolbar>

    <div style="height:100%">
        <div class="header narrow-px" style="transform:translate3d(0,0,0);z-index:10;">


        <table class="data-table-1">
            <tr>
                <td>Atendimento:</td>
                <td>{{buscaTipoAtendimento.DescricaoTipoAtendimento.capitalize()}}</td>
            </tr>
        </table>

<div class="search-container">

            <input class="text-input--underbar" ng-model="buscaNomeEspecialidade" placeholder="Nome da Especialidade" type="text"/>
            <ons-button modifier="quiet" ng-click="buscaNomeEspecialidade.length < 1 || ajaxLoading || buscaNomeEspecialidadeSubmit()">
                <ons-icon icon="fa-search" size="20px"></ons-icon>
            </ons-button>
        </div>

        <div class="center-text">ou</div>

        <ons-list modifier="default">
            <ons-list-item modifier="chevron" ng-click="ajaxLoading || exibirTodasEspecialidadesClick()">
                Exibir todas as especialidades
            </ons-list-item>
        </ons-list>

    </div>

    <titled-box narrow-px title="Resultados da busca">

        <div bind-parent-top class="container" style="position:absolute;left:0;right:0;bottom:0;">

            <no-items-text ng-if="!buscaEspecialidadeResultados.length">
                Nenhum registro encontrado.<br /><br />
                Preencha o campo de texto e clique no botão para realizar a busca.<br />
                Exemplos: Acupuntura, Cardiologia
            </no-items-text>

            <loading-text></loading-text>

            <div ng-show="buscaEspecialidadeResultados.length && !ajaxLoading">
                <div class="center-text">{{buscaEspecialidadeResultados.length}} registro(s) encontrado(s).</div>

                <ons-list modifier="default">

                    <ons-list-item modifier="chevron" ng-click="especialidadeClick(especialidade)" ng-repeat="especialidade in buscaEspecialidadeResultados">
                        {{especialidade.DescricaoEspecialidade}}
                    </ons-list-item>

                </ons-list>
            </div>
        </div>

    </titled-box>
    </div>
</ons-page>
