﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaBuscaProximidadeResultadosController">
    <custom-toolbar back-button hide-home-button title="Rede Credenciada">
        <ons-toolbar-button ng-show="!ajaxLoading">
            <ons-icon icon="fa-refresh" onclick="app.navigate('views/restrito/redecredenciada-home.html', true)"></ons-icon>
        </ons-toolbar-button>
    </custom-toolbar>

    <table class="data-table-1 narrow-px">
        <tr>
            <td>Atendimento:</td>
            <td>{{buscaTipoAtendimento.DescricaoTipoAtendimento.capitalize()}}</td>
        </tr>
        <tr>
            <td>Especialidade: </td>
            <td>{{buscaEspecialidade.DescricaoEspecialidade}}</td>
        </tr>
        <tr>
            <td>Tipo de Busca: </td>
            <td>
                {{buscaProximidadeTipo.DescricaoProximidade}}
                <div ng-show="buscaProximidadeTipo.Cep">
                    CEP {{buscaProximidadeTipo.Cep}}
                    <br />{{buscaProximidadeTipo.Cidade.capitalize().trim()}}/{{buscaProximidadeTipo.CodigoEstado}}
                </div>
            </td>
        </tr>
    </table>

    <titled-box narrow-px title="Resultados da busca">

        <div bind-parent-top class="container">

            <no-items-text ng-show="!resultados.length">Nenhum registro encontrado em um raio de 10km da posição referente ao tipo de busca.</no-items-text>

            <loading-text></loading-text>

            <div ng-show="resultados.length && !ajaxLoading">

                <div class="center-text" ng-show="resultados.length && !ajaxLoading">
                    {{resultados.length}} registro(s) encontrado(s).<br />
                    Exibindo resultados em um raio de 10km da posição referente ao tipo de busca.
                </div>

                <ons-list modifier="default">
                    <ons-list-item modifier="chevron" ng-click="prestadorClick(item.Prestador)" ng-repeat="item in resultados">

                        <div style="padding-bottom: 5px">
                            Distância aproximada: <b>{{item.Distancia >= 1 ? item.Distancia.toFixed(2) + ' km' : (item.Distancia * 1000).toFixed(2) + ' m' }}</b>
                        </div>

                        <div class="text-highlight1">
                            {{item.Prestador.DescricaoPrestador.trim()}}
                        </div>
                        <div class="text-small">
                            <div>
                                {{item.Prestador.DescricaoRegistro.trim()}}
                            </div>
                            <div>
                                {{item.Prestador.EnderecoBairro.trim().capitalize()}} - CEP {{item.Prestador.CodigoCep.formatCep()}}. {{item.Prestador.EnderecoCidade.capitalize().trim()}}/{{item.Prestador.CodigoEstado}}
                            </div>
                            <div>
                                {{item.Prestador.TipoLogradouro.trim()}} {{item.Prestador.EnderecoRua.trim().capitalize()}}, {{item.Prestador.EnderecoNumero.trim()}}. {{item.Prestador.EnderecoComplemento.trim().capitalize()}} {{item.Prestador.EnderecoExtensao.trim().capitalize()}}
                            </div>
                        </div>
                    </ons-list-item>

                </ons-list>
            </div>
        </div>
    </titled-box>

</ons-page>