﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaHomeController">
    <custom-toolbar menu-button title="Rede Credenciada"></custom-toolbar>
    <div class="narrow-px text-block">
        Realize uma busca rápida por nome ou selecione um tipo de credenciado para iniciar uma busca estruturada.
    </div>

    <!-- note: Funcionalidade a ser implementada: Busca de emergência -->
    <!--<titled-box narrow-px title="Pesquisar pronto socorro e pronto atendimento próximos a mim">
        <div class="search-container">
            <ons-button modifier="quiet" ng-click="ajaxLoading || buscaEmergencia()">
                <ons-icon icon="fa-search" size="20px"> Busca de emergência</ons-icon>
            </ons-button>
        </div>
    </titled-box>-->

    <titled-box narrow-px title="Busca por texto livre">
        <div class="search-container">
            <input class="text-input--underbar" ng-model="buscaNome" placeholder="Busca de Rede Credenciada" type="text" />
            <ons-button modifier="quiet" ng-click="!buscaNome || ajaxLoading || buscaNomeSubmit()">
                <ons-icon icon="fa-search" size="20px"></ons-icon>
            </ons-button>
        </div>
    </titled-box>

    <titled-box narrow-px ng-show="tiposAtendimento.length > 0" title="Busca estruturada">
        <ons-list modifier="default">
            <ons-list-item modifier="chevron" ng-click="tipoAtendimentoClick(tipoAtendimento)" ng-repeat="tipoAtendimento in tiposAtendimento">
                {{tipoAtendimento.DescricaoTipoAtendimento.capitalize()}}
            </ons-list-item>
        </ons-list>
    </titled-box>

    <titled-box narrow-px ng-show="redeUltimosAcessos.itens.length > 0" title="Últimas buscas">
        <ons-list modifier="default">
            <ons-list-item modifier="chevron" ng-click="unidadeClick(prestador)" ng-repeat="prestador in redeUltimosAcessos.itens">
                <div class="text-highlight1">
                    {{prestador.Prestador.DescricaoPrestador.trim()}}
                </div>
                <div class="text-small">
                    <div>
                        {{prestador.Prestador.DescricaoRegistro.trim()}}
                    </div>
                    <div>
                        {{prestador.Prestador.EnderecoBairro.trim().capitalize()}} - CEP {{prestador.Prestador.CodigoCep.formatCep()}}.
                    </div>
                    <div>
                        {{prestador.Prestador.TipoLogradouro.trim()}} {{prestador.Prestador.EnderecoRua.trim().capitalize()}}, {{prestador.Prestador.EnderecoNumero.trim()}}. {{prestador.Prestador.EnderecoComplemento.trim().capitalize()}} {{prestador.Prestador.EnderecoExtensao.trim().capitalize()}}
                    </div>
                </div>
            </ons-list-item>
        </ons-list>
    </titled-box>

    <titled-box narrow-px title="Opções">
        <checkbox attr-change="buscarOutrasRedesChange" attr-model="buscarOutrasRedes" ng-show="redeCredenciada.planos.PlanosSubordinados.length > 0">Consultar em outras redes</checkbox>

        <checkbox attr-change="buscarCredenciadosInativosChange" attr-model="buscarCredenciadosInativos">Consultar credenciados inativos</checkbox>

    </titled-box>

</ons-page>