﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaSubstitutosController">
    <custom-toolbar back-button hide-home-button title="Rede Credenciada">
        <ons-toolbar-button ng-show="!ajaxLoading">
            <ons-icon icon="fa-refresh" onclick="app.navigate('views/restrito/redecredenciada-home.html', true)"></ons-icon>
        </ons-toolbar-button>
    </custom-toolbar>
    <table class="data-table-1 narrow-px">
        <tr>
            <td>Nome:</td>
            <td>{{unidade.DescricaoPrestador}}</td>
        </tr>
        <tr>
            <td>Registro:</td>
            <td>{{unidade.DescricaoRegistro}}</td>
        </tr>
    </table>

    <titled-box narrow-px title="Credenciados substitutos">

        <div bind-parent-top class="container">

            <no-items-text ng-show="!resultados.length"></no-items-text>

            <loading-text></loading-text>

            <div ng-show="resultados.length && !ajaxLoading">
                <div class="center-text">{{resultados.length}} registro(s) encontrado(s).</div>

                <ons-list modifier="default">

                    <ons-list-item modifier="chevron" ng-click="prestadorClick(prestador)" ng-repeat="prestador in resultados">

                        <div class="text-highlight1">
                            {{prestador.DescricaoPrestador.trim()}}
                        </div>
                        <div class="text-small">
                            <div>
                                {{prestador.DescricaoRegistro.trim()}}
                            </div>
                            <div>
                                {{prestador.EnderecoBairro.trim().capitalize()}} - CEP {{prestador.CodigoCep.formatCep()}}. {{prestador.EnderecoCidade.capitalize().trim()}}/{{prestador.CodigoEstado}}
                            </div>
                            <div>
                                {{prestador.TipoLogradouro.trim()}} {{prestador.EnderecoRua.trim().capitalize()}}, {{prestador.EnderecoNumero.trim()}}. {{prestador.EnderecoComplemento.trim().capitalize()}} {{prestador.EnderecoExtensao.trim().capitalize()}}
                            </div>
                        </div>
                    </ons-list-item>
                </ons-list>
            </div>
        </div>

    </titled-box>

</ons-page>