﻿<style>
    .slider {
        position: absolute;
        width: 100vw;
        height: 80vh;
        top: 20vh;
        overflow: scroll;
        background-color: #000; 
        color: #FFF;  
        transition: all 1s;
        display: block;
        margin-bottom: 50px;
    }

    .slider.closed {
        display: none;
        overflow: hidden;
    }


    div.stars {
        /*width: 270px;*/
        display: inline-block;
    }
    .stars-main-form {
        float: left;
    } 
    
    input.star {
        display: none;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 12px;
        color: #444;
        transition: all .2s;
    }

    input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }

    input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 12px #952;
    }

    input.star-1:checked ~ label.star:before {
        color: #F62;
    }

    label.star:hover {
        transform: rotate(-15deg) scale(1.3);
    }

    label.star:before {
        content: '\f006';
        font-family: FontAwesome;
    }
</style>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- <div class="page__background page--transparent__background"></div>
    <div style="-webkit-transform: translate3d(0px, 0px, 0px); background: url(images/bg1.jpg); background-position: 50% 0%; background-size: cover; height: 100%; overflow: hidden; position: absolute; top: 0; width: 100%; z-index: -2;">
        <div style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(251, 251, 251, 0.90) 72%, rgba(249, 249, 249, 1) 100%); bottom: -2px; height: 200px; position: absolute; width: 100%;"></div>
    </div>
</div> -->

<ons-page modifier="faded" ng-controller="RedeCredenciadaBuscaNomeController">

    <custom-toolbar back-button title="Rede Credenciada"></custom-toolbar>

    <div class="narrow-px search-container" style="transform:translate3d(0,0,0);z-index:10;">
        <input class="text-input--underbar" ng-model="buscaNome" placeholder="Buscar rede credenciada" type="text" />
        <ons-button modifier="quiet" ng-click="buscaNome.length < 4 || ajaxLoading || buscaNomeSubmit()">
            <ons-icon icon="fa-search" size="20px"></ons-icon>
        </ons-button>
    </div>

    <titled-box narrow-px title="Resultados da busca">
        <div bind-parent-top class="container">
            <no-items-text ng-show="!buscaNomeResultados.length">
                Nenhum registro encontrado.<br /><br />
                Preencha o campo de texto com no mínimo 4 caracteres e clique no botão para realizar a busca.
            </no-items-text>
            <loading-text></loading-text>
            <div ng-show="buscaNomeResultados.length && !ajaxLoading">
                <div class="center-text">{{buscaNomeResultados.length}} registro(s) encontrado(s).</div>

                <ons-list modifier="default">
                    <div>
                        <!--<div class="dark-separator">{{cidade.Cidade}}</div>-->
                        <ons-list-item modifier="chevron" ng-click="prestadorClick(prestador)" ng-repeat="prestador in buscaNomeResultados">
                            <div class="text-highlight1">
                                <div ng-show="prestador.ScoreTotal > 3"><img src="../../images/logo1.png" height="20" width="20" /> {{prestador.DescricaoPrestador.trim()}}</div>
                                <div ng-show="prestador.ScoreTotal <= 3">{{prestador.DescricaoPrestador.trim()}}</div>
                            </div>
                            <div class="text-small">
                                <div style="display: inline-flex">
                                    {{prestador.DescricaoRegistro.trim()}}
                                </div>
                                <div>
                                    {{prestador.EnderecoBairro.trim().capitalize()}} - CEP {{prestador.CodigoCep.formatCep()}}.
                                </div>
                                <div>
                                    {{prestador.TipoLogradouro.trim()}} {{prestador.EnderecoRua.trim().capitalize()}}, {{prestador.EnderecoNumero.trim()}}. {{prestador.EnderecoComplemento.trim().capitalize()}} {{prestador.EnderecoExtensao.trim().capitalize()}}
                                </div>
                                <!--<div class="stars stars-main-form">
                                    <form>
                                        <input class="star star-5" id="star-5" type="radio" name="star" ng-checked="prestador.ScoreTotal == 1" disabled />
                                        <label class="star star-5" for="star-5"></label>
                                        <input class="star star-4" id="star-4" type="radio" name="star" ng-checked="prestador.ScoreTotal == 2" disabled />
                                        <label class="star star-4" for="star-4"></label>
                                        <input class="star star-3" id="star-3" type="radio" name="star" ng-checked="prestador.ScoreTotal == 3" disabled />
                                        <label class="star star-3" for="star-3"></label>
                                        <input class="star star-2" id="star-2" type="radio" name="star" ng-checked="prestador.ScoreTotal == 4" disabled />
                                        <label class="star star-2" for="star-2"></label>
                                        <input class="star star-1" id="star-1" type="radio" name="star" ng-checked="prestador.ScoreTotal == 5" disabled />
                                        <label class="star star-1" for="star-1"></label>
                                    </form>
                                </div>-->
                            </div>
                        </ons-list-item>
                    </div>
                </ons-list>
            </div>
         </div>
    </titled-box>

    <div class="slider closed" id="slider">
        <!--REDE-->
        <!-- <div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">REDE</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-show="credencial.CodigoCredencialMedicina != null">
                    {{credencial.DescricaoCredencialMedicina}}
                </div>
                <div ng-show="credencial.CodigoCredencialOdonto != null">
                    {{credencial.DescricaoCredencialOdonto}}
                </div>
            </div>
        </div> -->

        <!--PLANO-->
        <!-- <div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">PLANO</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-show="credencial.CodigoPlanoMedicina != null">
                    {{credencial.CodigoPlanoMedicina}}
                </div>
                <div ng-show="credencial.CodigoPlanoOdonto != null">
                    {{credencial.CodigoPlanoOdonto}}
                </div>
            </div>
        </div> -->
        
        <!--SERVIÇO-->
        <div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">SERVIÇO</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-click="filtroClick('servico','0001,0003,0004,0007,0009')" ng-show="NewservicoCount.qtdeMedico > 0">
                     <div>Médico ({{NewservicoCount.qtdeMedico}})</div>
                </div>                
                <div ng-click="filtroClick('servico','0002,0005,0006')" ng-show="NewservicoCount.qtdeOdonto > 0">
                     <div>Odontológico ({{NewservicoCount.qtdeOdonto}})</div>
                </div>
            </div>
        </div>
        
        <!--ESTADO-->
        <div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">ESTADO (UF)</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-click="filtroClick('uf',estado.nome.trim())" ng-repeat="estado in estadoQtdePrestadoresLista">
                    <div>{{estado.nome.trim()}} ({{estado.qtde}})</div>
                </div>
            </div>
        </div>

        <!--CIDADE-->
        <div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">CIDADE</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-click="filtroClick('cidade',cidade.nome.trim())" ng-repeat="cidade in CidadeQtdePrestadoresLista">
                    <div>{{cidade.nome.trim()}} ({{cidade.qtde}})</div>
                </div>
            </div>
        </div>

        <!--ESPECIALIDADE-->
        <div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">ESPECIALIDADE</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-click="filtroClick('esp',esp.nome.trim())" ng-repeat="esp in EspecialidadeQtdePrestadoresLista">
                    <div>{{esp.nome.trim()}} ({{esp.qtde}})</div>
                </div>
            </div>
        </div>

        <!--SCORE-->
        <!--<div style="margin:10px 0px 0px 20px;">
            <div class="text-highlight1">AVALIAÇÃO</div>
            <div style="margin:0px 0px 0px 10px;">
                <div ng-click="filtroClick('score',score.nome.trim())" ng-repeat="score in ScoreQtdePrestadoresLista">
                    <div class="stars" style="display: inline-flex">
                        <form>
                            <input class="star star-5" id="star-5" type="radio" name="star" ng-checked="score.nome.trim() == 1" disabled />
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star" ng-checked="score.nome.trim() == 2" disabled />
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star" ng-checked="score.nome.trim() == 3" disabled />
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star" ng-checked="score.nome.trim() == 4" disabled />
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star" ng-checked="score.nome.trim() == 5" disabled />
                            <label class="star star-1" for="star-1"></label>
                        </form>
                        <div style="margin-top:9px">({{score.qtde}})</div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    <div class="tab-bar" style="position: fixed; bottom: 0; width: 100%; margin-top:44px;">
        <table width="100%">
            <tr Width="100%">
                <td width="50%" align="left">
                    <ons-toolbar-button onclick="document.getElementById('slider').classList.toggle('closed');">
                        <ons-icon icon="ion-funnel"></ons-icon>
                    </ons-toolbar-button>
                </td>
                <td width="50%" align="right">
                    <div ng-click="buscaAvancada()">
                        Busca estruturada
                    </div>
                </td>
            </tr>
        </table>
    </div>
</ons-page>


