﻿<ons-page modifier="faded" ng-controller="RedeCredenciadaPlanosAtendidosController">
    <custom-toolbar back-button hide-home-button title="Rede Credenciada">
        <ons-toolbar-button ng-show="!ajaxLoading">
            <ons-icon icon="fa-refresh" onclick="app.navigate('views/restrito/redecredenciada-home.html', true)"></ons-icon>
        </ons-toolbar-button>
    </custom-toolbar>

    <table class="data-table-1 narrow-px">
        <tr>
            <td>Nome:</td>
            <td>{{unidade.DescricaoPrestador}}</td>
        </tr>
        <tr>
            <td>Registro:</td>
            <td>{{unidade.DescricaoRegistro}}</td>
        </tr>
    </table>

    <titled-box class="margin-bottom-px" narrow-px title="Planos atendidos">

        <loading-text></loading-text>

        <no-items-found ng-show="!planosAtendidos.length"></no-items-found>

        <div ng-repeat="plano in planosAtendidos" ng-show="planosAtendidos.length > 0">

            <table class="data-table-1">
                <tr>
                    <td>Código do Plano:</td>
                    <td>{{plano.CodigoPlano}}</td>
                </tr>
                <tr>
                    <td>Contratação:</td>
                    <td>{{plano.DescricaoContratacao.capitalize()}}</td>
                </tr>
                <tr>
                    <td>Nome:</td>
                    <td>{{plano.DescricaoDivulgacao.capitalize()}}</td>
                </tr>
                <tr>
                    <td>Numero de Registro:</td>
                    <td>{{plano.NumeroRegistro}}</td>
                </tr>
                <tr>
                    <td>Segmentação:</td>
                    <td>{{plano.DescricaoSegmentacao.capitalize()}}</td>
                </tr>
                <tr>
                    <td>Situação ANS:</td>
                    <td>{{plano.DescricaoAnsSituacao.capitalize()}}</td>
                </tr>
            </table>

            <hr class="hr-narrow-pct" />

        </div>
    </titled-box>

</ons-page>