﻿<ons-page modifier="faded" ng-controller="ReembolsoFiltroController">
    <custom-toolbar back-button title="Filtrar Reembolsos"></custom-toolbar>
    <div class="narrow-px margin-bottom-px">
        <div class="select-holder">
            <span>Situação</span>
            <select ng-model="filtro.situacao">
                <option value="0">Todos</option>
                <option value="1">Liberados</option>
                <option value="2">Em Andamento</option>
            </select>
        </div>
        <div class="select-holder">
            <span>Serviço</span>
            <select ng-model="filtro.servico">
                <option value="1">Medicina</option>
                <option value="2">Odontologia</option>
            </select>
        </div>
        <div class="select-holder">
            <span>Mês</span>
            <select ng-model="filtro.mes">
                <option value="0">Todos</option>
                <option ng-repeat="i in meses" value="{{i.value}}">{{i.nome}}</option>
            </select>
        </div>
        <div class="select-holder">
            <span>Ano</span>
            <select ng-model="filtro.ano">
                <option ng-repeat="i in anos" value="{{i}}">{{i}}</option>
            </select>
        </div>

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="ajaxLoading">Buscar</ons-button>
    </div>
</ons-page>