﻿<ons-page modifier="faded" ng-controller="ReembolsoListaController">
    <custom-toolbar menu-button title="Lista de Reembolsos"></custom-toolbar>

    <loading-text ng-show="!reembolsoLista.length"></loading-text>

    <no-items-text ng-show="!reembolsoLista.length">
        Nenhum registro encontrado.<br />
        Utilize o filtro para refinar a busca.
    </no-items-text>

    <div bind-selector-bottom=".bottom-anchor" class="container">
        <ons-list modifier="default">

            <!--<ons-list-item modifier="chevron" ng-click="detalhe(reembolso)" ng-repeat="reembolso in reembolsoLista">-->
            <ons-list-item modifier="chevron" ng-click="detalhePorId(reembolso)" ng-repeat="reembolso in reembolsoLista">

                <div class="flex-content-row text-small">
                    <div>
                        Entrada: <span class="text-highlight1">{{reembolso.DataEntrada}}</span>
                    </div>
                    <div>
                        Status: <span class="text-highlight1">{{reembolso.DescricaoSituacao}}</span>
                    </div>

                </div>
                <div class="flex-content-row">
                    <div class="nome">
                        Nº de Protocolo: {{reembolso.IdProtocolo}}
                    </div>
                    <div class="text-highlight1">
                        {{reembolso.ValorApresentado}}
                    </div>
                </div>

            </ons-list-item>
        </ons-list>

    </div>

    <div class="bottom-anchor">
        <ons-button modifier="light1 wide" ng-disabled="ajaxLoading" push-view="restrito/reembolso-filtro">Filtrar</ons-button>
    </div>

</ons-page>