﻿<ons-page modifier="faded" ng-controller="ReembolsoDetalheController">
    <custom-toolbar back-button title="Reembolso"></custom-toolbar>
    <div class="narrow-px">

        <table class="data-table-1">
            <tr>
                <td>Titular:</td>
                <td>{{reembolsoDetalhe.Reembolso.NomeTitular}}</td>
            </tr>
            <tr>
                <td>Data de Entrada:</td>
                <td>{{reembolsoDetalhe.Reembolso.DataEntrada}}</td>
            </tr>
            <tr ng-show="reembolsoDetalhe.Reembolso.DataLiberacao">
                <td>Data de Liberação:</td>
                <td>{{reembolsoDetalhe.Reembolso.DataLiberacao}}</td>
            </tr>
            <tr>
                <td>Situação:</td>
                <td>{{reembolsoDetalhe.Reembolso.DescricaoSituacao}}</td>
            </tr>
            <tr>
                <td>Valor Total Apresentado:</td>
                <td>{{reembolsoDetalhe.Reembolso.ValorApresentado}}</td>
            </tr>
            <tr ng-show="reembolsoDetalhe.Reembolso.DataLiberacao">
                <td>Valor Total Aprovado:</td>
                <td>{{reembolsoDetalhe.Reembolso.ValorAprovado}}</td>
            </tr>
            <tr ng-show="reembolsoDetalhe.DescricaoFormaPagamento">
                <td>Tipo de liquidação:</td>
                <td>{{reembolsoDetalhe.Reembolso.DescricaoFormaPagamento}}</td>
            </tr>
            <tr ng-show="reembolsoDetalhe.Pagamento">
                <td>Identificação:</td>
                <td>Banco {{reembolsoDetalhe.Pagamento.nrBanco}} Agência {{reembolsoDetalhe.Pagamento.nrAgencia}} C/C {{reembolsoDetalhe.Pagamento.nrConta}}</td>
            </tr>
            
            <tr ng-show="reembolsoDetalhe.Reembolso.DescricaoSituacao != undefined ">
                <td>Motivo:</td>
                <td>{{reembolsoDetalhe.Reembolso.DescricaoPendencia}}</td>
            </tr>
        </table>

    </div>

    <titled-box class="margin-bottom-px" narrow-px title="Detalhamento">
        <no-items-text ng-show="!reembolsoDetalhe.Detalhes.length"></no-items-text>

        <div ng-repeat="detalhe in reembolsoDetalhe.Detalhes">

            <table class="data-table-1" style="">
                <tr>
                    <td>Data de Uso:</td>
                    <td>{{detalhe.DataUso}}</td>
                </tr>
                <tr>
                    <td>Beneficiário:</td>
                    <td>{{detalhe.NomeBeneficiario}}</td>
                </tr>
                <tr>
                    <td>Valor Apresentado:</td>
                    <td>{{detalhe.ValorApresentado}}</td>
                </tr>
                <tr ng-show="detalhe.ValorAprovado">
                    <td>Valor Aprovado:</td>
                    <td>{{detalhe.ValorAprovado}}</td>
                </tr>
                <tr>
                    <td>Serviço:</td>
                    <td>{{detalhe.DescricaoServico}}</td>
                </tr>
                <tr>
                    <td>Prestador:</td>
                    <td>{{detalhe.NomePrestador}}</td>
                </tr>

                <tr>
                    <td>Detalhe Pendência:</td>
                    <td>{{detalhe.Ds_Ocorrencia_Motivo}}</td>
                </tr>
            </table>

            <hr class="hr-narrow-pct" />

        </div>

    </titled-box>

</ons-page>