﻿<ons-page modifier="faded" ng-controller="VincularOmintController">
    <custom-toolbar back-button title="Registrar conta de acesso"></custom-toolbar>
    <div class="narrow-px">
        <div class="text-block">
            Selecione qual email deseja utilizar como seu login para acessar a app.
        </div>

        <loading-text ng-show="!emails.length"></loading-text>

        <no-items-text ng-show="!emails.length"></no-items-text>

        <radio attr-model="$parent.emailSelecionado" attr-value="email" ng-repeat="email in emails">{{email}}</radio>

        <input class="text-input--underbar" ng-model="senha" placeholder="Senha" type="password" />
        <input class="text-input--underbar" ng-model="senhaconfirm" placeholder="Repetir Senha" type="password" />

        <ons-button modifier="wide light1" ng-click="submit()" ng-disabled="!emailSelecionado || !senha || senha != senhaconfirm || senha.length < 8 || ajaxLoading">Registrar</ons-button>
    </div>
</ons-page>