﻿@model RegioesResponse

<div class="row row-space">
    <div class="col-xs-2">
        <div class="form-group">
            @Html.LabelFor(x => x.Estado)
            @Html.DropDownListFor(x => x.Estado, Model.ListaEstados, new { @class= "ddl-padrao ddl-estado", @id ="ddlEstado" })
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            @Html.LabelFor(x => x.Cidade)
            @Html.DropDownListFor(x => x.Cidade, Model.ListaCidades, new { @class= "ddl-padrao ddl-cidade-bairro", @id = "ddlCidade" })
        </div>
    </div>
    <div class="col-xs-3">
        <div class="form-group">
            @Html.LabelFor(x => x.Bairro)
            @Html.DropDownListFor(x => x.Cidade, Model.ListaBairros, new { @class = "ddl-padrao ddl-cidade-bairro", @id = "ddlBairro" })
        </div>
    </div>
    <div class="col-xs-3">
        <button type="button" id="btnBuscaRegiao" class="btn-omintexpress">Ok</button>
    </div>
</div>