﻿@model BuscaLocalizacaoRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" id="formBuscaLocalizacao">

    <div class="row">
        <div class="col-xs-12">
            <h4 class="titulo-busca-avancada-omint">Busca por Proximidade</h4>
        </div>
    </div>
    <div class="row row-space">
        <div class="col-xs-2" id="buscaProximosAMim">
            <span><a href="javascript:void(0);" id="btnProximosAMim">Próximos a mim</a></span>
        </div>

        @if (!string.IsNullOrEmpty(Model.Vinculo))
        {
            <div class="col-xs-4">
                <span><a href="javascript:void(0);" id="btnProximosAMinhaResidencia">Proximos a minha residência @Model.Cep - @Model.Cidade/@Model.CodigoEstado</a></span>
            </div>
        }
    </div>

    <div class="row row-space">
        <div class="col-xs-12">
            <h4 class="titulo-busca-avancada-omint">Busca por Região</h4>
        </div>
    </div>

    @{ Html.RenderAction("ObterRegioes", "Localizacao", new BuscaEspecialidadeRequest { Vinculo = Model.Vinculo, Rede = Model.Rede, TipoAtendimento = Model.TipoAtendimento, CodigoEspecialidade = Model.CodigoEspecialidade }); }
 
    @Html.HiddenFor(x => x.Vinculo)
    @Html.HiddenFor(x => x.Rede)
    @Html.HiddenFor(x => x.CodigoEspecialidade)
    @Html.HiddenFor(x => x.Atendimento)
    @Html.HiddenFor(x => x.TipoAtendimento)
    @Html.HiddenFor(x => x.Especialidade)

    @Html.Hidden("latitude")
    @Html.Hidden("longitude")
    @Html.Hidden("buscaProximidadeTipo")

    @Html.Hidden("Cidade")
    @Html.Hidden("CodigoEstado")
    @Html.Hidden("Bairro")
</form>

@section scripts{
    <script src="~/Content/js/busca.rede-credenciada.js"></script>
    <script>
        $(document).on('ready', function () {

            var buscaLocalizacao = new buscaRedeCredenciada.BuscaLocalizacao({
                form: '#formBuscaLocalizacao',
                urlObterCidades: '@Url.Action("ObterCidades", "Localizacao")',
                urlObterBairros: '@Url.Action("ObterBairros", "Localizacao")',
                urlBuscaProximidadeLocal: '@Url.Action("BuscaProximidadeLocal", "Localizacao")',
                urlBuscaRegiao: '@Url.Action("BuscaRegiao", "Localizacao")',
                urlBuscaProximidadeResidencia: '@Url.Action("BuscaProximidadeResidencia", "Localizacao")',
                buscaSelectors: {
                    ddlCidade: '#ddlCidade',
                    ddlEstado: '#ddlEstado',
                    ddlBairro: '#ddlBairro',
                    hdnCidade: '#Cidade',
                    hdnCodigoEstado: '#CodigoEstado',
                    hdnBairro: '#Bairro',
                    buscaProximidadeTipo: '#buscaProximidadeTipo',
                    latitude: '#latitude',
                    longitude: '#longitude',
                    btnBuscaProximosLocalizacao: '#buscaProximosAMim',
                    btnBuscaRegiao: '#btnBuscaRegiao',
                    btnBuscaProximosAMinhaResidencia: '#btnProximosAMinhaResidencia',
                }
            });

            buscaLocalizacao.configurarBuscaLocalizacao();
        });

    </script>
}
