﻿@model FiltroMenu

<div class="col-xs-3 sidebar sidebar-result no-print" style="width:27%">
    <div class="nav nav-sidebar localizacao-sidebar">
        <span class="menu-lateral-localizados">LOCALIZADOS (@Model.QuantidadeLocalizados)</span>
        <a href="javascript:void(0);" class="voltar-action voltar-origem-filtro" data-origem="filtro">Voltar Filtro</a>
    </div>
    <div class="nav nav-sidebar" style="margin-top: 22px;">
        <span class="rede-plano"><img src="~/Content/img/arrow.png"> REDE</span>
        <div class="row">
            <ul class="filtros list-unstyled">
                @foreach (var rede in Model.Redes)
            {
                    <li>
                        <a href="javascript:void(0);" data-descricao-filtro="@rede.Codigo" data-tipo-filtro="rede">@rede.DescricaoFiltro (@rede.QuantidadeRegistrosFiltro)</a>
                    </li>

                }
            </ul>
        </div>
    </div>
    <div class="nav nav-sidebar" style="margin-top: 17px;">
        <span class="rede-plano"><img src="~/Content/img/arrow.png"> PLANO</span>
        <div class="row">
            <ul class="filtros list-unstyled">
                @foreach (var plano in Model.Planos)
            {
                    <li>
                        <a href="javascript:void(0);" data-descricao-filtro="@plano.DescricaoFiltro" data-tipo-filtro="plano">@plano.DescricaoFiltro (@plano.QuantidadeRegistrosFiltro)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="nav nav-sidebar" style="margin-top: 17px;">
        <span class="cabecalho-item-menu-lateral"> SERVIÇO</span>
        <div class="row">
            <ul class="filtros list-unstyled">
                @foreach (var servico in Model.Servicos)
                {
                    <li>
                        <a href="javascript:void(0);" data-descricao-filtro="@servico.DescricaoFiltro" data-tipo-filtro="servico">@servico.DescricaoFiltro (@servico.QuantidadeRegistrosFiltro)</a>
                    </li>

                }
            </ul>
        </div>
    </div>
    <div class="nav nav-sidebar" style="margin-top: 17px;">
        <span class="cabecalho-item-menu-lateral"> ESTADO (UF)</span>
        <div class="row">
            <ul id="estados" class="filtros list-unstyled">
                @for (var i = 0; i < Model.Estados.Count; i++)
                {
                    <li style="@(i > 4 ? "display:none" : string.Empty)">
                        <label for="@Model.Estados[i].DescricaoFiltro"><input type="checkbox" checked="@(((IEnumerable<string>)ViewData["EstadosSelecionados"]).Contains(Model.Estados[i].DescricaoFiltro))" data-descricao-filtro="@Model.Estados[i].DescricaoFiltro" data-tipo-filtro="estado" name="@Model.Estados[i].DescricaoFiltro" class="chkImprimir"> @Model.Estados[i].DescricaoFiltro (@Model.Estados[i].QuantidadeRegistrosFiltro)</label>
                    </li>
                }
                @if (Model.Estados.Count > 4)
                {
                    <li>
                        <span><a data-expand="closed" href="javascript:void(0);" class="expandir-filtros">Ver mais...</a></span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="nav nav-sidebar" style="margin-top: 17px;">
        <span class="cabecalho-item-menu-lateral"> CIDADE</span>
        <div class="row">
            <ul id="cidades" class="filtros list-unstyled">
                @for (var i = 0; i < Model.Cidades.Count; i++)
                {
                    <li style="@(i > 4 ? "display:none" : string.Empty)">
                        <label for="@Model.Cidades[i].DescricaoFiltro"><input type="checkbox" checked="@(((IEnumerable<string>)ViewData["CidadesSelecionadas"]).Contains(Model.Cidades[i].DescricaoFiltro))" data-descricao-filtro="@Model.Cidades[i].DescricaoFiltro" data-tipo-filtro="estado" name="@Model.Cidades[i].DescricaoFiltro" class="chkImprimir"> @Model.Cidades[i].DescricaoFiltro (@Model.Cidades[i].QuantidadeRegistrosFiltro)</label>
                    </li>
                }
                @if (Model.Cidades.Count > 4)
                {
                    <li>
                        <span><a data-expand="closed" href="javascript:void(0);" class="expandir-filtros">Ver mais...</a></span>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="nav nav-sidebar" style="margin-top: 17px;">
        <span class="cabecalho-item-menu-lateral"> ESPECIALIDADE</span>
        <div class="row">
            <ul id="especialidades" class="filtros list-unstyled">
                @for (var i = 0; i < Model.Especialidades.Count; i++)
                {
                    <li style="@(i > 4 ? "display:none" : string.Empty)">
                        <label for="@Model.Especialidades[i].DescricaoFiltro"><input type="checkbox" checked="@(((IEnumerable<string>)ViewData["EspecSelecionadas"]).Contains(Model.Especialidades[i].DescricaoFiltro))" data-descricao-filtro="@Model.Especialidades[i].DescricaoFiltro" data-tipo-filtro="estado" name="@Model.Especialidades[i].DescricaoFiltro" class="chkImprimir"> @Model.Especialidades[i].DescricaoFiltro (@Model.Especialidades[i].QuantidadeRegistrosFiltro)</label>
                    </li>
                }
                @if (Model.Especialidades.Count > 4)
                {
                    <li>
                        <span><a data-expand="closed" href="javascript:void(0);" class="expandir-filtros">Ver mais...</a></span>
                    </li>
                }
            </ul>
        </div>

    </div>
    <button id="btn-filtrar" class="btn btn-primary center-block btn-block">filtrar</button>
</div>