﻿@model ResultadoBuscaResponse

<div class="row no-print">
    <div class="col-lg-4">
        <span class="titulo-busca-rede">BUSCA REDE CREDENCIADA</span>
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-lg-3">
        <span><a href="@Url.Action("BuscaAvancada", "BuscaPrestadores", new { Rede = Model.CodigoRede })">Busca estruturada</a></span>
    </div>
</div>
<div class="row row-space no-print">
    <div class="col-lg-7">
        <div class="box-input-search">
            @Html.TextBoxFor(x => x.Nome, new { @class = "input-search-prestadores", autofocus="true" })
            <button type="submit" class="button" id="btnBuscaForm"></button>
        </div>
    </div>
</div>
<div class="row row-space">
    <div class="col-lg-3">
        @*<span>Consulte a relação de <a href="javascript:void(0);">credenciais inativos</a></span>*@
    </div>
    <div class="col-lg-9">
        @*<span>Está em dúvida? Consulte o Glossário de especialidades <a href="javascript:void(0);">aqui</a></span>*@
    </div>
</div>

@Html.Hidden("Inativos", Model.Inativos)
@Html.Hidden("Vinculo", Model.Vinculo)
@Html.Hidden("codigoRede", Model.CodigoRede)
@Html.Hidden("descricaoRede", Model.DescricaoRede)
@Html.Hidden("plano", Model.Plano)