﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca Rede Credenciada</title>

    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/omint.nova-busca.css" rel="stylesheet" />
    <link href="~/Content/css/omint-modal-login.css" rel="stylesheet" />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/js/modernizr-2.8.3.js"></script>
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'042ddfcc-1b40-49b9-bfe4-18f9c560b0d0'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="row">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>

    <div id="loading" style="display:none;">
        <img src="~/Content/img/carregando.gif" style="height: 270px; margin-top: -90px;" />
    </div>

    <script src="~/Content/js/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/jquery/jquery.blockUI.js"></script>
    <script src="~/Content/js/jquery/jquery.validate.min.js"></script>
    <script src="~/Content/js/bootstrap/bootstrap.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=@ConfigurationManager.AppSettings["googleMaps:ApiKey"]&sensor=false"></script>
    <script src="~/Content/js/jquery.star-rating.js"></script>
    <script src="~/Content/js/omint-blockUI.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>