﻿@model IPagedList<Prestador>

<div class="row row-space-menu" id="resultado">
    @{ Html.RenderAction("MenuFiltro", "FiltroMenu"); }
    <div class="col-xs-9" style="width:73%">
        <div id="map-canvas" class="no-print" style="width: 100%; height: 272px;"></div>
        <div>
            <div class="col-md-10" id="resultDetalhes">
                <div class="row">
                    <div class="prestador-preferencial-title no-print">
                        <img src="~/Content/img/prestador-preferencial.png" class="logo-align" />
                    </div>
                    <div class="rotas-title no-print">
                        <img src="~/Content/img/rotas.png" class="logo-align" />
                    </div>
                    <div class="imprimir-selecionados-title no-print">
                        <a href="javascript:void(0);" id="btnImprimir"><img src="~/Content/img/imprimir-selecionados.png" class="logo-align" /></a>
                    </div>
                    <div class="ordenar-combo-title no-print">
                        <select class="combobox-ordenar-por" id="ddlOrdenacao">
                            <option selected value="">Ordenar Por</option>
                            <option value="nome">Nome</option>
                            <option value="prestadorPreferencial">Prestador Preferencial</option>
                            <option value="distancia">Distância</option>
                        </select>
                    </div>
                    <div class="result-omint-container">
                        @if (Model.Any())
                        {
                            int i = 0;
                            <table class="table-result">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="no-print">
                                            <td>
                                                <div class="div-table-container">
                                                    <div class="col-xs-2">
                                                        @if (item.ScoreTotal >= int.Parse(ConfigurationManager.AppSettings["buscaCredenciada:NrPrestadorPreferencial"]))
                                                        {
                                                            <img src="~/Content/img/logo1.png" class="logo-prestador-align" />
                                                        }
                                                    </div>
                                                    <div class="col-xs-10 div-prestador" data-prestador="@item.DescricaoPrestador" data-endereco="@item.TipoLogradouro @item.EnderecoRua, @item.EnderecoNumero @item.EnderecoComplemento" data-telefone="@(item.Telefones.Any() ? item.Telefones[0].FormatPhone() : item.TelefoneFormatado)">
                                                        <div class="col-xs-9">
                                                            <span class="span-texto-conteudo-prestador">
                                                                <a href="javascript:void(0);">@item.DescricaoPrestador</a>
                                                            </span>
                                                            <div class="span-texto-conteudo" style="display:inline-block">
                                                                <div class="endereco-completo" style="display:inline-block">
                                                                    @item.TipoLogradouro @item.EnderecoRua, @item.EnderecoNumero @item.EnderecoComplemento, @item.EnderecoBairro
                                                                    <span class="endereco-cidade"> - @item.EnderecoCidade - @item.CodigoEstado</span>    
                                                                </div>
                                                                <span class="phone">@(item.Telefones.Any() ? item.Telefones[0].FormatPhone() : item.TelefoneFormatado)</span>    
                                                                <span class="especialidade">Especialidades</span>
                                                                <span class="especialidade">@(item.Especialidades.Any() ? string.Join("/",item.Especialidades) : item.DescricaoEspecialidade)</span>
                                                            </div><br />
                                                        </div>
                                                        <div class="col-xs-3 div-mapa-ver-completo no-print" data-lat="@item.GmLatitude" data-lng="@item.GmLongitude">
                                                            <img src="~/Content/img/pim-mapa-omint.png" />
                                                            <input type="checkbox" class="chkImprimir" />
                                                            @if (!string.IsNullOrWhiteSpace(item.Distancia))
                                                            {
                                                                <br /><small>@item.Distancia</small>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                @Html.Hidden("CodigoPrestador_" + i, item.CodigoPrestador)
                                                @Html.Hidden("Rede_" + i, item.CodigoRede)
                                                @Html.Hidden("NomePrestador_" + i, item.DescricaoPrestador)
                                                @Html.Hidden("Registro_" + i, item.DescricaoRegistro)
                                                @Html.Hidden("Endereco_" + i, string.Format("{0} {1}, {2}", item.TipoLogradouro, item.EnderecoRua, item.EnderecoNumero))
                                                @Html.Hidden("Complemento_" + i, item.EnderecoComplemento)
                                                @Html.Hidden("Bairro_" + i, item.EnderecoBairro)
                                                @Html.Hidden("Cidade_" + i, item.EnderecoCidade.Trim())
                                                @Html.Hidden("Estado_" + i, item.CodigoEstado)
                                                @Html.Hidden("Cep_" + i, item.CodigoCep)
                                                @Html.Hidden("SrEndereco_" + i, item.SrEndereco)
                                                @Html.Hidden("DescricaoObservacao_" + i, item.DescricaoObservacao)
                                                @Html.Hidden("DataDescredenciamento_" + i, item.DataDescredenciamento)
                                                @Html.Hidden("NrAvaliacao_" + i, item.NrAvaliacao)
                                                @Html.Hidden("Telefone_" + i, item.Telefones.Any() ? item.Telefones[0].FormatPhone() : item.TelefoneFormatado)
                                                @Html.Hidden("ScoreTotal_" + i, item.ScoreTotal)
                                                @Html.Hidden("Latitude_" + i, item.GmLatitude)
                                                @Html.Hidden("Longitude_" + i, item.GmLongitude)
                                            </td>
                                        </tr>

                                        i++;
                                    }
                                </tbody>
                            </table>
                            <div class="row no-print" style="margin-left:30px">
                                @Html.PagedListPager(Model, page => Url.Action("PaginarPrestadores", "BuscaPrestadores", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12">
                                @if (ViewBag.Erro != null)
                                {
                                    <span>@ViewBag.Erro</span>
                                }
                                else
                                {
                                    <span>A busca não gerou resultados!</span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xs-2 no-print">
                <div class="espaco-banner-img"
                     style="background-image: url(@Url.Content("~/Content/img/busca/medico-1.jpg"))">
                </div>
                <div class="espaco-banner-img"
                     style="background-image: url(@Url.Content("~/Content/img/busca/medico-2.jpg"))">
                </div>
                <div class="espaco-banner-img"
                     style="background-image: url(@Url.Content("~/Content/img/busca/medico-3.jpg"))">
                </div>
            </div>
        </div>
    </div>
</div>
