﻿@model IPagedList<DadosLocalizacao>

<div class="row row-space-menu" id="resultado">
    @{ Html.RenderAction("MenuFiltro", "FiltroMenu"); }
    <div class="col-xs-9" style="width:73%">
        <div id="map-canvas" class="no-print" style="width: 100%; height: 272px;"></div>
        <div>
            <div class="col-md-10" id="resultDetalhes">
                <div class="row">
                    <div class="prestador-preferencial-title no-print">
                        <img src="~/Content/img/prestador-preferencial.png" class="logo-align" />
                    </div>
                    <div class="rotas-title no-print">
                        <img src="~/Content/img/rotas.png" class="logo-align" />
                    </div>
                    <div class="imprimir-selecionados-title no-print">
                        <a href="javascript:void(0);" id="btnImprimir"><img src="~/Content/img/imprimir-selecionados.png" class="logo-align" /></a>
                    </div>
                    <div class="ordenar-combo-title no-print">
                        <select class="combobox-ordenar-por" id="ddlOrdenacao">
                            <option selected value="">Ordenar Por</option>
                            <option value="nome">Nome</option>
                            <option value="prestadorPreferencial">Prestador Preferencial</option>
                            <option value="distancia">Distância</option>
                        </select>
                    </div>
                    <div class="result-omint-container">
                        @if (Model.Any())
                        {
                            <table class="table-result">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        int i = 0;
                                        <tr class="no-print">
                                            <td>
                                                <div class="div-table-container">
                                                    <div class="col-xs-2">
                                                        @if (item.Prestador.ScoreTotal >= int.Parse(ConfigurationManager.AppSettings["buscaCredenciada:NrPrestadorPreferencial"]))
                                                        {
                                                            <img src="~/Content/img/logo1.png" class="logo-prestador-align" />
                                                        }
                                                    </div>
                                                    <div class="col-xs-10 div-prestador" data-prestador="@item.Prestador.DescricaoPrestador" data-endereco="@item.Prestador.TipoLogradouro @item.Prestador.EnderecoRua, @item.Prestador.EnderecoNumero @item.Prestador.EnderecoComplemento" data-telefone="@item.Prestador.TelefoneFormatado">
                                                        <div class="col-xs-9">
                                                            <span class="span-texto-conteudo-prestador">
                                                                <a href="javascript:void(0);">@item.Prestador.DescricaoPrestador</a>
                                                            </span>
                                                            @*<span class="span-texto-conteudo" style="display:inline-block">@item.Prestador.TipoLogradouro @item.Prestador.EnderecoRua, @item.Prestador.EnderecoNumero @item.Prestador.EnderecoComplemento, @item.Prestador.EnderecoBairro  <span class="phone">@item.Prestador.TelefoneFormatado</span></span><br />*@
                                                            <div class="span-texto-conteudo" style="display:inline-block">
                                                                <div class="endereco-completo" style="display:inline-block">
                                                                    @item.Prestador.TipoLogradouro @item.Prestador.EnderecoRua, @item.Prestador.EnderecoNumero @item.Prestador.EnderecoComplemento, @item.Prestador.EnderecoBairro
                                                                    <span class="endereco-cidade"> - @item.Prestador.EnderecoCidade - @item.Prestador.CodigoEstado</span>
                                                                </div>
                                                                <span class="phone">@item.Prestador.TelefoneFormatado</span>
                                                                <span class="especialidade">Especialidades</span>
                                                                <span class="especialidade">@item.Prestador.DescricaoEspecialidade</span>
                                                            </div><br />
                                                        </div>
                                                        <div class="col-xs-3 div-mapa-ver-completo no-print" data-lat="@item.Prestador.GmLatitude" data-lng="@item.Prestador.GmLongitude">
                                                            <img src="~/Content/img/pim-mapa-omint.png" />
                                                            <input type="checkbox" class="chkImprimir no-print" />
                                                            @if (item.Distancia > 0)
                                                            {
                                                                <br /><small>@string.Format("{0:N2} km", item.Distancia)</small>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                @Html.Hidden("CodigoPrestador_" + i, item.Prestador.CodigoPrestador)
                                                @Html.Hidden("Rede_" + i, item.Prestador.CodigoRede)
                                                @Html.Hidden("NomePrestador_" + i, item.Prestador.DescricaoPrestador)
                                                @Html.Hidden("Registro_" + i, item.Prestador.DescricaoRegistro)
                                                @Html.Hidden("Endereco_" + i, string.Format("{0} {1}, {2}", item.Prestador.TipoLogradouro, item.Prestador.EnderecoRua, item.Prestador.EnderecoNumero))
                                                @Html.Hidden("Complemento_" + i, item.Prestador.EnderecoComplemento)
                                                @Html.Hidden("Bairro_" + i, item.Prestador.EnderecoBairro)
                                                @Html.Hidden("Cidade_" + i, item.Prestador.EnderecoCidade.Trim())
                                                @Html.Hidden("Cep_" + i, item.Prestador.CodigoCep)
                                                @Html.Hidden("SrEndereco_" + i, item.Prestador.SrEndereco)
                                                @Html.Hidden("Estado_" + i, item.Prestador.CodigoEstado)
                                                @Html.Hidden("DescricaoObservacao_" + i, item.Prestador.DescricaoObservacao)
                                                @Html.Hidden("DataDescredenciamento_" + i, item.Prestador.DataDescredenciamento)
                                                @Html.Hidden("NrAvaliacao_" + i, item.Prestador.NrAvaliacao)
                                                @Html.Hidden("Telefone_" + i, item.Prestador.TelefoneFormatado)
                                                @Html.Hidden("ScoreTotal_" + i, item.Prestador.ScoreTotal)
                                                @Html.Hidden("Latitude_" + i, item.Prestador.GmLatitude)
                                                @Html.Hidden("Longitude_" + i, item.Prestador.GmLongitude)
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                            <div class="row no-print" style="margin-left:30px">
                                @Html.PagedListPager(Model, page => Url.Action("PaginarPrestadoresProximidade", "Localizacao", new { page }))
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-12">
                                @if (ViewBag.Erro != null)
                                {
                                    <span>@ViewBag.Erro</span>
                                }
                                else
                                {
                                    <span>A busca não gerou resultados!</span>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="col-xs-2 no-print">
                <div class="espaco-banner-img"
                     style="background-image: url(@Url.Content("~/Content/img/busca/medico-1.jpg"))">
                </div>
                <div class="espaco-banner-img"
                     style="background-image: url(@Url.Content("~/Content/img/busca/medico-2.jpg"))">
                </div>
                <div class="espaco-banner-img"
                     style="background-image: url(@Url.Content("~/Content/img/busca/medico-3.jpg"))">
                </div>
            </div>
        </div>
    </div>

</div>