﻿@model ResultadoBuscaResponse

<script src="~/Content/js/filtro.rede-credenciada.js"></script>
<script src="~/Content/js/maps.busca-rede-credenciada.js"></script>
<script src="~/Content/js/busca.rede-credenciada.js"></script>

<script>

        var OrigemVoltar = {
            filtro: '1',
            detalhes: '2'
        };

    $(document).on('ready', function () {

        $(document).on('click', '.expandir-filtros', function (e) {
            e.preventDefault();

            var element = $(this);
            var expandState = element.data('expand');

            if (expandState === 'closed') {
                element.closest('li').siblings(':not(:visible)').show();
                element.text('Ver menos...');
                element.data('expand', 'opened');
            } else {
                element.closest('li').siblings(':gt(4)').hide();
                element.text('Ver mais...');
                element.data('expand', 'closed');
            }
        });

            var filtroRede = new FiltroRedeCredenciada({
                divContainer: '#resultado',
                selectorAvaliacao: '.avaliacao-filtro',
                endpoints: {
                    multiplosFiltros: '@Url.Action("Filtrar", "FiltroMenu")',
                    filtrarPorServico: '@Url.Action("FiltrarPorServico", "FiltroMenu")',
                    filtrarPorRede: '@Url.Action("FiltrarPorRede", "FiltroMenu")',
                    filtrarPorPlano: '@Url.Action("FiltrarPorPlano", "FiltroMenu")',
                    filtrarPorAvaliacao: '@Url.Action("FiltrarPorAvaliacao", "FiltroMenu")',
                    ordenarResultado: '@Url.Action("OrdenarResultadoPrestadores", "FiltroMenu")',
                    ordenarResultadoPorDistancia: '@Url.Action("OrdenarPrestadoresPorDistancia", "FiltroMenu")'
                },

                afterRenderView: function (result) {

                    var mapaBusca = criarMapaBusca({
                        distance: {
                            lat: result.DefaultLat,
                            lng: result.DefaultLng
                        },
                        markersData: result.MarcadoresGoogleMaps,
                    });

                    mapaBusca.iniciarGoogleMaps();
                    //$('.avaliacao-filtro > .col-lg-4 > span.nota-estrela').notaEstrela();
                }
            });

             var detalhes = new buscaRedeCredenciada.DetalhesBusca({
                urlDetalhes: '@Url.Action("Detalhes", "BuscaPrestadores")',
                formData:'#formBusca',
                divContainerDetalhes: '#resultDetalhes',
                selectorDetalhes: '.span-texto-conteudo-prestador',
                selectorPlanosAtendidos: '#btnPlanosAtendidos',
                divContainerPlanosAtendidos: '#planosAtendidos',
                selectorVerLocalizacao: '.div-mapa-ver-completo',
                seletorDetalhesLocalizacao: '.pim-mapa-detalhes',
                urlPlanosAtendidos: '@Url.Action("PlanosAtendidos", "BuscaPrestadores")',
                selectorNotaEstrela: '.detalhes-align-estrelas > span.nota-estrela',
                reloadMap: function (event) {
                    var target = $(event.currentTarget);
                    var latitude = target.data('lat');
                    var longitude = target.data('lng');

                    if (!latitude || !longitude) {
                        alert('o prestador não possui rota!');
                        return;
                    }

                    $('#latitude').val(latitude);
                    $('#longitude').val(longitude);

                    var endPos = {
                        lat: latitude,
                        lng: longitude
                    };

                    var mapab = new MapaBuscaRedeCredenciada({
                        divContainer: 'map-canvas',
                        icon: '@Url.Content("~/Content/img/pim-mapa-omint.png")'
                    });

                    mapab.configurarMapeamentoRota(endPos);
                }
            });

             detalhes.configurarDetalhesBusca();
             filtroRede.configurarAcaoFiltro();

             configurarImprimir();

             //$('span.nota-estrela').notaEstrela();
        });


        $(document).on('click', '.voltar-action', voltar);

        $('#formBusca').on('submit', function (e) {
            var nome = $('#Nome').val();

            if (nome.length < 3 || nome.trim().length < 3) {
                alert('O campo de busca precisa ter pelo menos 3 caracteres!');
                return false;
            }

            window.parent.postMessage("esconder-header", "*");
        });


        google.maps.event.addDomListener(window, 'load', function () {

            var mapaBusca = criarMapaBusca({
                distance: {
                    lat: '@Model.DefaultLat',
                    lng: '@Model.DefaultLng',
                    nome: '@Model.Nome'
                },
                markersData: @Html.Raw(Model.MarcadoresGoogleMapsPosition ?? "[]")
            });

            mapaBusca.iniciarGoogleMaps();
        });

        function criarMapaBusca(model) {
            var data = {
                divContainer: 'map-canvas',
                icon: '@Url.Content("~/Content/img/pim-mapa-omint.png")'
            }

            var mapaBusca = new MapaBuscaRedeCredenciada($.extend(true, data, model));
            return mapaBusca;
        }

        function configurarImprimir() {
            var imprimir = new buscaRedeCredenciada.Imprimir({
                classRegistroSelecionado: 'no-print',
                checkboxSelector: '.chkImprimir',
                botaoImprimir: '#btnImprimir'
            });

            imprimir.configurar();
        }

        function voltar(e) {
            e.stopPropagation();
            var origem = $(e.currentTarget).data('origem');

            $.ajax({
                url: '@Url.Action("Voltar", "FiltroMenu")',
                data: { origemVoltar: OrigemVoltar[origem] },
                dataType: 'JSON',
                type: 'POST'

            }).done(function (result) {
                $('#resultado').html(result.ViewResult);

                var mapaBusca = criarMapaBusca({
                    distance: {
                        lat: result.DefaultLat,
                        lng: result.DefaultLng
                    },
                    markersData: result.MarcadoresGoogleMaps,
                });

                mapaBusca.iniciarGoogleMaps();
                configurarImprimir();
            });
        }

        function submeterForm(e) {
            var nome = $('#Nome').val();

            if (nome.length < 3 || nome.trim().length < 3) {
                alert('O campo de busca precisa ter pelo menos 3 caracteres!');
                return;
            }

            window.parent.postMessage("esconder-header", "*");
            $('#formBusca').submit();
        }
</script>
