﻿@model DetalhamentoResponse

<div class="row">
    <div class="prestador-preferencial-title">
        <img src="~/Content/img/prestador-preferencial.png" class="logo-align" />
    </div>
    <div class="rotas-title">
        <img src="~/Content/img/rotas.png" class="logo-align" />
    </div>
</div>
<div class="row">
    <div class="result-omint-container detalhes">
        <div class="detalhes-cabecalho">
            <div class="col-sm-2">
                @if (Model.ScoreTotal >= int.Parse(ConfigurationManager.AppSettings["buscaCredenciada:NrPrestadorPreferencial"]))
                {
                    <img src="~/Content/img/logo1.png" class="logo-prestador-align" />
                }
            </div>
            <div class="col-lg-10" style="margin-top: 12px;" data-prestador="@Model.NomePrestador" data-endereco="@Model.Endereco @Model.Complemento" data-telefone="@Model.Telefone">
                <span class="span-texto-conteudo-prestador">@Model.NomePrestador</span>
                <span class="span-texto-conteudo">@Model.Endereco @Model.Complemento, @Model.Bairro</span>
                <div class="pull-right div-imagem-pim-mapa pim-mapa-detalhes" data-lat="@Model.Latitude" data-lng="@Model.Longitude">
                    <a href="javascript:void(0)" class="voltar-action voltar-origem-detalhes" data-origem="detalhes">Voltar Lista</a>
                    <img src="~/Content/img/pim-mapa-omint.png" style="margin-left: 30px;" />
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <!-- responsável pelos selos de qualidade -->
            @foreach (var qualificacao in Model.Data.Qualificacoes)
            {
                if (!string.IsNullOrWhiteSpace(qualificacao.UrlIconeImagem))
                {
                    <div class="col-lg-2" style="margin-left:30px">
                        <img src="@qualificacao.UrlIconeImagem" />
                    </div>
                }
            }
        </div>

        @if (!string.IsNullOrWhiteSpace(Model.Registro))
        {
            <div class="col-lg-12 detalhes-registro">
                <div class="col-lg-2 titulo-detalhe detalhes-align">
                    <span>REGISTRO</span>
                </div>
            </div>
                    <div class="col-lg-12">
                        <div class="col-lg-4 detalhe-info detalhes-align">
                            <span>@Model.Registro</span>
                        </div>
                    </div>
        }

        @if (Model.Data.Especialidades.Any())
        {
            <div class="col-lg-12 detalhes-registro">
                <div class="col-lg-2 titulo-detalhe detalhes-align">
                    <span>ESPECIALIDADES</span>
                </div>
            </div>

            foreach (var especialidade in Model.Data.Especialidades)
            {
                <div class="col-lg-12">
                    <div class="col-lg-8 detalhe-info detalhes-align">
                        <span>@especialidade</span>
                    </div>
                </div>
            }
        }

        @if (Model.Data.Telefones.Any())
        {
            <div class="col-lg-12 detalhes-registro">
                <div class="col-lg-2 titulo-detalhe detalhes-align">
                    <span>TELEFONES</span>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-8 detalhe-info detalhes-align">
                    <span>@String.Join(" ", Model.Data.Telefones.Select(s=> s.FormatPhone()))</span>
                </div>
            </div>

            @*foreach (var telefones in Model.Data.Telefones)
            {
                <div class="col-lg-12">
                    <div class="col-lg-8 detalhe-info detalhes-align">
                        <span>@telefones.FormatPhone()</span>
                    </div>
                </div>
            }*@
        }


        @if (Model.Data.Acessos.Any())
        {
            <div class="col-lg-12 detalhes-registro">
                <div class="col-lg-2 titulo-detalhe detalhes-align">
                    <span>ACESSOS</span>
                </div>
            </div>

            foreach (var acesso in Model.Data.Acessos)
            {
                <div class="col-lg-12">
                    <div class="col-lg-8 detalhe-info detalhes-align">
                        <span>@acesso</span>
                    </div>
                </div>
            }
        }

        @if (Model.Data.Curriculo.Any())
        {
            <div class="col-lg-12 detalhes-registro">
                <div class="col-lg-8 titulo-detalhe detalhes-align">
                    <span>CURRICULO</span>
                </div>
            </div>

            foreach (var curriculo in Model.Data.Curriculo)
            {
                <div class="col-lg-12">
                    <div class="col-lg-12 detalhe-info detalhes-align">
                        <span>@curriculo.Tipo</span>
                    </div>
                    @foreach (var registro in curriculo.Registros)
                    {
                        <div class="col-lg-8 detalhe-info detalhes-align">
                            <span>@registro</span>
                        </div>
                    }
                </div>
            }
        }

        <div class="col-lg-12 detalhes-registro">
            <div class="col-lg-8 titulo-detalhe detalhes-align">
                <span>SITE</span>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-lg-8 detalhe-info detalhes-align">
                <span>Não Disponivel</span>
            </div>
        </div>
        @*<div class="row">
            <div class="col-lg-8 detalhes-registro">
                <div class="col-lg-3 detalhes-align-estrelas">
                    <span class="nota-estrela">@Model.ScoreTotal</span>
                </div>
                <div class="col-lg-1">
                    <span>(@Model.NrAvaliacao)</span>
                </div>
            </div>
        </div>*@
        <div class="col-lg-12 detalhes-registro">
            <div class="col-lg-8 detalhes-align" style="font-size:13px;">
                <span><a href="javascript:void(0);" id="btnPlanosAtendidos">Ver Planos Atendidos</a></span>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(x => x.NomePrestador)
@Html.HiddenFor(x => x.Registro)
@Html.HiddenFor(x => x.CodigoRede)
@Html.HiddenFor(x => x.CodigoPrestador)

<div class="row">
    <div class="result-omint-container" id="planosAtendidos"></div>
</div>
