﻿@model RedeEspecialidadeResponse

@if (Model.Data.Any())
{
    <table class="table-result">
        <tbody>
            @foreach (var especialidade in Model.Data)
            {
                <tr style="height:30px;">
                    <td><span><a href="javascript:void(0);" data-codigo-especialidade="@especialidade.CodigoEspecialidade" id="especialidade_@especialidade.CodigoEspecialidade">@especialidade.DescricaoEspecialidade.Trim()</a></span></td>
                </tr>
            }
        </tbody>
    </table> 
}
else
{
    <div class="col-lg-12">
        @if (ViewBag.Erro != null)
        {
            <span>@ViewBag.Erro</span>
        }
        else
        {
            <span>A busca não gerou resultados!</span>
        }
    </div>
}