﻿@model PlanosAtendidosResponse

@if (Model.Data.Any())
{
    <table class="table-result">
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        <div style="margin-top: 15px;">
                            <div class="col-lg-12">
                                <span class="planos-atendidos-detalhes">Código do plano: @item.CodigoPlano</span>
                            </div>
                            <div class="col-lg-12">
                                <span class="planos-atendidos-detalhes">Contratação: @item.DescricaoContratacao</span>
                            </div>
                            <div class="col-lg-12">
                                <span class="planos-atendidos-detalhes">Nome: @item.DescricaoDivulgacao</span>
                            </div>
                            <div class="col-lg-12">
                                <span class="planos-atendidos-detalhes">Número de registro: @item.NumeroRegistro</span>
                            </div>
                            <div class="col-lg-12">
                                <span class="planos-atendidos-detalhes">Segmentação: @item.DescricaoSegmentacao</span>
                            </div>
                            <div class="col-lg-12">
                                <span class="planos-atendidos-detalhes">Situação ANS: @item.DescricaoAnsSituacao</span>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="col-lg-12">
        @if (ViewBag.Erro != null)
        {
            <span>@ViewBag.Erro</span>
        }
        else
        {
            <span>A busca não gerou resultados!</span>
        }
    </div>
}


