﻿@model ResultadoBuscaResponse

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IPagedList<Prestador> listaPrestador = ViewBag.PagedList as IPagedList<Prestador>;
}

<div class="row">
    @using (Html.BeginForm("ResultadoBusca", "BuscaPrestadores", FormMethod.Post, new { @id = "formBusca" }))
    {
        Html.RenderPartial("~/Views/Shared/_FormularioBuscaNome.cshtml", Model);

        if (listaPrestador != null)
        {
            Html.RenderPartial("~/Views/Shared/_ListaResultadoBusca.cshtml", listaPrestador);
        }
        else
        {
            <div class="row">
                <div class="col-lg-12">
                    <span>Ocorreu um erro ao realizar a busca, favor tente mais tarde!</span>
                </div>
            </div>
        }

        @Html.Hidden("latitude")
        @Html.Hidden("longitude")
        @Html.Hidden("QuantidadeLocalizados", Model.QuantidadeLocalizados)
    }
</div>
<div class="row page_busca_legenda_qualificacoes no-print" style="margin-left: -15px;">
    <div class="instrucoes_normativas_dides">
        <h4>Qualificações</h4>
        <hr>
        <p>Instrução Normativa 52/DIDES de 21/03/2013 </p>
    </div>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_aona.jpg"></div>
                    Padrão nacional de qualidade
                </td>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_dicq.jpg"></div>
                    <span style="color: #000000;">Padrão nacional de qualidade</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_acba.jpg"></div>
                    Padrão internacional de qualidade
                </td>
                <td>
                    <div></div>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_palc.jpg"></div>
                    <span style="color: #000000;">Padrão nacional de qualidade</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_aqg.jpg"></div>
                    Padrão internacional de qualidade
                </td>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_r.jpg"></div>
                    Profissional com residência
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_n.jpg"></div>
                    Comunicação de eventos adversos
                </td>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_p.jpg"></div>
                    Profissional com especialização
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_q.jpg"></div>
                    Qualidade monitorada
                </td>
                <td>
                    <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_e.jpg"></div>
                    Título de Especialista
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {

    @Html.Partial("~/Views/Shared/_ScriptResultadoBusca.cshtml", Model)
}