﻿@model DetalhesRotaResponse
@{
    ViewBag.Title = "VerDetalhesRota";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @using (Html.BeginForm("ResultadoBusca", "BuscaPrestadores", FormMethod.Post, new { @id = "formBusca" }))
    {

        Html.RenderPartial("~/Views/Shared/_FormularioBuscaNome.cshtml", new ResultadoBuscaResponse { Nome = Model.Nome, QuantidadeLocalizados = Model.QuantidadeLocalizados, DefaultLat = Model.Latitude, DefaultLng  = Model.Longitude });

        <div class="row row-space" style="margin-left:18px;">
            <div class="col-lg-12">
                <div>
                    <span class="span-texto-conteudo-prestador">@Model.Prestador</span><br />
                    <span class="span-texto-conteudo">@Model.Endereco - @Model.Telefone</span><br />
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-lg-8" style="height: 457px;" id="map-canvas"></div>
        </div>

        <div class="row page_busca_legenda_qualificacoes" style="margin-left: -15px;">
            <div class="instrucoes_normativas_dides">
                <h4>Qualificações</h4>
                <hr>
                <p>Instrução Normativa 52/DIDES de 21/03/2013 </p>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_aona.jpg"></div>
                            Padrão nacional de qualidade
                        </td>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_dicq.jpg"></div>
                            <span style="color: #000000;">Padrão nacional de qualidade</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_acba.jpg"></div>
                            Padrão internacional de qualidade
                        </td>
                        <td>
                            <div></div>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_palc.jpg"></div>
                            <span style="color: #000000;">Padrão nacional de qualidade</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_aqg.jpg"></div>
                            Padrão internacional de qualidade
                        </td>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_r.jpg"></div>
                            Profissional com residência
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_n.jpg"></div>
                            Comunicação de eventos adversos
                        </td>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_p.jpg"></div>
                            Profissional com especialização
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_q.jpg"></div>
                            Qualidade monitorada
                        </td>
                        <td>
                            <div class="col-lg-2"><img alt="" src="~/Content/img/busca/busca_e.jpg"></div>
                            Título de Especialista
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }


@section scripts {
    <script src="~/Content/js/maps.busca-rede-credenciada.js"></script>
    <script>
        $(document).on('ready', function () {

            $(document).on('click', '#btnBuscaForm', submeterForm);

            google.maps.event.addDomListener(window, 'load', function () {

                var endPos = {
                   lat: '@Model.Latitude',
                   lng: '@Model.Longitude'
                };

                var mapaBusca = new MapaBuscaRedeCredenciada({
                    divContainer: 'map-canvas',
                    icon: '@Url.Content("~/Content/img/pim-mapa-omint.png")'
                });

                mapaBusca.configurarMapeamentoRota(endPos);
            });

            function submeterForm(e) {
                var nome = $('#Nome').val();

                if (nome.length < 3 || nome.trim().length < 3) {
                    alert('O campo de busca precisa ter pelo menos 3 caracteres!');
                    return;
                }

                $('#formBusca').submit();
            }
        });
    </script>

}