﻿<ons-toolbar modifier="transparent">
    <div class="left">
        <ons-back-button ng-show="backButton" ng-style="{visibility: ajaxLoading ? 'hidden' : 'visible'}" 
           onclick="app.unlockScreenOrientation()" style="padding-right: 20px; font-weight: bold;">Voltar</ons-back-button>

        <ons-toolbar-button ng-click="menu.toggleMenu()" ng-show="menuButton" ng-style="{visibility: ajaxLoading ? 'hidden' : 'visible'}">
            <ons-icon icon="ion-navicon" size="28px" />
        </ons-toolbar-button>
    </div>
    <div class="center">{{title}}</div>
    
    <div class="right">
        <ons-toolbar-button ng-show="ajaxLoading">
            <ons-icon icon="ion-load-c" spin="true" />
        </ons-toolbar-button>

        <ons-toolbar-button ng-click="menu.toggleMenu()" ng-show="!ajaxLoading && backButton && !hideHomeButton">
            <ons-icon icon="ion-navicon"></ons-icon>
        </ons-toolbar-button>

        <ng-transclude />
    </div>
</ons-toolbar>