<ons-button ng-disabled="isUploading" ng-if="showAddButton" modifier="wide light1" ng-disabled="isUploading" ng-click="selectDocumentOrigin()">Adicionar documento</ons-button>
<ons-list class="image-list">
    <ons-list-item ng-repeat="image in imageList" ng-click="viewFile(image)">
        <span style="max-width: 100px;">{{image.imageName}}</span>
        <ons-icon icon="fa-trash-o" size="20px" fixed-width="false" ng-click="deleteImage(image)" ng-if="!image.sent && !image.sending"></ons-icon>
        <ons-icon icon="ion-load-c" spin="true" ng-if="!image.sent && image.sending"></ons-icon>
        <ons-icon icon="fa-check" size="20px" fixed-width="false" ng-click="deleteImage(image)" ng-if="image.sent" style="color:green"></ons-icon>
        <div class="file-loader" style="height: 2px;">
            <div class="file-loader-bar" ng-class="{success: image.sent}" ng-style="{'width': image.percentComplete + '%'}"></div>
        </div>
    </ons-list-item>
</ons-list>

<ons-template id="dialog-document-origin.html">
    <ons-dialog var="dialogDocumentOrigin" cancelable>
        <ons-toolbar inline>   
            <div class="right"><ons-icon icon="fa-times" style="margin: 12px;" onclick="dialogDocumentOrigin.hide()"></ons-icon></div>                    
            <div class="center">Selecione a origem</div>
            <div class="left"><ons-icon icon="fa-question-circle" style="margin: 12px;" ng-click="suportedExtensions()"></ons-icon></div>
        </ons-toolbar>
        <p>
            <ons-button ng-click="selectFromFileSystem()" modifier="large light">Meus Arquivos</ons-button>
            <ons-button ng-click="takeFromCamera()" modifier="large light">Câmera</ons-button>
        </p>
    </ons-dialog>
</ons-template>

<ons-template id="dialog-document-extension.html">
    <ons-dialog var="dialogDocumentExtension" cancelable>
        <ons-toolbar inline>
            <div class="center">
                Extensões suportadas
            </div>           
        </ons-toolbar>
        <p>Imagens: jpg, jpeg, png, bmp, tiff</p>
        <p>Documentos: pdf</p>
        <p>
            <ons-button onclick="dialogDocumentExtension.hide()" ng-disabled="isUploading" modifier="large light">Fechar</ons-button>
        </p>
    </ons-dialog>
</ons-tempalte>