﻿@model BuscaEspecialidadeRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <span class="titulo-busca-rede">BUSCA DE REDE CREDENCIADA AVANÇADA</span>
    </div>
    <div class="col-lg-6" style="margin-top: 8px;">
        <span><a href="@Url.Action("BuscaEspecialidadeNome", "BuscaPrestadores", new { tipoAtendimento = "mediclin" })">Busca por especialidade</a></span>
    </div>
 
    <div class="col-xs-12" style="margin-top:50px;">
        <div class="col-xs-4 box-busca-avancada">
            <div class="texto-busca-avancada">
                <a href="@Url.Action("BuscaEspecialidade", "BuscaPrestadores", new { tipoAtendimento = "mediclin" })">
                    <span>Medicos e Clinicas</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4 box-busca-avancada box-busca-avancada-espaco">
            <div class="texto-busca-avancada">
                <a href="@Url.Action("BuscaEspecialidade", "BuscaPrestadores", new { tipoAtendimento = "laborato" })">
                    <span>Centro de diagnosticos</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4 box-busca-avancada box-busca-avancada-espaco">
            <div class="texto-busca-avancada">
                <a href="@Url.Action("BuscaEspecialidade", "BuscaPrestadores", new { tipoAtendimento = "hospital" })">
                    <span>Hospitais e maternidades</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12" style="margin-top:25px;">
        <div class="col-xs-4 box-busca-avancada">
            <div class="texto-busca-avancada">
                <a href="@Url.Action("BuscaEspecialidade", "BuscaPrestadores", new { tipoAtendimento = "prontsoc" })">
                    <span>Pronto atendimento</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4 box-busca-avancada box-busca-avancada-espaco">
            <div class="texto-busca-avancada texto-busca-avancada-hospmat">
                <a href="@Url.Action("BuscaEspecialidade", "BuscaPrestadores", new { tipoAtendimento="pshospital" })">
                    <span>Hospitais e Pronto atendimento</span>
                </a>
            </div>
        </div>
        <div class="col-xs-4 box-busca-avancada box-busca-avancada-espaco">
            <div class="texto-busca-avancada texto-busca-avancada-odonto">
                <a href="@Url.Action("BuscaEspecialidade", "BuscaPrestadores", new { tipoAtendimento = "dentclin" })">
                    <span>Odontologia</span>
                </a>
            </div>
        </div>
    </div>   
</div>

<div class="row page_busca_legenda_qualificacoes" style="margin-left: -15px;">
    <div class="instrucoes_normativas_dides">
        <h4>Qualificações</h4>
        <hr>
        <p>Instrução Normativa 52/DIDES de 21/03/2013 </p>
    </div>
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_aona.jpg"></div>
                    Padrão nacional de qualidade
                </td>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_dicq.jpg"></div>
                    <span style="color: #000000;">Padrão nacional de qualidade</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_acba.jpg"></div>
                    Padrão internacional de qualidade
                </td>
                <td>
                    <div></div>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_palc.jpg"></div>
                    <span style="color: #000000;">Padrão nacional de qualidade</span>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_aqg.jpg"></div>
                    Padrão internacional de qualidade
                </td>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_r.jpg"></div>
                    Profissional com residência
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_n.jpg"></div>
                    Comunicação de eventos adversos
                </td>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_p.jpg"></div>
                    Profissional com especialização
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_q.jpg"></div>
                    Qualidade monitorada
                </td>
                <td>
                    <div class="col-xs-2"><img alt="" src="~/Content/img/busca/busca_e.jpg"></div>
                    Título de Especialista
                </td>
            </tr>
        </tbody>
    </table>
</div>
