﻿@model BuscaEspecialidadeRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h4 class="titulo-busca-avancada-omint">Encontre um Credenciado OMINT</h4>
    </div>
</div>
<div class="row row-space">
    <div class="col-lg-4">
        <span><a href="@Url.Action("BuscaAvancada", "BuscaPrestadores")">Voltar</a></span>
    </div>
</div>
<div class="row row-space">
    @Html.HiddenFor(x => x.Inativos)
    @Html.HiddenFor(x => x.Vinculo)
    @Html.HiddenFor(x => x.Rede)
    @Html.HiddenFor(x => x.TipoAtendimento)
</div>

<div class="row row-space-table" id="result">
    <div class="col-lg-6">
        <div class="result-omint-container" id="result">
            @Html.Partial("~/Views/Resultados/_ResultadoBuscaAvancada.cshtml", ViewData["resultadoOperacao"])
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Content/js/busca.rede-credenciada.js"></script>
    <script>
        $(document).on('ready', function () {

            var buscaEspecialidade = new buscaRedeCredenciada.BuscaEspecialidade({
                urlBuscaLocalizacao: '@Url.Action("BuscaLocalizacao", "Localizacao")?',
                urlBuscaAvancada: '@Url.Action("ResultadoBuscaAvancada", "BuscaPrestadores")',
                divContainer: '#result'
            });

            $(document).on('click', '#btnBuscar', buscarPrestadores);
            $(document).on('click', '#btnBuscarEspecialidade', buscarPrestadoresEspecialidade);
            $(document).on('click', '[id^="especialidade_"]', manipularClickEspecialidade);

            function buscarPrestadores() {
                var nomeEspecialidade = $('#nome').val();

                if (nomeEspecialidade.length < 3 || nomeEspecialidade.trim().length < 3) {
                    alert('O campo de busca precisa ter pelo menos 3 caracteres!');
                    return;
                }

                $('#nome').val('');

                var data = {
                    inativos: $("#Inativos").val(),
                    vinculo: $("#Vinculo").val(),
                    rede: $('#Rede').val(),
                    tipoAtendimento: $('#TipoAtendimento').val(),
                    nomeEspecialidade: nomeEspecialidade
                };

                buscaEspecialidade.buscarPrestadores(data);
            }

            function buscarPrestadoresEspecialidade() {
                var data = {
                    inativos: $("#Inativos").val(),
                    nomeEspecialidade: $("#nome").val(),
                    vinculo: $("#Vinculo").val(),
                    rede: $('#Rede').val(),
                    tipoAtendimento: $('#TipoAtendimento').val()
                };

                buscaEspecialidade.buscarPrestadoresEspecialidade(data);
            }

            function manipularClickEspecialidade(e) {
                var data = {
                    tipoAtendimento: $('#TipoAtendimento').val(),
                    rede: $('#Rede').val()
                };

                buscaEspecialidade.onClickEspecialidade(e, data);
            }
        });

    </script>
}

