﻿@model BuscaNomeRequest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
@using (Html.BeginForm("ResultadoBusca", "BuscaPrestadores", FormMethod.Post, new { @id = "formBusca" }))
{
    if (!string.IsNullOrEmpty(Model.Vinculo))
    {
        Html.RenderPartial("~/Views/Shared/_FormularioBuscaNome.cshtml", new ResultadoBuscaResponse { Vinculo = Model.Vinculo, Inativos = Model.Inativos, Nome = Model.Nome });
    }
    else
    {
        <div class="row" id="result">
            <div class="col-lg-12">
                <div class="rede_aba">
                    <div class="rede_med_odo">
                        <div class="red_med">
                            <div class="rede_aba_ativa_med rede_aba_medica_clck red_ativa" id="abaMedica">
                                <img alt="" src="~/Content/img/omint/bullet_mais_dourado_16x16.png">
                                <p>REDE MÉDICA</p>
                            </div>
                            <div class="rede_aba_divisao_medica" style="background: url(@Url.Content("~/Content/img/omint/borde-med.png")) 0px 0px no-repeat;"></div>
                        </div>
                        <div class="red_odo">
                            <div class="rede_aba_divisao_odonto" style="background: url(@Url.Content("~/Content/img/omint/borde-odo.png")) -28px 0px no-repeat;"></div>
                            <div class="rede_aba_inativa_odo rede_aba_odonto_clck" id="abaOdonto" style="background: url(@Url.Content("~/Content/img/omint/rede_aba_inativa.png")) repeat-x;">
                                <img alt="" src="~/Content/img/omint/bullet_boca_claro_18x10.png">
                                <p style="color: rgb(243, 243, 243); margin-left: 40px;">REDE ODONTOLÓGICA</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="border-bottom: medium none !important; min-height: 145px;" class="rede_conteudo clearboth">
                    <div class="rede_conteudo_1" style="display: block;">
                        <p class="rede_conteudo_titulo">ENCONTRE UM CREDENCIADO OMINT</p>
                        <div class="rede_conteudo_cartao" style="margin-left: 55px; display:block;">
                            <img alt="" tipo="plano" data-nome-plano="Estilo" data-codigo-rede="0001" src="~/Content/img/carteiras/cartao_premium_estilo.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="plano" data-nome-plano="Saúde Integral" data-codigo-rede="0001" src="~/Content/img/carteiras/cartao_premium_integral.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="plano" data-nome-plano="Medicina Completo" data-codigo-rede="0001" src="~/Content/img/carteiras/cartao_premium_completo.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="plano" data-nome-plano="Hospitalar" data-codigo-rede="0001" src="~/Content/img/carteiras/cartao_premium_hospitalar_novo.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="plano" data-nome-plano="Corporate" data-codigo-rede="0009" src="~/Content/img/carteiras/cartao_corporate.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="plano" data-nome-plano="Skill" data-codigo-rede="0003" src="~/Content/img/carteiras/cartao_skill.png" style="overflow: hidden; width: 125px; height: 91px;">
                        </div>
                    </div>
                    <div class="rede_conteudo_2" style="display: none;">
                        <p class="rede_conteudo_titulo">ESCOLHA O PLANO OMINT QUE DESEJA CONSULTAR</p>
                        <div class="rede_conteudo_cartao left" style="margin-left: 194px;">
                            <img alt="" data-codigo-rede="0002" src="~/Content/img/carteiras/cartao_odonto_premium_estilo.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="rede" data-codigo-rede="0002" src="~/Content/img/carteiras/cartao_odonto_premium_integral.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="rede" data-codigo-rede="0002" src="~/Content/img/carteiras/cartao_odonto_premium_odonto.png" style="overflow: hidden; width: 125px; height: 91px;">
                            <img alt="" tipo="rede" data-codigo-rede="0002" src="~/Content/img/carteiras/cartao_odonto_skill.png" style="overflow: hidden; width: 125px; height: 91px;">
                        </div>
                    </div>
                    <div class="rede_conteudo_2_5" style="display: none;">
                        <p style="text-transform: none; margin-top: 10px;" class="rede_conteudo_titulo">Associado do Plano Saúde Integral, além da<br> Rede Omint Premium de Medicina, também pode utilizar as redes listadas abaixo.</p>
                            <select class="ddl-padrao rede_conteudo_rede_consulta_select">
                            </select>
                        <div class="rede_conteudo_rede_consulta_bt"><button type="button" id="bt-ok-rede" class="btn-omintexpress">Ok</button></div>
                    </div>
                </div>
            </div>
            @Html.Hidden("codigoRede", Model.CodigoRede)
            @Html.Hidden("descricaoRede", Model.DescricaoRede)
            @Html.Hidden("plano", Model.Plano)
        </div>
    }
}
</div>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login Busca Prestadores</h1><br>
            <input type="text" name="user" id="usuario" placeholder="Usuário" />
            <input type="password" name="pass" id="senha" placeholder="Senha" />
            <button type="button" name="login" class="login loginmodal-submit">Entrar</button>            
        </div>
    </div>
</div>


@section scripts {        
    <script src="~/Content/js/filtro.busca-nao-logada.js"></script>
    <script>
        $(document).on('ready', function () {
            var vinculo = '@Model.Vinculo';
            var logado = localStorage.getItem('logado') === 'true' || vinculo !== '';

            $(document).on('click', '#btnBuscaForm', submeterForm);
            $(document).on('click', '.loginmodal-submit', realizarLogin);

            function submeterForm(e) {
                e.stopPropagation();
                var nome = $('#Nome').val();

                if (nome.length < 3 || nome.trim().length < 3) {
                    alert('O campo de busca precisa ter pelo menos 3 caracteres!');
                    return;
                }

                window.parent.postMessage("esconder-header", "*");
                $('#formBusca').submit();
            }

            function realizarLogin() {
                var usuario = $('#usuario').val(),
                    senha = $('#senha').val();

                if (!usuario || !senha) {
                    alert('os campos usuários e senhas são obrigatórios!');
                    return;
                }

                $.ajax({
                    url: '@Url.Action("ValidarUsuario", "BuscaPrestadores")',
                    data: {
                        usuario: usuario,
                        senha: senha
                    },
                    dataType: 'JSON',
                    type: 'POST'
                })
                .done(function (result) {
                    if (result.Autorizado) {
                        localStorage.setItem('logado', result.Autorizado);
                        $('#login-modal').modal('hide');
                    } else {
                        alert('usuário e/ou senha inválidos!');
                    }
                });
            }

            var filtroNaoLogado = new FiltroBuscaNaoLogada({
                selectorAbaMedica: '#abaMedica',
                selectorAbaOdonto: '#abaOdonto',
                selectorCartao: '.rede_conteudo_cartao > img',
                selectorRede: '#codigoRede',
                selectorDescricao: '#descricaoRede',
                selectorPlano: '#plano',
                urlFormularioBusca: '@Url.Action("ObterFormularioBusca", "BuscaPrestadores")',
                divContainer: '#result',
                selctorDropDown: '.rede_conteudo_rede_consulta_select',
                selectorBotaoOk: '#bt-ok-rede',
                imagemAbaAtiva: '@Url.Content("~/Content/img/omint/rede_aba_ativa.png")',
                imagemBordMed: '@Url.Content("~/Content/img/omint/borde-med.png")',
                imagemBulletMaisDourado: '@Url.Content("~/Content/img/omint/bullet_mais_dourado_16x16.png")',
                imagemAbaInativa: '@Url.Content("~/Content/img/omint/rede_aba_inativa.png")',
                imagemBulletMaisClaro: '@Url.Content("~/Content/img/omint/bullet_mais_claro_12x12.png")',
                imagemBordOdonto: '@Url.Content("~/Content/img/omint/borde-odo.png")',
                imagemBulletBocaDourada: '@Url.Content("~/Content/img/omint/bullet_boca_dourada_18x10.png")',
                imagemBulletBocaClara: '@Url.Content("~/Content/img/omint/bullet_boca_claro_18x10.png")'
            });

            filtroNaoLogado.configurarFiltro();

            if (!logado) {
                $('#login-modal').modal({ show: true, backdrop: 'static' });
            } 
        });

    </script>        
}